.bannerWrapper {
  position: relative;
  width: 100%;
}

.pageTitle {
  position: absolute;
  bottom: 10%;
  left: 25px;

  h2 {
    color: var(--secondary-text-color);
    min-width: 100px;
    line-height: 1.25;
  }
}

.bannerImage {
  height: 624px;
  width: 100%;
  object-fit: cover;
}

.indicatorIcon {
  width: 6px;
  height: 6px;
  background: var(--secondary-text-color);

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.carouselWrapper {
  margin: 0 -25px;
}

.activeIndicatorIcon {
  opacity: 1;
  transform: scale(1.3);
  margin: 0 1px;
}

.indicatorIconContainer {
  position: absolute;
  bottom: 16px;
  z-index: 5;
}
