.bannerImage {
  height: 225px;
  width: 90%;
  object-fit: cover;
  margin: auto;
  display: flex;
}

.welcome {
  margin-top: 25px;
  font-size: $xlarge;
  text-align: center;
  font-family: var(--secondary-font-regular);
}

.name {
  margin-bottom: 15px;
  margin-top: 7px;
  font-size: $xheader;
  text-align: center;
  font-family: var(--secondary-font-regular);
}

.description {
  font-size: $small;
  margin: auto;
  width: 90%;
  text-align: center;
  line-height: 1.5;
  font-family: var(--primary-font-regular);
  color: var(--tertiary-text-color);
  -webkit-line-clamp: 3;
  margin-top: 20px;
}

.read {
  color: var(--primary-theme-color);
  font-family: var(--primary-font-extd-regular);
  text-align: center;
  margin-top: 10px;
  font-size: $extraSmall;
  gap: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.indicatorIconContainer {
  position: absolute;
  top: 185px;
  z-index: 1;
}

.indicatorIcon {
  width: 6px;
  height: 6px;
  background: var(--primary-indicator-color);
  opacity: 0.5;
  &:not(:last-child) {
    margin-right: 6px;
  }
}

.activeIndicatorIcon {
  width: 6px;
  height: 6px;
  transform: scale(1.3);
  &:not(:last-child) {
    margin-right: 6px;
  }
  border-radius: 0;
  background: var(--primary-indicator-color);
}
