.wrapper {
  padding: 2rem;
  padding-top: 3rem;
}

.title {
  font-size: $xlarge;
}

.itemTitle {
  font-size: $large;
  font-family: var(--primary-font-medium);
  margin: 1.25rem 0;
}

.itemDescription {
  font-size: $medium;
  font-family: var(--primary-font-regular);
}

.buttonContainer {
  display: flex;
  margin-top: 1rem;
}

.buttonLeft {
  font-size: $small;
  font-family: var(--primary-font-bold);
  margin-right: 1rem;
  padding-top: 16px;
}

.buttonRight {
  font-size: $small;
  font-family: var(--primary-font-bold);
  padding-top: 16px;
}
