.pageWrapper {
  justify-content: center;
  align-items: center;
  padding: 10px 10px !important;
  background: #F8F8F8;
}

.pageWrapperSecondary {
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 80px;
}

.diningImage {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-right: 23px;
  object-fit: cover;
}

.diningText {
  display: flex;
  flex-direction: column;
}

.diningTime {
  font-size: 0.75rem;
  line-height: 1;
}

.diningImage {
  width: 120px;
  height: 120px;
  margin-right: 24px;
}

.backdrop {
  background-color: var(--primary-overlay-color);
  height: 100%;
  width: 100%;
  min-height: 844px;
  position: fixed;
  max-width: 768px;
  z-index: 2;
  overflow-y: hidden;
  overflow-x: hidden;
}

.menuDropdown {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background: var(--primary-background-color);
  z-index: 5;
  max-width: 768px;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
  overflow: auto;
  max-height: 250px;
  margin-bottom: 3rem;
}

.menuList {
  max-width: 768px;
  margin: 0 auto;
}

.disable {
  pointer-events: none;
}

.bottomScrollIcon {
  padding: 8px 0;
  position: fixed;
  left: 0;
  right: 0;
  max-width: 768px;
  top: 280px;
  text-align: center;
  z-index: 10;
  background: var(--primary-background-color);
  height: 20px;
  margin: auto;
}

.removeScroll {
  display: none;
}

.scrollContainer {
  &:not(:last-child) {
    color: #00000029;
    background: linear-gradient(to right, currentColor 0%, currentColor 60%, transparent 10%)
      repeat-x left bottom;
    background-size: 20px 1px;
  }
  &:last-child {
    margin-bottom: 2rem;
  }
}

.notScrollContainer {
  &:last-child {
    margin-bottom: 0;
  }
}

.carouselSlideImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.cardWrapper {
  width: 100%;
  margin-top: 80px;
}

.carouselSlide {
  margin-bottom: 25px;
}

.itemTitle {
  margin-top: 10px;
  font-family: var(--primary-card-title-font-family);
  font: $header var(--heading-font-regular);
  text-align: center;
}

.title {
  font-family: var(--primary-title-font-family);
  font: 1.5rem var(--heading-font-regular);
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  text-align: center;
  background: var( --primary-card-background-color);
  z-index: 10;
  padding: 10px 30px;
  box-sizing: border-box;
}

.itemTime {
  font: $small var(--primary-font-regular);
  text-align: center;
  margin-top: 5px;
}

.filterContentWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  z-index: 4;
  background: #F8F8F8;
  padding: 10px 0px;
  max-width: 768px;
  margin: 0 auto;
}
