.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.diningElement {
  &:not(:first-child) {
    margin-top: 83px;
  }

  display: flex;
  align-items: center;
}

.diningImage {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-right: 23px;
  object-fit: cover;
}

.diningText {
  display: flex;
  flex-direction: column;
}

.diningTime {
  font-size: 0.75rem;
  line-height: 1;
}

.diningImage {
  width: 120px;
  height: 120px;
  margin-right: 24px;
}

.pageWrapper {
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.pageWrapperSecondary {
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.overlay {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background: $textColorSecondary;
  z-index: 5;
  max-width: 768px;
  min-height: 80px;
  max-height: 250px;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  display: grid;
}

.scroll {
  overflow: auto;
  width: 768px;
  max-height: 220px;
  margin-bottom: 1rem;
}

// temporary change
.close {
  display: none;
}

.backdrop {
  background-color: #0b0a0a3c;
  height: 100%;
  width: 100%;
  min-height: 844px;
  position: absolute;
  margin-left: -10px;
  margin-top: 77px;
  z-index: 1;
  overflow-y: hidden;
  overflow-x: hidden;
}

.disable {
  pointer-events: none;
}
