.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  //   gap: 37px;
}

.progressWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 25px;
}

.mainWrapper {
  position: relative;
  display: flex;
  box-shadow: 0 -2px 10px var(--primary-box-shadow-color);
  border-radius: 50%;
}

.completed {
  background-color: var(--primary-theme-color);
}

.secWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: $xsmall;
  font-family: var(--primary-font-regular);
  text-align: center;
  min-inline-size: max-content;
}

.label {
  font-size: $small;
  font-family: var(--primary-font-heading);
}

.labelCompleted {
  color: var(--secondary-text-color);
}

.arrowPlacement {
  padding-bottom: 25px;
}
