.centeredText {
  margin-top: 79px;
  line-height: 1;
  font-size: 1rem;
  margin-bottom: 39px;
  text-align: center;
}

.currentChannel {
  font-family: 'Bodoni MT Std';
  font-size: 3.125rem;
  margin-bottom: 60px;
  line-height: 1;
  min-height: 50px;
  text-align: center;
  line-break: anywhere;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
}

.buttonsRow {
  display: flex;
  justify-content: space-between;

  &:not(:last-of-type) {
    margin-bottom: 13px;
  }
}

.tVButton {
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--secondary-text-color);
  border-radius: 50%;
  font-family: 'Bodoni MT Std';
  font-size: 1.875rem;
}

.tVButtonText {
  font-size: 1.5rem;
  font-family: 'Bodoni MT Std';
}

.backIcon {
  width: auto;
  transform: translate(6px, -1px);
  height: 27px;
  path {
    fill: var(--primary-text-color);
  }
}

.roomControlsTvChannelWrapper {
  padding: 0 52px;
  display: flex;
  flex-direction: column;
  position: relative;
}
