.myOrdersWrapper {
  padding: 2rem;
  padding-top: 3rem;
  max-height: 60%;
}

.heading {
  font-size: $xlarge;
  text-align: center;
  font-family: $fontRegular;
  color: $fonttextColor;
  margin-bottom: 25px;
  margin-top: 15px;
}

.billRow {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
  border-radius: 1rem;
  box-shadow: 2px 6px 8px -2px $dropShadowColor;
}

.billTitle {
  font-size: $small;
  font-family: $fontSemibold;
}

.billAmount {
  font-size: 26px;
  font-family: $fontRegular;
  padding-top: 10px;
}

.buttonPayment {
  width: 80%;
  height: 43px;
  margin-top: 2rem;
  font-size: $medium;
  font-family: $fontRegular;
}

.buttonConfirm {
  margin-top: 4rem;
  font-size: $xsmall;
  font-family: $fontMedium;
}
