.roomControlsTvListWrapper {
  padding: 0 33px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.channelsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -15px;
}

.channelWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 6px;
  border-radius: 8px;
  border: 1px solid #968c83;
  width: 95px;
  height: 95px;
  margin-top: 30px;
}

.channelImage {
  max-width: 95%;
  max-height: 70%;
  margin-top: auto;
  object-fit: contain;
}

.channelNumber {
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
}
