.roomControlsTvListWrapper {
  margin-top: 28px;
  padding: 0 31px 0 34px;
  justify-content: space-evenly;
}

.channelWrapper {
  width: 95px;
  height: 95px;
  margin-top: 19px;
  box-sizing: border-box;
  background: #fff;
}
