.housekeepingItemWrapper {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(168, 168, 168, 0.23);
  margin-top: 31px;
  display: flex;
  flex-direction: column;

  &:first-of-type {
    margin-top: 23px;
  }
}

.housekeepingItemTitle {
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-family: 'Bodoni MT Std';
  line-height: 1;
}

.housekeepingItemText {
  font-size: 1rem;
  line-height: 1.25;

  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.4s;
}

.housekeepingItemTextExpanded {
  max-height: 250px;
}

.quantityWrapper {
  margin-left: auto;
  margin-top: 2px;
  height: 37px;
}

.quantityText {
  font-size: 0.9375rem;
}

.button {
  width: 98px;
  height: 35px;
  margin-left: auto;
  margin-top: 2px;
  font-size: 0.8125rem;
  font-weight: 100;
  text-transform: none;
}

.readMore {
  color: $colorPrimary;
  margin-top: 4px;
  font-size: 1rem;
  line-height: 1.25;
  cursor: pointer;
  display: inline-block;
  text-align: start;
  margin-right: auto;
}
