.housekeepingItemWrapper {
  width: 171px;
  height: 155px;
  margin: 7px;
  text-align: center;
  background: var(--primary-card-background-color);
}

.housekeepingItemTitle {
  font-size: $small;
  font-family: var(--primary-font-medium);
  color: var(--primary-text-color);
  margin: 0px 25px;
  padding-top: 17px;
  line-height: 1.4;
  text-transform: uppercase;
}

.iconWrapper {
  padding-top: 28px;
}
