.housekeepingItemTitle {
  font-family: $fontPlayfair;
  font-size: $xlarge;
  font-weight: normal;
  color: #000000;
  margin-bottom: 8px;
}

.housekeepingItemText {
  font-size: $xsmall;
  color: #505050;
  line-height: 1.5;
}

.button {
  border-radius: 0rem;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 100;
  font-family: var(--primary-font-medium);
  color: var(--primary-text-color) !important;
}

.readMore {
  color: #000000;
  font-size: $xsmall;
  line-height: 1.16;
  font-weight: bold;
}

.housekeepingItemWrapper {
  border-bottom: 1px solid #545554;
}

.plusMinusInput {
  width: 98px;
  height: 35px;
  margin-left: auto;
  border-radius: 4px;
  align-items: center;

  svg {
    width: 25px;
    height: auto;
    path {
      fill: var(--primary-text-color) !important;
    }
  }

  p {
    font-size: $xlarge;
    color: var(--primary-text-color);
  }
}
