.housekeepingItemTitle {
  font-family: var(--primary-font-regular);
  font-size: $xlarge;
  line-height: 1;
  text-align: start;
}

.button {
  font-family: var(--primary-font-medium) !important;
  text-transform: uppercase;
  font-size: $xsmall;
  border-radius: 6px;
  padding-top: 14px;
  width: 102px;
}

.housekeepingItemWrapper {
  border-radius: 20px;
  box-shadow: 0 2px 10px #00000010;
  padding: 20px;
  font-size: $large;
  margin-top: 1.5rem;
}

.housekeepingItemText {
  font-size: $small;
  min-height: 2px;
  line-height: 1.5;
}

.housekeepingItemTextExpanded {
  max-height: 250px;
  margin-bottom: 5px;
}

.quantityWrapper {
  margin-left: 0px;
  display: flex;
  justify-content: space-between;
  height: 35px;
  align-self: end;
}

.selectText {
  font-size: $small;
  padding-top: 18px;
}

.readMore {
  margin-top: 0.2rem;
  color: var(--primary-theme-color);
  font-size: $small;
  line-height: 1.25;
  cursor: pointer;
  display: inline-block;
  text-align: start;
  margin-right: auto;
  font-family: var(--primary-font-regular);
}
