.incomingMessage {
  background: #c7b48d;
  border-radius: 10px;
  width: 246px;
  padding: 16px 25px 38px 18px;
  box-sizing: border-box;
  margin-top: 43px;

  &:first-child {
    margin-top: 30px;
  }
}

.messageBody {
  margin: 0;
}

.triangle {
  background: #c7b48d;
}

.messageBody {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.35;
}

.messageTime {
  color: #7b7b7b;
  font-size: 0.68rem;
  bottom: 11px;
  left: 17px;
}

.triangle {
  left: 4px;
}
