.paymentContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Hide anything overflowing */
}

.paymentWindow {
  width: 100%;
  height: 100%;
  border: none;
  top: 8vh;
  position: absolute;
  max-width: 768px;
}

.paymentWindowHidden {
  display: none;
}
