.activityCarouselWrapper {
  margin: 1rem 1rem;
}

.activityCarouselTitle {
  font: $xheader var(--heading-font-regular);
  text-align: center;
  margin: 1rem;
}

.activitySecondaryCarouselTitle {
  margin: 0rem 0 1.5rem;
}

.carouselWrapper {
  user-select: none;
  overflow: scroll;
  margin-inline-start: 12px;
  height: 300px;
  min-width: 196px !important;
}

.carouselWrapper::-webkit-scrollbar {
  display: none;
}

.carouselWrapperSingleImageUl {
  ul {
    width: 100% !important;
  }
}

.carouselSlideWrapper {
  width: 100%;
  height: 286px;
  cursor: pointer;
  position: relative;
}

.carouselSlideImage {
  position: absolute;
  z-index: 1;
  height: 182px;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
  border-radius: var(--primary-card-border-radius);
}

.carouselSlideDetailsWrapper {
  width: 90%;
  height: 140px;
  box-shadow: 0px 3px 6px var(--primary-box-shadow-color);
  background: var(--primary-card-background-color);
  text-align: center;
  z-index: 200;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: var(--primary-card-border-radius);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.carouselSlideTitle {
  font: $xlarge var(--heading-font-regular);
  padding: 0.5rem 0rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.carouselSlideDescription {
  font: $xsmall var(--primary-font-regular);
  color: var(--tertiary-text-color);
  padding: 0 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.carouselSlideViewMore {
  margin: 0.25rem 0;
  font: 9px var(--primary-font-extd-regular);
  color: var(--primary-theme-color);
  text-transform: uppercase;
  gap: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--primary-card-border-radius);
}

.name {
  font-size: 20px;
  color: #ffffff;
  font-family: var(--heading-font-regular);
  width: 95%;
  word-break: break-word;
  letter-spacing: 1px;
}

.title {
  margin: 80px 0 8px;
  font: 22px var(--heading-font-regular);
  text-align: center;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--secondary-overlay-color);
  border-radius: var(--primary-card-border-radius);
  cursor: pointer;
}

.wrapper {
  height: 274px;
  width: 183px;
  text-align: center;
  position: relative;
}

.carouselItemScroll {
  margin-inline-end: 10px;
  // max-width: 100%;
  min-width: 185px !important;
  width: 0% !important;
}
