.pageWrapper {
  display: flex;
  flex-direction: column;
  padding: 70px 20px 40px;
}

.image {
  width: 100%;
  height: 100%;
  min-height: 210px;
  display: flex;
  object-fit: cover;
}

.wrapper {
  padding: 0.5rem 1.5rem 1rem;
}

.button {
  width: 80%;
  height: 60px;
  font-size: $xsmall;
  margin: auto;
  margin-top: -2rem;
}

.detailComponentTitle {
  font: $header var(--heading-font-regular);
  margin: 1rem 0;
  text-align: center;
}

.detailComponentDuration {
  font: $medium var(--primary-font-heading);
  margin: 1rem 0;
  text-align: center;
}

.currency {
  font-size: $xsmall;
}

.detailComponentDescription {
  font: $small var(--primary-font-regular);
  color: var(--tertiary-text-color);
  text-align: center;
  margin: 1rem 0;
}
