.pageWrapper {
  display: flex;
  flex-direction: column;
  padding: 70px 20px 40px;
}

.image {
  width: 100%;
  height: 100%;
  min-height: 210px;
  display: flex;
  object-fit: cover;
}

.wrapper {
  padding: 0.5rem 1.5rem 1rem;
}

.button {
  width: 80%;
  height: 60px;
  font-size: $xsmall;
  margin: auto;
  margin-top: -2rem;
  color: var(--secondary-text-color);
  background: var(--primary-button-background-color);
  max-width: 390px;
}

.detailComponentTitle {
  font: $header var(--heading-font-regular);
  margin: 1rem 0;
  text-align: center;
}

.detailComponentDuration {
  font: $medium var(--primary-font-heading);
  margin: 1rem 0;
  text-align: center;
}

.currency {
  font-size: $xsmall;
}

.detailComponentDescription {
  font: $small var(--primary-font-regular);
  color: var(--tertiary-text-color);
  text-align: center;
  margin: 1rem 0;
  line-height: 1.5;
}

.treatmentsNotFound {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.preferredTitle {
  font-family: var(--primary-font-heading);
  font-size: $medium;
  color: var(--tertiary-text-color);
  text-align: center;
  margin-top: 15px;
}

.listComponent {
  position: relative;
  margin-top: 115px;

  &:first-child {
    margin-top: 36px;
  }

  &:last-child {
    margin-bottom: 30px !important;
  }
}

.counterWrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0px 18px 0px;
  border-bottom: 1px solid var(--primary-border-color);
  gap: 10px;
  margin: 0 auto;
}

.counterTitle {
  font-family: var(--primary-font-heading);
  font-size: $medium;
  color: var(--tertiary-text-color);
}

.plusMinusInput {
  width: 60% !important;
  justify-content: space-evenly !important;
}

.value {
  font-size: $xlarge !important;
}

.buttonPicker {
  width: 90%;
  margin: 0 auto;
}

.timeSelectDrawerWrapper {
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 0;
}
