.diningMenuFilterActive {
  font-family: $fontMedium;
  font-size: $small;
  padding: 0.5rem 1rem;
  width: max-content;
}

.diningMenuFilterUnActive {
  font-family: $fontRegular;
  font-size: $small;
  color: #b2b2b2;
  padding: 0.5rem 1rem;
  width: max-content;
}
