.container {
  flex-direction: row;
  margin-top: 10px;
}

.fliterWrapper {
  display: flex;
  width: 100% !important;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 10px;
  height: 17px;
}

.fliterWrapperSecondary {
  display: flex;
  width: 100% !important;
  justify-content: space-between;
  margin-top: 20px !important;
  padding: 0 10px;
}

.fixedTop {
  position: fixed;
  top: 38px;
  background-color: $textColorSecondary;
  display: flex;
  width: 92% !important;
  height: 35px;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: -10px;
  padding: 25px 20px 10px;
  z-index: 3;
  box-shadow: 0 0px 4px $shadowColor;
  max-width: 728px;
}

.dropDownicon {
  background-color: #0f1b2a26;
  border-radius: 4px;
  height: 22px;
  width: 24px;
  text-align: center;
  padding-top: 4px;
}

.dropDowniconActive {
  background-color: var(--primary-theme-color) !important;
  padding-bottom: 1px !important;
}

.filterView {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  background-color: $textColorSecondary;
  z-index: 10;
  -webkit-fill-available: 100%;
  width: 91%;
  max-width: 734px;
  overflow: scroll;
  border-radius: 0px 0px 10px 10px;
  justify-content: center;
}

.filterViewScroll {
  top: 110px;
}

.filterViewOptionContainer {
  max-width: 734px;
  min-height: 60px;
  max-height: 210px;
  overflow: scroll;
  margin-bottom: 0.5rem;
}

.filterView::-webkit-scrollbar {
  display: none;
}

.dropDowntext {
  display: flex;
  justify-content: center;
  margin: auto;
  font-family: $fontRegular;
  font-size: $medium;
  width: 300px;
  font-size: 1rem;
  color: $textColorQuaternary;
  background: linear-gradient(to right, #00000029 0%, #00000029 60%, transparent 10%) repeat-x left
    bottom;
  background-size: 15px 1px;
  padding: 12px 0;
}

.placeholderFilter {
  font-family: $fontRegular;
  font-size: $xlarge;
  color: $textColorTernary;
}

.close {
  position: absolute;
  z-index: 11;
  margin-top: 208px;
  left: 45%;
}

.closeScroll {
  position: fixed;
  top: 110px;
  z-index: 11;
  margin-top: 208px;
  left: 45%;
}

.backdrop {
  background-color: #0b0a0a3c;
  height: 100%;
  width: 100%;
  min-height: 844px;
  position: absolute;
  margin-left: -10px;
  margin-top: 77px;
  z-index: 1;
  overflow-y: hidden;
  overflow-x: hidden;
}

.backdropOrder {
  margin-top: 178px !important;
}

.selected {
  color: $textColorTernary !important;
}

.bottomScrollIcon {
  margin-bottom: 5px;
}
