.roomControlsFilterWrapper {
  margin: 16px 0px 0 0px;
  padding-bottom: 5px;
  height: auto;
  justify-content: center;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #4f4f4f;
    z-index: 1;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.roomControlsFilterActive,
.roomControlsFilterUnActive {
  border: none;
  font-family: 'PlayfairDisplay';
  font-size: 0.875rem;
  padding: 0;
  height: auto;
  font-weight: normal;

  border: none !important;
  background: none !important;

  transform: translateY(2px);
  z-index: 55;

  :global(.MuiTouchRipple-root) {
    display: none;
  }
}

.roomControlsFilterUnActive {
  color: #505050;
}

.roomControlsFilterActive {
  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 2px;
    background: #000;
    z-index: 50;
  }
}

.roomControlsFilterActive {
  border-bottom: 2px solid #000;
}
