.upgradeCarouselImage {
  height: 169px;
  width: 100%;
  object-fit: cover;
}

.nextIcon {
  & > path {
    fill: $textColorSecondary;
  }
  height: 35px;
  width: auto;
}

.prevIcon {
  & > path {
    fill: $textColorSecondary;
  }
  height: 35px;
  width: auto;
  transform: rotate(180deg);
}

.carouselWrapper {
  overflow-x: auto;
  margin: 0 -15px -20px -15px;
  margin-top: 69px;

  @media (pointer: coarse) {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
