.successText {
  font-size: $xlarge;
  margin-top: 30px;
  font-family: var(--primary-font-regular);
}

.centeredText {
  font-size: $small;
  font-family: var(--primary-font-regular);
}

.backButton {
  font-size: $small;
  width: 70%;
  height: 35px;
  font-family: var(--primary-font-bold);
  margin-top: 344px;
}

.butonWrapper {
  text-align: center;
}

.checkIcon {
  margin: 140px auto 15px auto;
}
