.totalBillAmountWrapper {
  padding: 15px 5px 23px 0;
  border-bottom: 1px solid #7b7b7b;
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}

.billAmountTitle {
  font-size: 16px;
  font-weight: 600;
  font-family: $fontMedium;
}

.billAmountValue {
  font-size: $medium;
  font-weight: 600;
  font-family: $fontMedium;
}

.billAmountCurrency {
  font-size: 0.813rem;
  font-family: $fontRegular;
}

.totalAmountDueWrapper {
  padding: 17px 5px 25px 0;
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}
