.totalBillAmountWrapper {
  margin: 0;
  border-bottom: 1px solid var(--primary-text-color);
  padding: 24px 14px 16px 14px;
  align-items: center;
}

.totalAmountDueWrapper {
  margin: 0;
  border-bottom: 1px solid var(--primary-text-color);
  padding: 22px 14px 20px 14px;
  align-items: center;
}

.billAmountCurrency {
  font-size: 13px;
  font-family: var(--primary-font-regular);
}
