.totalBillAmountWrapper {
  padding: 15px 5px 15px 0;
  border-bottom: 1px solid var(--primary-border-color);
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}

.totalAmountDueWrapper {
  padding: 15px 5px 15px 0;
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}

.billAmountTitle {
  font-size: $medium;
  font-family: var(--primary-font-news);
}

.billAmountValue {
  font-size: $medium;
  font-family: var(--primary-font-news);
}

.billAmountCurrency {
  font-size: $xsmall;
}
