.totalBillAmountWrapper {
  padding: 15px 5px 23px 0;
  border-bottom: 1px solid $dividerColor;
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}

.totalAmountDueWrapper {
  padding: 17px 20px 25px 0;
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}

.billAmountTitle {
  font-size: $medium;
  font-family: $fontMedium;
}

.billAmountValue {
  font-size: $medium;
  font-family: $fontMedium;
}
