.menuItemWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 8px;
}

.menuItemIconWrapper {
  width: 65px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;

  & > svg > path {
    fill: var(--hamburgermenu-icon-color);
  }
}

.fixedMenutitle {
  margin-inline-start: 0rem;
}

.drawerNotch {
  position: absolute;
  left: 0;
  right: 0;
  top: 8px;
  margin: 0 auto;
  width: 50px;
  height: 6px;
  background: var(--primary-drawer-notch-color) 0% 0% no-repeat padding-box;
  border-radius: 3px;
}

.wrapper {
  padding: 2rem 0;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.title {
  font-size: 1.5rem;
  font-family: var(--heading-font-regular);
  text-align: center;
  text-transform: capitalize;
}

.optionsList {
  margin: 3rem 0;
  text-align: center;
  cursor: pointer;
}

.optionsListItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  line-height: 45px;
  font-size: $medium;
  margin: 0 15px;
  color: var(--tertiary-text-color);
  border-bottom: 1px solid $divider;
  padding-top: 2px;
}

.inActiveText {
  height: 45px;
  line-height: 45px;
  font-size: $medium;
  font-family: var(--primary-font-regular);
  color: var(--tertiary-text-color);
  margin: 0 15px;
  border-bottom: 1px solid $divider;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
}

.inActiveDiningText {
  padding: 10px 0;
  font-size: $medium;
  font-family: var(--primary-font-regular);
  width: 80%;
  color: var(--tertiary-text-color);
  text-transform: capitalize;
  white-space: nowrap;
  display: block;
  align-self: baseline;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activeText {
  padding: 10px 0;
  font-size: $medium;
  font-family: var(--primary-font-regular);
  margin: 0 15px;
  color: var(--primary-theme-color);
}

.icon {
  margin-inline-start: -1.31rem;
}

.image svg {
  max-width: 36px;
  max-height: 27px;

  path {
    stroke: var(--hamburgermenu-icon-color);
  }
}

.itemWidth {
  margin-inline-start: 2.5rem;
}

.imageIcon {
  path {
    fill: var(--hamburgermenu-icon-color);
  }
}

.menuItemTitle {
  display: flex;
  color: var(--hamburgermenu-text-color);
  max-width: 65px;
  height: 25px;
  font-size: $extraSmall;
  line-height: 1.25;
  text-align: center;
}

.decoration {
  text-decoration: none;
}
