.menuItemWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menuItemIconWrapper {
  width: 65px;
  height: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  & > svg > path {
    fill: var(--hamburgermenu-icon-color);
  }
}

.menuItemTitle {
  color: var(--hamburgermenu-text-color);
  max-width: 65px;
  font-size: $extraSmall;
  line-height: 1.25;
  text-align: center;
  font-family: var(--primary-font-news);
}

.drawerNotch {
  position: absolute;
  left: 0;
  right: 0;
  top: 8px;
  margin: 0 auto;
  width: 50px;
  height: 6px;
  background: var(--primary-drawer-notch-color) 0% 0% no-repeat padding-box;
  border-radius: 3px;
}

.title {
  font-size: 1.5rem;
  font-family: var(--secondary-font-regular);
}

.optionsList {
  margin: 3rem 0;
}

.inActiveText {
  padding: 10px 0;
  font-size: $small;
  font-family: var(--primary-font-news);
  border-bottom: 1px solid var(--primary-border-color);
  margin: 0 20px;
}

.activeText {
  padding: 10px 0;
  font-size: $medium;
  color: var(--primary-theme-color);
  font-family: var(--primary-font-medium);
  border-bottom: 1px solid var(--primary-border-color);
}
