.wrapper {
  border: 1px solid #a0a0a0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9375rem;
  line-height: 1.33;
  font-weight: bold;
  outline: none;
  background: transparent;
  width: 165px;
  height: 44px;
  flex: 0 0 165px;
  text-transform: capitalize;
  color: $colorPrimary;
}

.wrapperSelected {
  border: 1px solid $colorPrimary;
  background-color: $colorPrimary;
  color: $textColorSecondary;
  font-weight: normal;
}
