.pageTitle {
  font-family: 'Bodoni MT Std';
  font-size: 1.25rem;
  margin: 61px 0 33px 0;
  text-align: center;
}

.reservationInput {
  &:not(:last-child) {
    margin-bottom: 37px;
  }
}

.reservationInputs {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.findMyBookingBtn {
  margin: 20px 20px 0 20px;
  width: auto;
  font-size: 0.9375rem;
}

.cancelBtn {
  color: var(--secondary-text-color);
  margin: 7px 20px 0 20px;
  width: auto;
  text-transform: none;
}

.styledDateInput {
  & .MuiInputAdornment-root {
    transform: translateX(-7px);
  }
}

.calendarIcon {
  width: 21px;
  height: 21px;

  path {
    fill: var(--secondary-text-color);
  }
}

.tripDetailsIcon {
  height: 15px;
}

.closeBtn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: var(--primary-theme-color);
}
