.pageTitle {
  font-family: var(--primary-font-medium);
  font-size: $large;
}

.findMyBookingBtn {
  font-family: var(--primary-font-bold);
  font-size: $small;
  margin: 60px 20px 0 20px;
}

.reservationInput {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
