.styledRadio {
  color: var(--primary-theme-color);

  :global(.MuiSvgIcon-root) {
    fill: #000;
  }

  :global(.MuiFormControlLabel-label) {
    font-size: 0.75rem;
    color: var(--primary-text-color);
  }

  :global(.Mui-checked) {
    :global(.MuiSvgIcon-root) {
      fill: #000;
    }
  }
}
