.housekeepingQuantityItemWrapper {
  text-align: center;
}

.housekeepingQuantityItemWrapperInner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.disabled {
  display: none;
}

.CountInner {
  font-family: var(--primary-font-regular);
  font-size: $xsmall;
  margin-top: 5px;
  margin-bottom: 5px;
  color: var(--tertiary-text-color);
}

.housekeepingQuantityItemTitle {
  font-size: $medium;
  font-family: var(--primary-font-heading);
}

.housekeepingQuantityItemTitleInner {
  font-size: $medium;
  text-align: start;
  font-family: var(--primary-font-heading);
}

.maxCount {
  font-family: var(--primary-font-regular);
  font-size: $xsmall;
  margin-bottom: 25px;
  color: var(--tertiary-text-color);
}

.plusMinusWrapper {
  margin-top: 2px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.plusMinusWrapperTitleInner {
  margin-top: -10px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.button {
  width: 102px;
  height: 35px;
  margin-left: auto;
  margin-top: 2px;
  font-size: $small;
  font-weight: 100;
  text-transform: none;
  font-family: var(--primary-font-bold);
}
