.styledRadio {
  color: var(--primary-theme-color);
  padding: 0;
  background: none !important;
  width: 20px;
  height: 20px;

  :global(.MuiCheckbox-root) {
    background-color: transparent !important;

    // svg {
    //   g {
    //     // fill: var(--secondary-text-color);
    //     // stroke: #000;
    //   }

    //   path {
    //     fill: #000;
    //   }
    // }
  }

  :global(.MuiFormControlLabel-label) {
    font-size: $medium;
    color: var(--primary-text-color);
    font-family: var(--primary-font-medium);
  }

  :global(.MuiTouchRipple-root) {
    display: none;
  }
}
