.styledRadio {
  color: var(--primary-theme-color);
  margin-inline-end: -16px;
  background: none;
  justify-content: space-between;

  :global(.MuiCheckbox-root) {
    background-color: transparent;
  }

  :global(.MuiFormControlLabel-label) {
    font-size: $small;
    color: var(--primary-text-color);
    font-family: var(--primary-font-heading);
    padding-top: 2px;
  }

  :global(.MuiTouchRipple-root) {
    display: none;
  }
}
