.styledRadio {
  color: var(--primary-theme-color);
  padding-left: 0;
  background: none !important;
  // width: 20px;
  height: 20px;

  :global(.MuiCheckbox-root) {
    background-color: transparent !important;
  }

  :global(.MuiFormControlLabel-label) {
    font-size: $medium;
    color: var(--primary-text-color);
    font-family: var(--primary-font-news);
  }

  :global(.MuiTouchRipple-root) {
    display: none;
  }
}
