.tableReservationTitle {
  font-family: var(--primary-font-medium);
  font-size: $large;
  margin: 2rem auto;
}

.orderButtonWrapper {
  padding: 2rem;
  box-shadow: none;
}

.orderButton {
  font-family: var(--primary-font-bold);
  font-size: $small;
  max-width: 678px;
}

.chooseDateText {
  font-size: $medium;
}

.dateContainer {
  margin-bottom: 15px;
}

.chooseDateContainer {
  margin-bottom: 2rem;
}

.itemRow {
  margin: 1.25rem 0 3rem 0;
}

.itemTitle {
  font-family: var(--primary-font-medium);
}

.text {
  font-family: var(--primary-font-medium);
  font-size: $medium;
  margin-top: 2px;
  margin-top: 15px;
}

.col_100 {
  width: 100%;
}
