.pageWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 70px 20px 40px;
}

.title {
  font: 22px var(--heading-font-regular);
  text-align: center;
  margin: 10px 0 18px;
  padding-top: 10px;
}

.btnExplore {
  margin-top: 18px;
}

.itineraryCard {
  padding-left: 15px;
  position: relative;
  margin-left: 10px;
  border: 0;
  &:not(:last-child) {
    border-left: 1px solid var(--primary-theme-color);
  }
  &:last-child {
    margin-bottom: 55px;
    border: 0 !important;
  }
  &:nth-last-child(2) {
    padding-bottom: 10px;
    border: 0 !important;
  }
  &:nth-last-child(3) {
    padding-bottom: 20px;
    // border: 0 !important;
    border-left: 1px solid var(--primary-theme-color);
  }
  width: 100%;
}

.tableDot {
  position: absolute;
  left: -6px;
  top: 0;
  padding: 6px;
  background-color: var(--primary-theme-color);
  border-radius: 50%;
}

.tableImageWrapper {
  width: 85%;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.tableWrapper {
  overflow: scroll;
  overflow-x: hidden;
  height: 60vh;
  margin-top: 30px;
  width: 100%;
}

.tableTime {
  font: 1rem var(--secondary-title-font-family);
  letter-spacing: 0.6px;
}

.image {
  min-width: 30%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}

.detailWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 12px;
  gap: 8px;
}

.cardTitle {
  font: $large var(--primary-font-heading);
}

.cardDescription {
  font: $xsmall var(--primary-font-regular);
  -webkit-line-clamp: 3;
  width: 50%;
}

.cardGuestCount {
  font: $xsmall var(--secondary-title-font-family);
}

.StaybuttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: -10px;
}

.button {
  width: auto;
  font-size: 0.8rem !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: transparent;
  padding: 0px 30px;
}

.exploreActivities {
  color: #393939;
  font-size: 15px !important;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 26px;
  margin-right: 20px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

.addEvent {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
