.centeredText {
  text-align: center;
  font-size: $medium;
  font-family: $fontMedium;
  padding: 10px 0px 10px 0;
  background: #f4f4f4;
  // border-bottom: 1px solid #0000001A;
}

.tripDetails {
  border-bottom: 2px solid var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

.tripDetailsText {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  font-size: var(--primary-text-color);
  margin: 0;
}
.tripDetailsIcon {
  height: 15px;
  & > path {
    fill: var(--primary-theme-color);
  }
}

.nameSurname {
  font-weight: 600;
  font-size: 1.125rem;
  margin: 10px 0 5px 0;
  font-family: 'Bodoni MT Std';
}

.bookingId {
  margin-bottom: 20px;
  font-weight: 400;
}

.checkDates {
  display: flex;
  justify-content: space-between;
}

.checkDatesColumn {
  display: flex;
  flex-direction: column;
}

.checkDatesText {
  font-size: $xsmall;
  margin-bottom: 1vh;
  line-height: 1;
  margin-top: 2vh;
  text-transform: uppercase;
}
.right {
  text-align: right;
}

.checkDatesDetails {
  font-size: $medium;
  font-family: $fontMedium;
  margin-bottom: 3vh;
  line-height: 1;
  font-weight: bold;
}

.checkDatesIcon {
  width: 20px;
  height: auto;
  align-self: center;
  & > path {
    fill: var(--primary-text-color);
  }
}

.details {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.detailsColumn {
  display: flex;
  flex-direction: column;

  &:first-of-type {
    margin-right: 25px;
  }
}

.detailsText {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1;
  margin-top: 5px;

  &:not(:first-of-type) {
    margin-top: 16px;
  }
}

.yourRoom {
  border-bottom: 2px solid var(--primary-text-color);
  padding-bottom: 2px;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 30px 0 23px 0;
}

.roomDetailsTitle {
  margin: 0 0 5px 0;
  font-weight: 600;
  font-size: 1.125rem;
  font-family: 'Bodoni MT Std';
}

.roomDetailsText {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25;

  &:first-of-type {
    margin-bottom: 15px;
  }

  &:last-of-type {
    margin-top: 5px;
  }
}

.nextButton {
  margin-top: 46px;
  font-weight: bold;
}

.roomDetailsCardWrapper {
  margin-right: 5px;
}

.step {
  font-size: $large;
  display: flex;
  justify-content: center;
  padding: 30px 15px 10px;
  border-bottom: 1px solid var(--primary-theme-color);
  div {
    margin: 0px 0px 0px 8px;
    font-size: $xsmall;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
    text-align: center;
    color: #ffff;
  }
  .active {
    background-color: var(--primary-theme-color);
    border: 1px solid var(--primary-theme-color);
  }
  .disabled {
    background-color: #d2d1d0;
    border: 1px solid #d2d1d0;
  }
}
