.pageWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 64px 20px 100px 20px;
}

.bottomMenuButton {
  width: 100%;
  margin: auto 22px;
  height: 44px;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.cardAuthorisationTitleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-bottom: 2rem;
}

.title {
  font-size: $large;
  font-family: var(--heading-font-regular);
  text-align: center;
  margin: auto;
}

.description {
  font-size: $xsmall;
  color: var(--tertiary-text-color);
  text-align: center;
  width: 85%;
  line-height: 1.25;
  margin: 4px auto;
}

.cardTitle {
  font-size: $medium;
  font-family: var(--primary-font-heading);
  text-align: start;
}

.cardTitleAccompany {
  font-size: $medium;
  font-family: var(--primary-font-heading);
  text-align: start;
}

.guestType {
  font-size: $small;
  font-family: var(--primary-font-heading);
  margin-bottom: 1rem;
}

.box {
  background-color: var(--primary-card-background-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: var(--primary-card-border);
  border-radius: var(--primary-card-border-radius);
}

.titleRow {
  display: flex;
  justify-content: space-between;
}

.boxWrapper {
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.boxWrapperForm {
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

// accompany
.col_100 {
  width: 100%;
}

.guestDataInput {
  width: 100%;

  div {
    input {
      font-weight: bold;
      // text-transform: capitalize;
      color: var(--tertiary-text-color) !important;
    }
  }
}

.btnText {
  text-align: center;
  font-size: 14px;
  padding: 6px 10px;
  width: 80px;
}

.scanBtn {
  margin: 15px 0px;
  display: flex;
  justify-content: right;

  button {
    display: flex;
  }
}

.alignment {
  vertical-align: middle;
}

.buttonContainer {
  margin-top: 1rem;
}

.buttonLeft {
  margin-inline-end: 1rem;
  border-radius: 7px;

  &:disabled {
    color: #ffffffab !important;
  }
}

.buttonRight {
  margin-top: 30px;

  &:disabled {
    opacity: 0.7 !important;
    margin-top: 30px;
  }
}

.agrementWrapperTitle {
  display: flex;
  margin: 25px 0 5px 0;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.agrementText {
  max-width: none;
  margin-inline-start: 20px;

  a {
    text-decoration: none;
    white-space: nowrap;
  }
}

.guestDataInput {
  width: 100%;
  margin-top: 15px;

  label {
    letter-spacing: 0.72px !important;
  }

  div {
    div {
      padding-bottom: 0px !important;
    }

    input {
      padding: 0px !important;
      padding-bottom: 6px !important;
    }
  }
}

.styledDateInput {
  width: 100%;
  margin-top: 17px;

  label {
    letter-spacing: 0.72px !important;
    text-transform: uppercase !important;
  }

  div {
    div {
      padding-bottom: 0px !important;
    }
  }
}

.buttonContainerForm {
  display: flex;
  flex-direction: row;
  padding: 0px 20px 0px 20px;
}

.update {
  font-size: $small;
  font-family: var(--primary-font-regular);
  margin-top: 30px;
  margin-inline-end: 1rem;
  height: 40px;
}

.delete {
  margin-top: 30px;
  border-radius: 7px;
  height: 40px;
}

.confirmOrderButton {
  margin: 0 auto;
  padding: 36px 50px 17px 50px;
  background: #fff;
  position: fixed;
  bottom: 0rem;
  left: 0;
  right: 0;
  border-radius: 0;
  box-shadow: var(--primary-box-shadow-color) 0 1px 20px;
  max-width: 768px;
  margin-top: -20px;
}

.confirmationWrapperBotton {
  margin-top: -20px;
}

.bottomMenuWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  max-width: 768px;
  height: 64px;
  margin: auto;
  border-top-left-radius: var(--primary-card-border-radius);
  border-top-right-radius: var(--primary-card-border-radius);
  box-shadow: 0px -2px 8px $shadow;
  background: var(--primary-background-color);
  z-index: 1;
  animation: fadeIn 0.5s;
}

.bottomMenuButton {
  width: 90%;
  margin: auto;
  height: 44px;
}

.scanDocWrapper {
  width: fit-content;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
  height: 35px;
  line-height: 35px;
  margin: 10px 0;

  &:after {
    display: none;
  }
}

.scanDocText {
  font-size: $small;
  color: var(--primary-button-color);
  text-decoration: none;
  font-family: var(--primary-font-regular);
}

.cardTitleWrapper {
  display: flex;
  justify-content: space-between;
}

.identityInputs {
  padding: 25px;
  background-color: var(--primary-card-background-color);
  display: flex;
  flex-direction: column;
  border: var(--primary-card-border);
  border-radius: var(--primary-card-border-radius);

  &:not(:first-child) {
    margin-top: 10px;
  }
}

.margin {
  padding-bottom: 25px;
}

.scanPaymentButton {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px 40px;
  margin-top: 10px;
  margin: 0 auto;

  &:after {
    display: none;
  }
}

.descriptionPayment {
  font-size: $xsmall;
  color: var(--tertiary-text-color);
  text-align: center;
  width: 80%;
  line-height: 1.25;
  margin: 4px auto;
}

.boxPayment {
  background-color: var(--primary-card-background-color);
  display: flex;
  flex-direction: row;
  padding: 50px 26px;
  gap: 20px;
  border: var(--primary-card-border);
  border-radius: var(--primary-card-border-radius);
  justify-content: center;
  align-items: center;
}

.descriptionPaymentStatus {
  font-size: $xsmall;
  color: var(--tertiary-text-color);
  text-align: center;
  width: 60%;
  line-height: 1.25;
  margin: 30px auto;
}

.popupWrapper {
  top: 50%;
  background-color: var(--primary-background-color);
  padding: 35px 20px;
  width: 70%;
  border-radius: 20px;
  padding-top: 50px;
}

.descriptionPaymentPopup {
  font-size: $xsmall;
  color: var(--tertiary-text-color);
  text-align: center;
  width: 70%;
  line-height: 1.25;
  margin: 6px auto;
  margin-top: 20px;
}

.titlePaymentPopup {
  font-size: $large;
  font-family: var(--heading-font-regular);
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.button {
  margin-top: 20px;
}

.drawerWrapper {
  padding: 0 30px;
}

.pageTitle {
  font-family: var(--primary-font-heading);
  font-size: $large;
  margin: 3rem 0 33px;
  text-align: center;
  align-self: center;
  line-height: 27px;
  width: 100%;
  text-transform: uppercase;
}

.button {
  margin: 2rem 0 1rem;
  font-size: 0.875rem;
}

.countryDropdown {
  margin: 1rem 0 6rem;
}

.addGuestText {
  font: $large var(--primarytext-regular);
  color: var(--primary-theme-color);
  margin: 1rem 0;
}

.pendingDetails {
  font-size: $extraSmall;
  display: inline-flex;
  height: 1.3rem;
  color: var(--primary-error-text-color);
  justify-content: space-around;
  border: 1px solid var(--primary-error-text-color);
  align-items: center;
  border-radius: var(--primary-card-border-radius);
  width: auto;
  padding: 0px 15px;
  margin-top: 20px;
}

.icon {
  padding-inline-end: 10px;
}

.marginSpace {
  margin-bottom: 2vh;
}