.thirdRow {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.callRow,
.emailRow,
.urlRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: var(--primary-text-color);
  span {
    margin-inline-start: 6px;
    font-size: 1rem;
    color: var(--primary-text-color);
    text-align: start;
    width: fit-content;
  }
}

.icon_contact {
  color: var(--primary-theme-color) !important;
  font-size: $small !important;
  text-transform: uppercase;
}

.check {
  path {
    fill: var(--primary-theme-color);
  }
}
