.paymentWindow {
  // margin-top: 8vh;
  position: fixed;
  top: 8vh;
  height: 92vh;
  width: 100%;
  max-width: 768px;
  border: none;
  display: flex;
}

.paymentWindowCCAvenue {
  position: fixed;
  top: 7.5vh;
  height: 92.5vh;
  width: 100%;
  max-width: 768px;
  border: none;
  display: flex;
}

.paymentWindowHidden {
  display: none;
}

.popUpBlockerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5rem;
}

.titleOops {
  color: #fe4a69;
  font: $xlarge var(--heading-font-regular);
  margin: 1rem 0;
}

.titlePaymentPopup {
  font-size: $large;
  font-family: var(--heading-font-regular);
  text-align: center;
  margin-top: 30px;
}

.descriptionPaymentPopup {
  font-size: $xsmall;
  color: var(--tertiary-text-color);
  text-align: center;
  width: 65%;
  line-height: 1.25;
  margin: 6px auto;
  margin-top: 20px;
}
