.paymentWindow {
  // margin-top: 8vh;
  position: fixed;
  top: 8vh;
  height: 92vh;
  width: 100%;
  max-width: 768px;
  border: none;
  display: flex;

  // :global(.btnSubmit) {
  //   margin: 0 auto !important;
  //   border: none !important;
  //   background: var(--primary-theme-color) !important;
  //   color: var(--secondary-text-color) !important;
  //   border-radius: 0 !important;
  //   font-size: 1.25rem !important;
  //   font-weight: bold !important;
  //   padding: 11px 0 !important;
  //   height: auto !important;

  //   &:hover {
  //     background: #472643;
  //     border: none;
  //   }
  // }
}

.paymentWindowHidden {
  display: none;
}
