.title {
  font-family: var(--primary-font-regular);
  font-size: $xlarge;
  margin: 1.5rem 0 0.75rem 0;
}

.body,
.emailText,
.phoneText {
  font-size: $small;
}

.highlights {
  margin-bottom: 0;
}

.highlight {
  font-size: $small;
}

.button {
  background: var(--primary-theme-color);
  color: var(--secondary-text-color);
  width: auto;
  font-size: $small;
  font-family: var(--primary-font-bold);
  padding: 8px 20px;
  border-color: var(--primary-theme-color);
  &:hover:enabled {
    background: #838383;
  }
}

.phoneEmailCtaWrapper {
  margin-top: 20px;
}
