.title {
  font-size: $header;
  font-family: var(--primary-font-regular);
  padding: 10px 0px;
}

.body {
  font-size: $small;
}

.highlight {
  font-size: $small;
}

.phoneEmailCtaWrapper {
  margin-bottom: 2rem;
}
