.filters {
  margin-top: 64px;
}

.row {
  display: flex;
  border-bottom: 1px solid var(--primary-text-color);
  padding-bottom: 11px;
  justify-content: space-between;
  align-items: center;
}

.rowText {
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1;
}

.filtersIcon {
  & path {
    fill: var(--secondary-text-color);
  }
}

.floor {
  margin-top: 25px;
  margin-bottom: 19px;
}

.room {
  margin-top: 25px;
  margin-bottom: 20px;
}

.selectIcon {
  & path {
    fill: var(--secondary-text-color);
  }
}

.floorsWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;
  margin-right: -10px;
  padding: 0 4px;
}

.roomsWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;
  margin-right: -10px;
}

.nextButton {
  margin-top: 41px;
  font-weight: normal;
  width: 100%;
  text-transform: uppercase;
  font-weight: 900;
}

.floorButton {
  min-width: 0;
  width: 55px;
  height: 30px;
  font-weight: normal;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 1rem;
  color: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
  box-sizing: border-box;
}

.floorButtonActive {
  color: var(--secpndary-text-color);
}

.roomButton {
  min-width: 0;
  width: 70px;
  height: 50px;
  font-weight: normal;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 1rem;
  color: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
  box-sizing: border-box;
}

.gridButton {
  min-width: 0;
  width: 74px;
  height: 30px;
  font-weight: normal;
  margin-bottom: 41px;
  font-size: 1rem;
  color: var(--primary-text-color);
  border: 1px solid var(--primary-text-color);
  box-sizing: border-box;
  text-transform: capitalize;
}

.gridButtonActive {
  color: var(--secpndary-text-color);
}

.roomButtonActive {
  color: var(--secpndary-text-color);
}
