.irdCheckboxItem {
  display: flex;
  padding: 4px 0;
}

.price {
  max-width: 768px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--primary-tertiary-color);
  font-size: $medium;
  font-family: var(--primary-font-heading);
  padding-top: 2px;
}

.currency {
  font-size: $xsmall;
  margin-inline-end: 4px;
}

.name {
  width: 100%;
  display: flex;
  align-items: center;
  word-break: break-word;
  white-space: normal;
  line-height: 1;
  overflow-wrap: break-word;
  font: $small var(--primary-font-heading);
  padding-top: 2px;
}
