.roomPersonalizationEntityWrapper {
  border-bottom: 0px;
  background: var(--primary-background-color);
  border-radius: 10px;
  margin-top: 20px;
}

.roomPersonalizationTitle {
  font-size: $medium;
  font-family: var(--primary-font-medium);
}

.roomPersonalizationText {
  font-size: $small;
}

.price {
  font-family: var(--primary-font-medium);
  margin-top: 12px;
  margin-bottom: 0px;
  font-size: $small;
}

.bottomSec {
  padding-right: 10px;
}

.addButton {
  font-family: var(--primary-font-bold);
}

.roomPersonalizationInput {
  margin-bottom: 10px;
}
