.roomPersonalizationEntityWrapper {
  border-bottom: 0px;
  background: $background;
  border-radius: 10px;
  margin-top: 20px;
}

.roomPersonalizationTitle {
  font-size: $medium;
  font-family: $fontMedium;
}

.roomPersonalizationText {
  font-size: $small;
}

.price {
  font-family: $fontMedium;
  margin-top: 12px;
  margin-bottom: 0px;
  font-size: $small;
}

.bottomSec {
  padding-right: 10px;
}

.addButton {
  font-family: $fontBold;
}

.roomPersonalizationInput {
  margin-bottom: 10px;
}
