.roomPersonalizationEntityWrapper {
  background: var(--primary-card-background-color);
  display: flex;
  margin-top: 15px;
}

.roomPersonalizationFirstColumn {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 1;
}

.roomPersonalizationTitle {
  font-family: var(--primary-card-title-font-family);
  font-size: $medium;
  margin-bottom: 12px;
  line-height: 1;
}

.roomPersonalizationText {
  font-family: var(--primary-card-desc-font-family);
  font-size: $small;
  color: var(--tertiary-text-color);
  margin-bottom: 35px;
  line-height: 1.5;
}

.roomPersonalizationControls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 17px 11px 17px 13px;
  background: transparent;
}

.roomPersonalizationControlsActive {
  background: var(--primary-theme-color);
}

.price {
  font-family: var(--primary-font-medium);
  font-size: $xsmall;
  margin-top: 9px;
  color: var(--tertiary-text-color);
  .priceNo {
    font-size: $small;
    color: var(--primary-text-color);
  }
}

.priceActive {
  color: var(--tertiary-text-color);
}

.addButton {
  font-family: var(--primary-button-font-family);
  font-size: $extraSmall;
  min-width: 65px;
  height: 33px;
  width: 98px;
}

.roomPersonalizationInputWrapper {
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.roomPersonalizationInputButton {
  color: var(--primary-text-color);
}

.roomPersonalizationInput {
  width: 20px;
  height: 15px;
  font-size: $medium;
  font-family: var(--primary-font-medium);
  margin: 0 10px 1px 10px;
  background: transparent;
  color: var(--primary-text-color);
  border: none;
  outline: none;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}

.minusIcon {
  width: 16px;
  height: auto;
  fill: var(--primary-text-color);
}

.minusButton {
  margin-left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 25px;
  height: 25px;

  svg > path {
    fill: var(--primary-theme-color);
  }
}

.plusIcon {
  width: 16px;
  height: auto;
  fill: var(--primary-text-color);
}

.plusButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 25px;
  height: 25px;

  svg > path {
    fill: var(--primary-theme-color);
  }
}

.bottomSec {
  display: flex;
  justify-content: space-between;
  height: 33px;
}
