.background {
  position: fixed;
  box-sizing: border-box;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.61);
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  max-width: 768px;
}

.backgroundOpened {
  opacity: 1;
  visibility: visible;
}

.wrapper {
  background: #fff;
  border-radius: 35px 35px 0 0;
  padding: 50px 40px 32px 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.2s;
  transform: translateY(100%);
  max-width: 768px;
  z-index: 300;
  overflow: auto;
  margin: 0 auto;

  @media (pointer: coarse) {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.wrapperOpened {
  transform: translateY(0);
}
.heading {
  text-align: center;
  font-size: $xlarge;
  line-height: 1;
  margin: 0 auto 10px auto;
  font-family: $fontRegular;
  color: #58585a;
  text-align: center;
  margin-top: 30px;
}

.title {
  text-align: center;
  font-size: $small;
  line-height: 1;
  margin: 0 auto 20px auto;
  font-family: $fontRegular;
  color: #58585a;
  text-align: center;
  margin-top: 30px;
}

.buttonWrapper {
  margin-top: 60px;
}

.button {
  height: 46px;
  line-height: 46px;
  text-align: center;
  padding-top: 14px;
  font-size: $xsmall;
  font-family: $fontSemibold;
}
