.timeSelectWrapper {
  padding: 70px 26px 54px 26px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 35px 35px 0 0;
  position: fixed;
  box-sizing: border-box;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 250;
  transition: all 0.2s;
  transform: translateY(100%);
  max-width: 768px;
}

.timeSelectWrapperOpened {
  transform: translateY(0);
}

.timeSelectBackground {
  position: fixed;
  box-sizing: border-box;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(78, 81, 81, 0.75);
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  max-width: 768px;
}

.timeSelectBackgroundOpened {
  opacity: 1;
  visibility: visible;
}

.title {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.1;
  margin-bottom: 40px;
  font-family: 'Bodoni MT Std';
}

.button {
  margin-top: 49px;
}

.timePickerWrapper {
  margin: 0 85px;

  :global(.rmc-multi-picker) {
    height: 160px;
  }

  :global(.rmc-picker) {
    height: 130px;
  }

  :global(.my-picker-view-item) {
    color: #7b7b7b;
    font-size: 1.125rem;
  }

  :global(.rmc-picker-item-selected) {
    color: #000000;
  }
}

.arrowsWrapper {
  display: flex;
}

.arrowsWrapperBottom {
  margin-bottom: 48px;
}

.arrowsWrapperTop {
  margin-bottom: -16px;
}

.arrowContainer {
  display: flex;
  flex: 1;
  justify-content: center;
}

.arrowDownIcon {
  width: 12px;
  height: auto;
  path {
    fill: #000000;
  }
}

.arrowUpIcon {
  width: 12px;
  height: auto;
  transform: rotate(180deg);
  path {
    fill: #000000;
  }
}
