.radioWrapper {
  min-height: calc(100vh - 124px);
  padding-bottom: 0 !important;
}

.button {
  margin-top: auto;
  width: 100vw;
  max-width: 768px;
  margin-left: -36px;
  margin-right: 0;
  font-size: 0.875rem;
  font-weight: normal;
}

.criteria {
  font-family: 'PlayfairDisplay';
  font-size: 1.25rem;
  font-weight: normal;
  color: #000;
}
