.styledFormControl {
  :global(.MuiFormLabel-filled) {
    color: #505050;
  }

  :global(.MuiInputLabel-standard) {
    color: #505050;
  }

  :global(.Mui-focused) {
    color: #505050 !important;
  }

  :global(.MuiInputBase-input) {
    color: #000000;
  }

  :global(.MuiInput-root):hover {
    &::before {
      border-bottom: 1px solid #3a3c3c !important;
    }
  }

  :global(.MuiInput-root) {
    &::before {
      border-bottom: 1px solid #3a3c3c;
    }

    &::after {
      border-bottom: 1px solid #3a3c3c;
    }
  }
}
