.styledFormControl {
  margin-left: 0;
  margin-right: 0;

  :global(.MuiSelect-select) {
    color: var(--tertiary-text-color);
    padding-bottom: 12px;
    font-size: 0.875rem;
    text-align: start;
  }

  :global(.MuiInputLabel-standard) {
    font-size: 0.875rem;
    color: var(--tertiary-text-color);
  }

  :global(.MuiFormHelperText-root) {
    color: var(--primary-text-color);
  }

  :global(.MuiInputBase-root) {
    &::after {
      border-bottom: 1px solid var(--primary-theme-color);
    }

    &:hover {
      &::before {
        border-bottom: 1px solid var(--primary-theme-color) !important;
      }
    }

    :global(.MuiInputBase-input) {
      text-align: start;
      background: transparent !important;
      padding-bottom: 6px !important;
      font-size: $medium;
    }
  }

  :global(.MuiInputLabel-asterisk),
  :global(.Mui-error) {
    color: var((--tertiary-text-color)) !important;
  }

  :global(.Mui-error) {
    &::after {
      border-bottom: 2px solid var(--primary-error-text-color) !important;
    }
  }
}
