.carousel {
  margin-bottom: 1rem;
  max-width: 768px;
}

.bannerImage {
  height: 484px;
  width: 100%;
  object-fit: cover;
}

.pageTitle {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
}

.titleh1 {
  font: $medium var(--primary-title-font-family);
  color: var(--secondary-text-color);
  text-transform: uppercase;
}

.titleh3 {
  font: $xsmall var(--secondary-title-font-family);
  color: var(--secondary-text-color);
}

.heroBannerButton {
  margin-top: 15px;
  color: var(--secondary-text-color);
  font-weight: 600;
  text-transform: none;
  font-size: 1.1rem;
}

.indicatorIconContainer {
  position: absolute;
  top: 440px;
  z-index: 1;
}

.indicatorIcon {
  width: 6px;
  height: 6px;
  background: var(--secondary-text-color);

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.activeIndicatorIcon {
  opacity: 1;
  transform: scale(1.3);
  margin: 0 1px;
}
