.listComponentTitle {
  color: var(--primary-text-color);
  font-size: $medium;
  font-family: var(--primary-font-regular);
}

.listComponentBtn {
  font-family: var(--primary-font-bold);
  width: 155px;
}

.listComponentBookingBtn {
  font-family: var(--primary-font-bold);
  color: var(--secpndary-text-color);
}
.locationIcon {
  margin-left: 4px;
}
.cuisineIcon {
  margin-left: 2px;
}
