.listComponentTitle {
  font-family: $fontPlayfair;
  font-size: $xlarge;
  color: var(--secondary-text-color);
}

.restaurantRow {
  span {
    font-size: $xsmall;
  }
}

.listComponentBtn {
  width: 140px;
  height: 36px;
  padding: 5px 15px;
  font-size: 0.75rem;
  white-space: nowrap;
  font-weight: 100;
  font-family: var(--primary-font-medium);
  border-radius: 0rem;
}

.locationIcon {
  margin-left: 3px;
}

.cuisineIcon {
  margin-left: 2px;
}
