.wrapper {
  display: flex;
  flex-direction: column;
}

.listComponent {
  margin-top: 50px;

  &:first-child {
    margin-top: 120px;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

.listComponentTitle {
  font-size: $header;
  line-height: 1.25;
  margin-top: 15px;
  margin-bottom: 13px;
  font-family: var(--primary-font-regular);
  color: var(--tertiary-text-color);
}

.restaurantRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  margin-top: 8px;

  span {
    margin-left: 12px;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: capitalize;
    color: var(--tertiary-text-color);
    font-family: var(--primary-font-regular);
  }
}

.locationRow {
  display: none;
}

.cuisineRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  margin-top: 8px;
  width: 100%;

  span {
    margin-left: 6px;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: capitalize;
    color: var(--tertiary-text-color);
    margin-top: 4px;
    font-family: var(--primary-font-regular);
  }
}

.locationIcon {
  flex: 0 0 15px;
  height: auto;
  margin-left: 2px;
}

.cuisineIcon {
  flex: 0 0 25px;
  margin-left: 1px;
  height: auto;
}

.restaurantIcon {
  flex: 0 0 20px;
  height: auto;
}

.listComponentBtn {
  display: none;
}

.listComponentBookingBtn {
  width: auto;
  height: 35px;
  display: flex;
  line-height: 35px;
  padding: 4px 30px 0;
  text-align: center;
  color: var(--secpndary-text-color);
  font-size: $xsmall;
  font-family: var(--primary-font-medium);
}

.listComponentDescription {
  cursor: pointer;
  font-size: $small;
  font-family: var(--primary-font-regular);
  color: var(--tertiary-text-color);
  margin-bottom: 0.5rem;
  height: 70px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

.buttonsWrapper {
  margin-top: 1rem;
}

.backToTop {
  width: 140px;
  height: 35px;
  line-height: 35px;
  font-size: $xsmall;
  font-family: var(--primary-font-medium);
  padding-top: 23px;
  color: var(--primary-theme-color);
  text-transform: uppercase;
}

.viewMenuBtn {
  display: flex;
  width: 150px;
  height: 35px;
  line-height: 35px;
  padding-top: 14px;
  text-align: center;
  font-family: var(--primary-font-regular);
  font-size: $xsmall;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: fit-content;
  padding: 0px 10px;
}

.listViewDetails {
  display: flex;
  font-size: $small;
  font-family: var(--primary-font-regular);
  text-transform: uppercase;
  color: var(--primary-theme-color);
  cursor: pointer;
}
