.wrapper {
  padding: 2rem;
  padding-top: 3rem;
}

.title {
  font-family: $fontMedium;
  font-size: $large;
}

.items {
  margin-top: 1rem;
  display: flex;
  font-family: $fontRegular;
  font-size: $small;
  padding: 0.5rem 0;
  border-bottom: 1px solid $dividerColor;
}

.name {
  width: 80%;
  text-align: start;
  padding-left: 1rem;
}

.icon {
  width: 20%;
}
