.spaCarouselWrapper {
  margin: 1rem 0;
}

.spaTitle {
  font: 30px var(--secondary-font-regular);
  text-align: center;
  margin: 16px 0 24px;
}

.carouselWrapper {
  -webkit-user-select: none;
  user-select: none;
  overflow: scroll;
  margin-inline-start: 12px;
}

.carouselItem {
  margin-inline-end: 10px;
  max-width: 338px;
  min-width: 338px;
}

.carouselWrapper::-webkit-scrollbar {
  display: none;
}

.carouselSlideWrapper {
  height: 354px;
  width: 338px;
  cursor: pointer;
  display: flex;
}

.carouselSlideImage {
  height: 225px;
  width: 338px;
  object-fit: cover;
  pointer-events: none;
  z-index: 200;
  position: absolute;
}

.carouselSlideDetailsWrapper {
  width: 310px;
  background: var(--primary-background-color);
  box-shadow: 0px 3px 6px var(--primary-box-shadow-color);
  text-align: center;
  position: absolute;
  z-index: 300;
  top: 180px;
  left: 10px;
}

.carouselSlideTitle {
  font: $header var(--secondary-font-regular);
  padding: 29px 1rem 10px;
  height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.carouselSlideDescription {
  font: $small var(--primary-font-news);
  color: var(--tertiary-text-color);
  padding: 0 6px;
  -webkit-line-clamp: 1;
}

.carouselSlideViewMore {
  height: 40px;
  margin: 1.2rem 0;
  width: 70%;
  text-transform: uppercase;
}
