.spaCarouselWrapper {
  margin: 1rem 0;
}

.spaTitle {
  font: $xheader var(--heading-font-regular);
  text-align: center;
  margin: 8px 0 24px;
}

.carouselWrapper {
  user-select: none;
  overflow: scroll;
  margin-inline-start: 12px;
}

.carouselWrapperSingleImage {
  justify-content: center;
}

.carouselWrapper::-webkit-scrollbar {
  display: none;
}

.carouselSlideWrapper {
  width: 100%;
  height: 286px;
  cursor: pointer;
}

.carouselSlideImage {
  position: relative;
  z-index: -1;
  height: 182px;
  width: 273px;
  object-fit: cover;
  pointer-events: none;
  z-index: 100;
  position: absolute;
  border-radius: var(--primary-card-border-radius);
}

.carouselSlideDetailsWrapper {
  width: 251px;
  height: 134px;
  background: var(--primary-background-color);
  box-shadow: 0px 3px 6px var(--primary-box-shadow-color);
  text-align: center;
  z-index: 200;
  position: absolute;
  bottom: 5px;
  left: 10px;
  border-radius: var(--primary-card-border-radius);
  background: var(--primary-card-background-color);
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

.carouselSlideTitle {
  font: $header var(--heading-font-regular);
  padding: 29px 1rem 10px;
  height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.carouselSlideDescription {
  font: $small var(--primary-font-regular);
  color: var(--tertiary-text-color);
  padding: 0 6px;
  -webkit-line-clamp: 1;
}

.carouselSlideViewMore {
  font-size: $xsmall;
  height: 40px;
  margin: 1.2rem auto;
  width: 70%;
  text-transform: uppercase;
}

.timings {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  text-decoration: none;
  margin: 10px 0;
  font-family: var(--primary-font-regular);
  font-size: $xsmall;
  text-transform: capitalize;
  justify-content: flex-start;
  text-align: start;
  padding-left: 10%;

  p {
    margin-inline-start: 16px;
  }
}

.image {
  width: 100%;
  height: 100%;
  min-height: 210px;
  display: flex;
  object-fit: cover;
}

.button {
  width: 80%;
  height: 60px;
  font-size: $xsmall;
  margin: auto;
  margin-top: -2rem;
}

.wrapper {
  padding: 0.5rem 1.5rem 1rem;
}

.detailComponentTitle {
  font: $header var(--heading-font-regular);
  margin: 1rem 0;
  text-align: center;
}

.detailComponentDuration {
  font: $medium var(--primary-font-heading);
  margin: 1rem 0;
  text-align: center;
}

.currency {
  font-size: $xsmall;
}

.detailComponentDescription {
  font: $small var(--primary-font-regular);
  color: var(--tertiary-text-color);
  text-align: center;
  margin: 1rem 0;
}

.cuisineRowTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-decoration: none;
  margin: 10px 0;
  font-family: var(--primary-font-regular);
  font-size: $xsmall;
  text-transform: capitalize;
  justify-content: center;
  text-align: center;
  gap: 15px;

  p {
    margin-inline-start: 16px;
    font-size: 0.75rem;
    line-height: 1.5;
    text-transform: capitalize;
    color: var(--primary-text-color);
    -webkit-line-clamp: 2;
    width: 81%;
  }
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-decoration: none;
  margin: 10px 0;
  font-family: var(--primary-font-regular);
  font-size: $xsmall;
  text-transform: capitalize;
  justify-content: center;
  text-align: center;
  gap: 15px;

  p {
    margin-inline-start: 16px;
    font-size: 0.75rem;
    line-height: 1.5;
    text-transform: capitalize;
    color: var(--primary-text-color);
    -webkit-line-clamp: 2;
    width: 81%;
  }
}

.buttonView {
  font-size: $xsmall !important;
  margin: 1.5rem auto;
  width: fit-content;
  display: flex;
}

.icon_contact {
  color: var(--primary-theme-color) !important;
  font-size: $small !important;
  padding-top: 1px;
}

.informationWrapper {
  display: flex;
  justify-content: space-evenly;
}

.infoText {
  font-size: $small;
  color: var(--primary-theme-color) !important;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.telephoneIcon {
  path {
    fill: var(--primary-theme-color);
  }
}

.mailIcon {
  path {
    fill: var(--primary-theme-color);
  }
}

.text {
  margin-inline-start: 10px;
}
