.spaCarouselWrapper {
  margin: 1rem 0;
}

.spaTitle {
  font: $xheader var(--heading-font-regular);
  text-align: center;
  margin: 8px 0 24px;
}

.carouselWrapper {
  user-select: none;
  overflow: scroll;
  margin-inline-start: 12px;
}

.carouselWrapperSingleImage {
  justify-content: center;
  width: 100% !important;
}

.carouselWrapper::-webkit-scrollbar {
  display: none;
}

.carouselSlideWrapperSpa {
  width: 100%;
  height: 286px;
  cursor: pointer;
}

.carouselSlideImage {
  position: relative;
  z-index: -1;
  height: 182px;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: 100;
  position: absolute;
  border-radius: var(--primary-card-border-radius);
}

.carouselWrapperSingleImage {
  ul {
    width: 100% !important;
  }
}

.carouselSlideTitle {
  font: $xlarge var(--heading-font-regular);
  padding: 0.5rem 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.carouselSlideDescription {
  font: $small var(--primary-font-regular);
  color: var(--tertiary-text-color);
  padding: 0 6px;
  -webkit-line-clamp: 1;
}

.carouselSlideViewMore {
  margin: 0.25rem 0;
  font: 9px var(--primary-font-extd-regular);
  color: var(--primary-theme-color);
  text-transform: uppercase;
  gap: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.timings {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  text-decoration: none;
  margin: 10px 0;
  font-family: var(--primary-font-regular);
  font-size: $xsmall;
  text-transform: capitalize;
  justify-content: flex-start;
  text-align: start;
  padding-left: 10%;

  p {
    margin-inline-start: 16px;
  }
}

.image {
  width: 100%;
  height: 100%;
  min-height: 210px;
  display: flex;
  object-fit: cover;
}

.button {
  width: 80%;
  height: 60px;
  font-size: $xsmall;
  margin: auto;
  margin-top: -2rem;
  color: var(--secondary-text-color);
  background: var(--primary-theme-color);
}

.wrapper {
  padding: 0.5rem 1.5rem 1rem;
}

.detailComponentTitle {
  font: $header var(--heading-font-regular);
  margin: 1rem 0;
  text-align: center;
}

.detailComponentDuration {
  font: $medium var(--primary-font-heading);
  margin: 1rem 0;
  text-align: center;
}

.currency {
  font-size: $xsmall;
}

.detailComponentDescription {
  font: $small var(--primary-font-regular);
  color: var(--tertiary-text-color);
  text-align: center;
  margin: 1rem 0;
}

.cuisineRowTime,
.DetailscuisineRowTime {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  text-decoration: none;
  margin: 4px 0;
  font-family: var(--primary-font-regular);
  font-size: $xsmall;
  text-transform: capitalize;
  justify-content: flex-start;
  text-align: start;

  p {
    margin-inline-start: 16px;
    font-size: 0.75rem;
    line-height: 1.5;
    text-transform: capitalize;
    color: var(--primary-text-color);
    -webkit-line-clamp: 2;
    width: 81%;
  }
}

.DetailscuisineRowTime {
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-decoration: none;
  margin: 10px 0;
  font-family: var(--primary-font-regular);
  font-size: $xsmall;
  text-transform: capitalize;
  justify-content: center;
  text-align: center;
  gap: 15px;

  p {
    margin-inline-start: 16px;
    font-size: 0.75rem;
    line-height: 1.5;
    text-transform: capitalize;
    color: var(--primary-text-color);
    -webkit-line-clamp: 2;
    width: 81%;
  }
}

.buttonView {
  font-size: $xsmall !important;
  margin: 1.5rem auto;
  width: fit-content;
  display: flex;
}

.icon_contact {
  color: var(--primary-theme-color) !important;
  font-size: $small !important;
  padding-top: 1px;
}

.informationWrapper {
  display: flex;
  justify-content: space-evenly;
}

.infoText {
  font-size: $small;
  color: var(--primary-theme-color) !important;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.telephoneIcon {
  path {
    fill: var(--primary-theme-color);
  }
}

.mailIcon {
  path {
    fill: var(--primary-theme-color);
  }
}

.text {
  margin-inline-start: 10px;
  padding-top: 3px;
}

.carouselWrapperSingleImageUl {
  ul {
    width: 100% !important;
  }
}

.detailPosition {
  width: 95% !important;
}

.withoutImageButton {
  position: relative;
  margin-bottom: 15px;
  margin-top: 25px;
}

.content {
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carouselSlideDetailsWrapper {
  width: 90%;
  height: 160px;
  box-shadow: 0px 3px 6px var(--primary-box-shadow-color);
  text-align: center;
  z-index: 200;
  position: absolute;
  bottom: 5px;
  left: 0px;
  right: 0px;
  margin: auto;
  border-radius: var(--primary-card-border-radius);
  background: var(--primary-card-background-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.carouselSlideDetailsWrapperIrd {
  height: 120px;
  bottom: 45px;
}

.carouselSlideTimings {
  font: $xsmall var(--primary-font-regular);
  color: var(--tertiary-text-color);
}

.viewAll {
  height: 180px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e2e2e2;
  border: 1px solid #ccc;
  position: relative;
}

.viewAllBtn {
  width: auto;
  min-width: 0;
  color: var(--primary-text-color);
  text-transform: none;
  padding: 5px 10px;
}

.cuisineRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  text-decoration: none;
  font-family: var(--primary-font-regular);
  margin: 4px 0;
  font-size: $xsmall;
  text-transform: capitalize;
  justify-content: flex-start;

  span {
    font-size: 0.75rem;
    line-height: 1.5;
    text-transform: capitalize;
    color: var(--primary-text-color);
    margin-inline-start: 12px;
  }
}

.text {
  --webkit-line-clamp: 1;
}

.carouselWrapperSingleImageUl {
  ul {
    width: 100% !important;
  }
}
