.tableReservationTitle {
  font-family: var(--primary-font-medium);
  font-size: $large;
  margin: 2rem 0;
}

.orderButtonWrapper {
  padding: 2rem;
  box-shadow: none;
}

.orderButton {
  font-family: var(--primary-font-bold);
  font-size: $small;
}

.label {
  font-family: var(--primary-font-regular);
  font-size: $small;
}

.text {
  font-family: var(--primary-font-medium);
  font-size: $medium;
  margin-top: 2px;
}

.horizontalLine {
  background: var(--primary-text-color);
  opacity: 0.3;
  margin: 0.75rem 0;
}
.requiredfield {
  color: var(--primary-error-text-color);
}
