.roomBenefitsWrapper {
  display: none;
}

.roomDetailsImg {
  margin-left: -25px;
  width: 100vw;
  margin-top: 8px;
  margin-bottom: 18px;
}

.btnsWrapper {
  background: var(--primary-theme-color);
}

.wrapper {
  padding: 0 32px;
  margin-bottom: 140px;
}

.roomDetailsTextWrapper {
  padding: 0;
}

.roomDetailsDescription {
  font-size: 0.75rem;
  color: #505050;
}

.features {
  margin-top: 34px;
  margin-bottom: 10px;
  font-size: 0.8125rem;
  line-height: 1.46;
  padding-bottom: 12px;
  color: #000;
  font-weight: bold;
  border-bottom: 1px solid #545554;
}

.featuresText {
  color: #313131;
  font-size: 0.8125rem;
  line-height: 1.46;
  margin-bottom: 20px;
}

.upgradeBtn {
  height: 39px;
  width: 135px;
  border-radius: 2px;
  font-weight: normal;
}

.btnsWrapper {
  position: initial;
  padding: 0;
  margin-top: auto;
}

.pageWrapper {
  min-height: calc(100vh - 48px);
  padding-bottom: 20px;
  box-sizing: border-box;
}
