.upgradeTitle {
  font-size: 1.25rem;
  color: #000000;
  line-height: 1.25;
}

.upgradeDescription {
  color: #000000;
  font-size: 0.75rem;
  line-height: 1.5;
}

.readMoreBtn {
  color: #000000;
  font-size: 0.75rem;
  line-height: 1.5;
}
