.upcomingStaysFilterWrapper {
  margin: 16px -25px 0 -25px;
  padding-left: 0;
  height: auto;
  overflow: auto;
  position: relative;
  width: 100vw;
  max-width: 768px;
  justify-content: space-around;
  padding-bottom: 5px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #4f4f4f;
    z-index: 1;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.upcomingStaysFilterButtonWrapper {
  margin-right: 0 !important;
  position: relative;
}

.upcomingStaysFilterActive,
.upcomingStaysFilterUnActive {
  font-family: 'PlayfairDisplay';
  font-size: 0.875rem;
  padding: 0;
  height: auto;
  width: 100px;

  border: none !important;
  background: none !important;

  transform: translateY(2px);
  z-index: 55;

  :global(.MuiTouchRipple-root) {
    display: none;
  }
}

.upcomingStaysFilterUnActive {
  color: #505050;

  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 1px;
    background: #4f4f4f;
    z-index: 50;
  }
}

.upcomingStaysFilterActive {
  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 2px;
    background: #000;
    z-index: 50;
  }
}

.upcomingStaysFilterActive {
  border-bottom: 2px solid #000;
}
