.totalCostTitle {
  font-size: $medium;
  font-family: var(--primary-font-medium);
}

.totalCostValue {
  font-family: var(--primary-font-regular);
  .currencyValue {
    font-family: var(--primary-font-medium);
  }
}

.button {
  font-size: $small;
  font-family: var(--primary-font-bold);
  background: var(--primary-theme-color);
}

.specialRequestsInput {
  font-family: var(--primary-font-regular);
}

.confirmOrderButton {
  padding: 16px 0px;
}

.confirmationWrapper {
  padding: 0px 26px;
}

.specialRequestsInput {
  color: var(--primary-theme-color);
  font-family: var(--primary-font-regular);
  font-size: $small;
  border: 1px solid var(--primary-theme-color);
  border-radius: 0rem;
  padding: 0.5rem;
}
