.totalCostTitle {
  font-size: $medium;
  font-family: $fontMedium;
}

.totalCostValue {
  font-family: $fontRegular;
  .currencyValue {
    font-family: $fontMedium;
  }
}

.button {
  font-size: $small;
  font-family: $fontBold;
}

.specialRequestsInput {
  color: var(--secondary-text-color);
  font-family: $fontRegular;
  font-size: $small;
  border: 1px solid var(--primary-text-color);
  background-color: var(--primary-theme-color);
  border-radius: 0rem;
  padding: 0.5rem;
}

.confirmOrderButton {
  background: var(--primary-theme-color);
  padding: 16px 0px 16px 0px;
  box-shadow: 0 -6px 8px -2px $shadowColor;
}

.confirmationWrapper {
  padding: 0px 26px 0px 26px;
}

.itemTitle {
  font-family: $fontPlayfair;
}

.dateTimeHeading {
  font-family: $fontPlayfair;
}

.chooseAnotherDateArrow {
  path {
    fill: var(--primary-text-color);
  }
}

.timeBox {
  border: 1px solid var(--primary-text-color);
  border-radius: 0rem;
}

.datePickerWrapperOpened {
  max-height: 350px;
}

.datePickerWrapper {
  :global(.Mui-selected) {
    background-color: var(--primary-text-color) !important;
  }
}
