.totalCostTitle {
  font-size: $medium;
  font-family: $fontMedium;
}

.totalCostValue {
  font-family: $fontRegular;
  .currencyValue {
    font-family: $fontMedium;
  }
}

.button {
  font-size: $small;
  font-family: $fontBold;
  background: var(--primary-theme-color);
}

.specialRequestsInput {
  font-family: $fontRegular;
}

.confirmOrderButton {
  padding: 16px 0px;
}

.confirmationWrapper {
  padding: 0px 26px;
}

.specialRequestsInput {
  color: var(--primary-theme-color);
  font-family: $fontRegular;
  font-size: $small;
  border: 1px solid var(--primary-theme-color);
  border-radius: 0rem;
  padding: 0.5rem;
}
