.subCategoryName {
  font-size: 1.875rem;
  font-family: 'Bodoni MT Std';
  margin: 32px auto 15px auto;
  text-align: center;
}

.subCategoryNameSkeleton {
  margin: 32px auto 15px auto;
  height: 24px;
  width: 220px;
}

.animation {
  position: relative;
  overflow: hidden;
  background-color: #dee3ea;
  opacity: 0.45;
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #fff 50%, transparent 100%);
    animation: load 2.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

.orderButton {
  height: 44px;
  width: 100%;
}

.totalRow {
  margin-bottom: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.totalText,
.totalPrice {
  font-size: 0.93rem;
  line-height: 1.33;
  font-weight: 500;
}

@keyframes load {
  0% {
    left: -150px;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.listContainer {
  width: 96%;
  margin: auto;
  text-align: center;
}

.noItems {
  display: flex;
  flex-direction: column;
  margin: auto;
  color: var(--tertiary-text-color);
}

.noItemsText {
  margin: 0.5rem 0;
}

.subCategoryName {
  font-size: 1.875rem;
  font-family: 'Bodoni MT Std';
  margin: 32px auto 15px auto;
  text-align: center;
}

.subCategoryNameSkeleton {
  margin: 32px auto 15px auto;
  height: 24px;
  width: 220px;
}

.animation {
  position: relative;
  overflow: hidden;
  background-color: #dee3ea;
  opacity: 0.45;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #fff 50%, transparent 100%);
    animation: load 2.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

.totalWrapper {
  background: var(--primary-background-color);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  border-top-left-radius: var(--primary-card-border-radius);
  border-top-right-radius: var(--primary-card-border-radius);
  box-shadow: 0px -2px 10px var(--primary-box-shadow-color);
  z-index: 2;
  max-width: 736px;
  margin: 0 auto;
  animation: fadeIn 0.5s;
}

.hideOnScroll {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.totalRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.totalText,
.totalPrice {
  font-size: 0.93rem;
  line-height: 1.33;
  font-weight: 500;
  text-transform: uppercase;
  font-family: var(--primary-font-medium);
}

@keyframes load {
  0% {
    left: -150px;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.selectedCategoryItems {
  width: 100%;
}

.subCategoriesText {
  margin: 18px 12px 0px;
  text-align: start;
}

.searchWrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  display: flex;
  flex: 1px;
  margin-top: 0px;
}

.searchText {
  font: $large var(--primary-font-heading);
  color: var(--tertiary-text-color);
  margin-bottom: 15px;
}

.searchIcon {
  cursor: pointer;
}

.searchPlaceholder {
  font-size: 50px !important;
}

.searchDiv {
  overflow: scroll;
  padding: 1.6rem 1rem 1.4rem;
  background-color: var(--primary-background-color);
  width: 92%;
  max-width: 768px;
  margin: auto;
  position: sticky;
  top: 63px;
  left: 0;
  right: 0;
  background-color: var(--primary-background-color);
  z-index: 3;
}

.menuUnavailableContainer {
  height: auto;
  background: var(--primary-theme-color);
  color: var(--secondary-text-color);
  width: 100%;
  margin-bottom: 1rem;
  max-width: 768px;
}

.menuTimingsText {
  font-family: var(--primary-font-regular);
  font-size: $small;
  width: 90%;
  margin: auto;
  padding: 8px 0;
}

.menuUnavailableTitle {
  font-family: var(--primary-font-regular);
  font-size: $small;
  text-transform: uppercase;
  padding: 8px 0;
}

.menuUnavailableDescription {
  font-family: var(--primary-font-regular);
  font-size: $xsmall;
  width: 70%;
  margin: auto;
  padding-bottom: 10px;
}
