.subCategoryName {
  font-size: 1.875rem;
  font-family: 'Bodoni MT Std';
  margin: 32px auto 15px auto;
  text-align: center;
}

.subCategoryNameSkeleton {
  margin: 32px auto 15px auto;
  height: 24px;
  width: 220px;
}

.animation {
  position: relative;
  overflow: hidden;
  background-color: #dee3ea;
  opacity: 0.45;
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #fff 50%, transparent 100%);
    animation: load 2.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

.orderButton {
  height: 44px;
  width: 100%;
}

.totalRow {
  margin-bottom: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.totalText,
.totalPrice {
  font-size: 0.93rem;
  line-height: 1.33;
  font-weight: 500;
}

@keyframes load {
  0% {
    left: -150px;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.listContainer {
  width: 100%;
  margin-top: 4rem;
  text-align: center;
}

.noItems {
  display: flex;
  flex-direction: column;
  margin: auto;
  color: var(--tertiary-text-color);
}

.noItemsText {
  margin: 0.5rem 0;
}

.subCategoryName {
  font-size: 1.875rem;
  font-family: 'Bodoni MT Std';
  margin: 32px auto 15px auto;
  text-align: center;
}

.subCategoryNameSkeleton {
  margin: 32px auto 15px auto;
  height: 24px;
  width: 220px;
}

.animation {
  position: relative;
  overflow: hidden;
  background-color: #dee3ea;
  opacity: 0.45;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #fff 50%, transparent 100%);
    animation: load 2.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

.totalWrapper {
  background: var(--primary-background-color);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  border-top-left-radius: var(--primary-card-border-radius);
  border-top-right-radius: var(--primary-card-border-radius);
  box-shadow: 0px -2px 8px $shadow;
  z-index: 2;
  max-width: 736px;
  margin: 0 auto;
  animation: fadeIn 0.5s;
}

.hideOnScroll {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.totalRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.totalText,
.totalPrice {
  font-size: 0.93rem;
  line-height: 1.33;
  font-weight: 500;
  text-transform: uppercase;
  font-family: var(--primary-font-medium);
  color: var(--primary-button-color);
}

@keyframes load {
  0% {
    left: -150px;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.selectedCategoryItems {
  width: 100%;
}

.subCategoriesText {
  font: $xlarge var(--heading-font-regular);
  margin: 18px 12px 0px;
  text-align: start;
  padding-top: 24px;;
}

.filterTagWrapper {
  flex-direction: row;
  align-items: baseline;
  display: flex;
  flex: 1px;
  margin-top: 0px;
}

.searchText {
  font: $large var(--primary-font-heading);
  color: var(--tertiary-text-color);
  margin-bottom: 15px;
}

.searchIcon {
  cursor: pointer;
}

.searchPlaceholder {
  font-size: 50px !important;
}

.searchDiv {
  overflow: scroll;
  padding: 1.6rem 1rem 0;
  width: 91%;
  max-width: 768px;
  margin: auto;
  position: sticky;
  top: 63px;
  left: 0;
  right: 0;
  background-color: var(--primary-background-color);
  z-index: 3;
}

.menuUnavailableContainer {
  height: auto;
  background: var(--primary-theme-color);
  color: var(--secondary-text-color);
  width: 100%;
  margin-bottom: 1rem;
  max-width: 768px;
}

.menuTimingsText {
  font-family: var(--primary-font-regular);
  font-size: $small;
  width: 90%;
  margin: auto;
  padding: 8px 0;
}

.menuUnavailableTitle {
  font-family: var(--primary-font-regular);
  font-size: $small;
  text-transform: uppercase;
  padding: 8px 0;
}

.menuUnavailableDescription {
  font-family: var(--primary-font-regular);
  font-size: $xsmall;
  width: 70%;
  margin: auto;
  padding-bottom: 10px;
}

.spaceValue {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 14%;
}

.buttonWrapper {
  display: flex;
  margin: 15px 0;
  overflow: scroll;
  max-width: 768px;
  width: 100%;
  @media (pointer: coarse) {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.indredient {
  font: $large var(--primary-font-heading);
  color: var(--primary-text-color);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--primary-border-color);
  text-transform: uppercase;
}

.FilterButtonActive {
  height: 30px;
  font: $medium var(--primary-font-heading);
  padding: 0 10px;
  text-transform: capitalize;
  color: var(--secondary-text-color) !important;
  background: var(--primary-theme-color) !important;
  border: none;
  width: auto;
  white-space: nowrap;
  box-sizing: content-box;

  &:hover:enabled {
    border: none;
  }

  &:after {
    display: none;
  }
}

.FilterButtonActiveAllergen {
  height: 25px;
  font: $medium var(--primary-font-heading);
  padding: 0 10px;
  text-transform: capitalize;
  color: var(--secondary-text-color) !important;
  background: var(--primary-theme-color) !important;
  border: none;
  white-space: nowrap;
  width: 100px;
  path {
    fill: var(--primary-button-color);
    stroke: var(--primary-button-color);
  }

  &:hover:enabled {
    border: none;
  }

  &:after {
    display: none;
  }
}

.FilterButtonInActive {
  height: 25px;
  background: var(--primary-background-color);
  font: $xsmall var(--primary-font-heading);
  text-transform: capitalize;
  box-shadow: none;
  width: auto;
  white-space: nowrap;
  color: var(--primary-theme-color);
  width: 100px;

  &:hover:enabled {
    color: var(--primary-theme-color);
    background: var(--primary-background-color);
    box-shadow: none;
  }

  &:after {
    display: none;
  }
}

.FilterButtonInActive,
.FilterButtonActive,
.FilterButtonActiveAllergen {
  display: flex;               
  align-items: center;        
  justify-content: center;    
  gap: 6px;                    
}


.wrapper {
  margin: 5px;
}

.welcomeTitle {
  font: $xlarge var(--primary-font-heading);
  color: var(--primary-text-color);
  text-align: center;
  text-transform: capitalize;
  margin-top: 15px;
  margin-bottom: 45px;
}

.drawerWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 30px;
}

.searchWrapper {
  align-items: baseline;
  display: flex;
  flex: 1px;
  margin-top: 0px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.filterTagWrapper {
  align-items: baseline;
  display: flex;
  flex: 1px;
  margin-top: 0px;
  flex-wrap: wrap;
  flex-direction: row;
}

.indredientWrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 30px;
}

.btnWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 10px;
}

.viewAllButton {
  font: $small var(--primary-font-heading);
  align-self: baseline;
  gap: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  text-transform: uppercase;
}

.chefSpecialCategory {
  background-color: #D8D9DB;
}
