.subCategoryName {
  font-size: 1.875rem;
  font-family: 'Bodoni MT Std';
  margin: 32px auto 15px auto;
  text-align: center;
}

.subCategoryNameSkeleton {
  margin: 32px auto 15px auto;
  height: 24px;
  width: 220px;
}

.animation {
  position: relative;
  overflow: hidden;
  background-color: #dee3ea;

  opacity: 0.45;
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #fff 50%, transparent 100%);
    animation: load 2.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

.totalWrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 768px;
  padding: 21px 25px 74px 26px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -2px 10px #00000033;
}

.orderButton {
  height: 44px;
  width: 100%;
}

.totalRow {
  margin-bottom: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.totalText,
.totalPrice {
  font-size: 0.93rem;
  line-height: 1.33;
  font-weight: 500;
}

@keyframes load {
  0% {
    left: -150px;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.listContainer {
  width: 96%;
  margin: auto;
}

.listContainerScroll {
  width: 96%;
  margin: auto;
  margin-top: 6.4rem;
}

.listContainerSearchScroll {
  width: 96%;
  margin: auto;
  margin-top: 7.8rem;
}

.noItems {
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
  color: var(--primary-theme-color);
}

.subCategoryName {
  font-size: 1.875rem;
  font-family: 'Bodoni MT Std';
  margin: 32px auto 15px auto;
  text-align: center;
}

.subCategoryNameSkeleton {
  margin: 32px auto 15px auto;
  height: 24px;
  width: 220px;
}

.animation {
  position: relative;
  overflow: hidden;
  background-color: #dee3ea;
  opacity: 0.45;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #fff 50%, transparent 100%);
    animation: load 2.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

.totalWrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 768px;
  padding: 15px 25px 40px 26px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 -2px 10px #00000033;
}
.totalButtonWrapper {
  margin-bottom: -25px;
}

.orderButton {
  height: 44px;
  width: 100%;
  padding-top: 14px;
  background-color: var(--primary-theme-color);
  font-family: $fontMedium !important;
  font-size: $xsmall;
}

.totalRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.totalText,
.totalPrice {
  font-size: 0.93rem;
  line-height: 1.33;
  font-weight: 500;
  text-transform: uppercase;
  font-family: $fontSemibold;
}

@keyframes load {
  0% {
    left: -150px;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

.selectedCategoryItems {
  width: '100%';
}

.subCategoriesText {
  margin: 8px 12px;
}

.searchWrapper {
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  display: flex;
  flex: 1px;
  margin-top: 0px;
}

.searchText {
  font-family: $fontRegular;
  font-size: $large;
  color: $textColorTernary;
  margin-bottom: 15px;
}

.searchIcon {
  cursor: pointer;
}

.searchPlaceholder {
  font-size: 50px !important;
}

.searchDiv {
  width: 100%;
  margin-top: 46px;
  padding: 0 10px;
}

.searchDivSecondary {
  width: 100%;
  margin-top: 20px;
  padding: 0 10px;
}

.searchDivScroll {
  position: fixed;
  top: 38px;
  left: 0;
  right: 0;
  margin: auto;
  width: min(91%, 730px);
  padding: 20px 20px 12px;
  margin-top: 20px;
  background-color: var(--primary-background-color);
  z-index: 3;
}

.menuUnavailableContainer {
  height: auto;
  background: var(--primary-theme-color);
  color: var(--secpndary-text-color);
  width: 100%;
  padding: 0.5rem 0.5rem 0 0.5rem;
  margin: 1.5rem 0 0;
  max-width: 768px;
}

.menuTimingsText {
  font-family: $fontRegular;
  font-size: $small;
  width: 90%;
  margin: auto;
}

.menuUnavailableTitle {
  font-family: $fontRegular;
  font-size: $small;
  text-transform: uppercase;
}

.menuUnavailableDescription {
  font-family: $fontLight;
  font-size: $xsmall;
  width: 55%;
  margin: auto;
  line-height: 1.5;
  padding-bottom: 10px;
}
