.image {
  width: 100%;
  min-height: 182px;
  display: flex;
  object-fit: cover;
}

.imagePlaceholder {
  background: #bebebe;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    max-width: 65%;
  }
}
