.plusMinusInputWrapper {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
}

.plusMinusButton {
  height: 30px;
  width: 30px;
  border: none;
  display: flex;
  justify-content: end;
  align-items: center;

  &:disabled {
    & > svg > path {
      fill: var(--primary-theme-color) !important;
    }
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.plusIcon {
  width: 20px;
  // height: auto;
  path {
    fill: var(--primary-theme-color);
    stroke: var(--primary-theme-color);
  }
}

.minusIcon {
  width: 20px;
  // height: auto;
  path {
    fill: var(--primary-theme-color);
    stroke: var(--primary-theme-color);
  }
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  font: $medium var(--primary-font-medium);
  -webkit-user-select: none;
  user-select: none;
  width: auto;
  height: 30px;
  line-height: 30px;
}
