.background {
  position: fixed;
  box-sizing: border-box;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--primary-overlay-color);
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  max-width: 768px;
}

.backgroundOpened {
  opacity: 1;
  visibility: visible;
}

.wrapper {
  position: fixed;
  bottom: 10rem;
  left: 1rem;
  right: 1rem;
  min-width: 50px;
  max-width: 708px;
  min-height: 50px;
  max-height: 150px;
  display: flex;
  background: var(--primary-background-color);
  border-radius: var(--primary-card-border-radius);
  box-shadow: 0px 6px 35px $shadow;
  transition: all 0.5s;
  transform: translateY(100%);
  margin: 0 auto;
  z-index: 1201;
  padding: 1rem 0 1rem 0.5rem;
}

.wrapperOpened {
  transform: translateY(0);
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  max-width: 60px;
  margin: 0 0.5rem 0 0;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
}

.title {
  font: $header var(--heading-font-regular);
  width: 95%;
  text-transform: capitalize;
  margin: 2px 0;
}

.description {
  font: $small var(--primary-font-regular);
  line-height: 1.5;
  width: 95%;
}
