.perDayActive,
.priceActive {
  color: $textColor;
}

.roomPersonalizationInputWrapper {
  border: 1px solid #505050;
  box-shadow: #0505054d 0 25px 120px;
  width: 86px;
  height: 32px;
  margin-left: 0;
  margin-right: auto;
  border-radius: 4px;
  align-items: center;
  margin-top: 0;

  svg {
    width: 17px;
    height: auto;
    path {
      fill: #505050 !important;
    }
  }

  input {
    color: #000000;
  }

  & > div {
    width: 86px;
  }
}
