.centeredText {
  font-size: 0.75rem;
  line-height: 1.5;
  margin-top: 32px;
  margin-bottom: 32px;
  color: #313131;
  max-width: 308px;
  align-self: center;
}

.nextButton {
  width: 100vw;
  max-width: 768px;
  margin-left: -30px;
  margin-right: 0;
  font-weight: 500;
  font-size: 0.875rem;
  margin-top: auto;
  font-weight: normal;
}

.identityInputs {
  margin: 0;
}

.pageWrapper {
  padding-bottom: 0;
  padding: 0 30px;
}
