.count {
  position: absolute;
  left: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 25px;
  width: 25px;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  color: var(--primary-theme-color);
  font-size: $small;
  font-family: var(--primary-font-medium);
}

.arrow {
  position: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-theme-color);
}
