.background {
  position: fixed;
  box-sizing: border-box;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  visibility: hidden;
  overflow: hidden;
  max-width: 768px;
  opacity: 0;
  background-color: var(--primary-drawer-background-color);
}

.backgroundOpened {
  opacity: var(--primary-drawer-background-opacity);
  visibility: visible;
}

.drawerNotch {
  position: absolute;
  left: 0;
  right: 0;
  top: 8px;
  margin: 0 auto;
  width: 50px;
  height: 5px;
  background: var(--primary-drawer-notch-color) 0% 0% no-repeat padding-box;
  border-radius: 3px;
  z-index: 2;
}

.drawerContent {
  overflow: auto;
}
