.pageWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 64px 20px 110px 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.bannerImage {
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.indicatorIcon {
  width: 6px;
  height: 6px;
  background: var(--secondary-text-color);

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.listComponent {
  position: relative;
  margin-top: 115px;

  &:first-child {
    margin-top: 36px;
  }

  &:last-child {
    margin-bottom: 80px !important;
  }
}

.listComponentTitle {
  cursor: pointer;
  font-size: $xlarge;
  font-family: var(--secondary-font-regular);
  text-align: center;
  color: var(--primary-text-color);
}

.listComponentData {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonsWrapper {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.listComponentBtn {
  width: 140px;
  height: 36px;
  padding: 5px 15px;
  font-size: 0.75rem;
  white-space: nowrap;
  font-weight: bold;
  color: var(--primary-theme-color);
}

.listComponentBookingBtn {
  width: auto;
  height: 36px;
  padding: 5px 15px;
  margin-left: auto;
  font-weight: bold;
  color: var(--primary-theme-color);
}

.showAll {
  width: auto;
  margin: 15px auto 0 auto;
  padding: 10px 25px;
}

.cuisineIcon {
  height: auto;
}

.restaurantIcon {
  flex: 0 0 18px;
  height: auto;
}

.locationIcon {
  flex: 0 0 13px;
  height: auto;
}

.cuisineRow,
.locationRow,
.restaurantRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  margin-top: 8px;
  font-family: var(--primary-font-regular);
  font-size: $xsmall;
  text-transform: capitalize;

  span {
    margin-left: 8px;
    font-size: 0.75rem;
    line-height: 1.5;
    text-transform: capitalize;
    color: var(--primary-text-color);
    margin-top: 2px;
  }
}

.restaurantRow {
  span {
    margin-left: 3px;
  }
}

.callRow,
.emailRow {
  text-decoration: none;
  color: var(--primary-theme-color);
}

.backToTop {
  width: 140px;
  height: 36px;
  margin: 1rem auto 0;
  font-family: var(--primary-font-bold);
  width: 155px;
  font-size: 0.75rem;
  white-space: nowrap;
  color: var(--primary-theme-color);
  padding: 1.3rem 0;
}

.viewMenuBtn {
  display: none;
}

.listViewDetails {
  display: none;
}

.contentWrapper {
  width: 300px;
  position: absolute;
  transform: translate(0%, 40%);
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  box-shadow: 0px -2px 10px var(--primary-box-shadow-color);
  background-color: var(--primary-background-color);
}

.imageContent {
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.readMoreButton {
  font-size: $extraSmall;
  font-family: var(--secondary-button-font-family);
  color: var(--primary-theme-color);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  text-transform: uppercase;
}
