.wrapper {
  background: $backgroundSecondary;
  margin-top: 40px;
  height: 80px;
  border-radius: 20px;
  color: var(--primary-text-color);
  width: 100%;
  padding: 0 8px;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 8px;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, $gradientPrimary, $gradientSecondary, $gradientTertiary);
  border-image-slice: 1;
}

.title {
  font-size: $small;
  padding-top: 10px;
  font-family: $fontSemibold;
}

.id {
  font-size: $small;
  padding-top: 10px;
  font-family: $fontSemibold;
}

.secondRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 8px;
  padding-top: 5px;
}

.items {
  font-size: $small;
  text-transform: capitalize;
}

.myOrders {
  font-family: $fontMedium;
  width: 120px;
  height: 30px;
  padding-top: 14px;
  padding: 0px 10px;
  min-width: fit-content;
}
