.listComponentTitle {
  font-family: $fontPlayfair;
  font-size: $xlarge;
  color: $colorSecondary;
}

.additionalTimeWrapper {
  overflow: scroll;
}

.timeColumn {
  margin-left: 14px;
}

.callIcon {
  margin-right: 4px;
}

.callRow {
  margin-left: 2px;
}
