.listComponentTitle {
  font-family: $fontRegular;
  font-size: $xlarge;
}

.listComponentDataText {
  margin-top: 0.4rem;
  line-height: 1.25;
  font-size: $small;
}

.firstRow,
.callRow,
.emailRow,
.cuisineRow,
.locationRow,
.timeRow,
.thirdRow {
  span {
    font-size: $small;
    text-transform: none;
  }
}

.thirdRowBtn {
  font-size: $xsmall;
  font-family: $fontRegular;
  color: $colorPrimary;
  border: 1px solid $colorPrimary;
  background: $textColorSecondary;
  box-shadow: none;
  &:hover:enabled {
    border: 1px solid $colorPrimary;
    background: $textColorSecondary;
  }
}

.bookTableBtn {
  font-size: $xsmall;
  font-family: $fontBold;
}

.timeColumn {
  p {
    font-size: $small;
    font-family: $fontRegular;
    margin-left: 4px;
  }
}

.callIcon {
  margin-right: 6px;
}

.callRow {
  margin-left: 2px;
}

.icon_text {
  padding-top: 6px;
}

.listComponent {
  margin-bottom: 6rem;
}

.tableReservationBtn {
  padding: 0px 28px;
  border-radius: 10px;
  position: fixed;
  bottom: 60px;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background: $textColorSecondary;
  box-shadow: $shadowColor 0 -2px 10px;
  display: flex;
  flex-direction: row;
  max-width: 768px;
  margin: 0 auto;
  .bookTableBtn {
    margin: 20px 0px;
  }
}
