.listComponent {
  margin: 20px 0;
  margin-top: 0;
}

.listComponentTitle {
  font-size: 1.5rem;
  margin-bottom: 5px;
  margin: 1rem 0;
  font-family: 'Bodoni MT Std';
  line-height: 1.2;
}

.bannerImage {
  height: 100%;
  width: 100vw;
  max-width: 768px;
  object-fit: cover;
  margin-left: -25px;
}

.listComponentData {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.listComponentDataText {
  line-height: 1.25;
  white-space: pre-wrap;
}

.additionalInformation {
  line-height: 1.25;
  max-height: 0;
  transition: all 0.2s;
  overflow: hidden;
  white-space: pre-wrap;
}

.additionalInformationOpened {
  max-height: 250px;
}

.firstRow,
.callRow,
.emailRow,
.cuisineRow,
.locationRow,
.timeRow,
.thirdRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding-right: 10px;

  span {
    margin-left: 10px;
    font-size: 1rem;
    line-height: 1.25;
    color: var(--primary-text-color);
    text-align: start;
    width: fit-content;
  }
}

.timeRow {
  justify-content: flex-start;
}

.firstRow,
.thirdRow,
.timeRow {
  margin-top: 20px;
}

.timeRow {
  align-items: flex-start;
}

.thirdRowBtn {
  width: 133px;
  height: 36px;
  font-size: 0.75rem;
  font-weight: bold;
}

.bookTableBtn {
  margin: 40px 0;
}

.viewMenuOrder {
  display: none;
}

.readMore {
  color: var(--primary-theme-color);
  margin-top: 4px;
  font-size: 1rem;
  line-height: 1.25;
  cursor: pointer;
  display: inline-block;
  text-align: start;
  margin-left: auto;
}

.timeShowMoreButton {
  margin-top: 2px;
  margin-left: 20px;
}

.timeShowMoreIcon {
  transition: all 0.2s;
  path {
    fill: var(--primary-theme-color);
  }
}

.timeShowMoreIconOpened {
  transform: rotate(-180deg);
}

.timeColumn {
  margin-left: 10px;
  display: flex;
  flex-direction: column;

  p {
    text-transform: capitalize;
  }
}

.additionalTimeWrapper {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s;
  width: 16rem;
}

.additionalTimeWrapperOpened {
  max-height: 250px;
}

.callRowOffers,
.emailRowOffers {
  text-decoration: none;
  color: var(--primary-theme-color);
}

.viewMenuOrder {
  display: flex;
  margin: 40px 0 0 0;
  text-align: center;
  height: 46px;
  line-height: 46px;
  padding-top: 14px;
}
