.youMayAlsoLikeText {
  font-family: $fontMedium;
  font-size: $medium;
}


.youMayAlsoLikeItemText {
  font-size: $small;
}

.scroll {
  cursor: pointer;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  width: 100%;
}

