.timePickerWrapper {
  margin: 0 8px;

  :global(.rmc-multi-picker) {
    height: 160px;
    width: 80%;
    margin: 0 auto;
  }

  :global(.rmc-picker) {
    height: 110px;
    width: 90%;
  }

  :global(.my-picker-view-item) {
    color: var(--tertiary-text-color);
    margin: 0;
    width: 80%;
    font-size: $large;
    font-family: var(--primary-font-book);
  }

  :global(.format) {
    width: 53% !important;
    margin: 0 auto;
  }

  .disabled {
    display: none;
  }

  :global(.minute) {
    width: 44% !important;
    margin: 0 auto;
    margin-left: 21px;
  }

  :global(.hour) {
    width: 50% !important;
    margin: 0 auto;
    margin-left: 25px;
  }

  :global(.day) {
    width: 103% !important;
    margin: 0 auto;
  }

  :global(.rmc-picker-item-selected) {
    color: var(--primary-theme-color);
    font-size: $large !important;
    font-family: var(--primary-font-medium);
  }

  :global(.rmc-picker-item) {
    padding: 0px;
    width: 90%;
  }
}
