.chooseDateText {
  margin-bottom: 18px;
  font-size: $medium;
  line-height: 1.333;
  font-weight: bold;
}

.chooseAnotherDateText {
  margin-bottom: 18px;
  font-size: $medium;
  line-height: 1.333;
  font-weight: bold;
}

.chooseAnotherDateRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 3px;
}

.chooseAnotherDateArrow {
  margin-top: 8px;
  transition: all 0.2s;
  cursor: pointer;
}

.chooseAnotherDateArrowOpened {
  transform: rotate(-180deg);
}

.dateContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 27px;
}

.chooseTimeRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chooseTimeTitle {
  font-size: $medium;
  line-height: 1.25;
  font-family: var(--primary-font-regular);
}

.dateSelectInput {
  visibility: hidden;
  width: 0;
  height: 0;
}

.datePickerWrapper {
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s;

  :global(.Mui-selected) {
    background-color: var(--primary-theme-color) !important;
  }

  :global(.MuiPickersArrowSwitcher-button .MuiSvgIcon-root) {
    fill: var(--primary-text-color);
  }

  :global(.MuiPickersArrowSwitcher-button.Mui-disabled .MuiSvgIcon-root) {
    fill: rgba(0, 0, 0, 0.26);
  }
}

.datePickerWrapperOpened {
  max-height: 350px;
}

.timeBox {
  width: 100px;
  height: 44px;
  border: 1px solid var(--primary-background-color);
  border-radius: 3px;
  font-size: $medium;
  line-height: 1.25;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 12px 5px 12px 13px;
  cursor: pointer;
}

.timeBoxArrow {
  width: 10px;
  transform: translate(-8px, 2px);
  margin-left: auto;
  path {
    fill: var(--secondary-text-color);
  }
}

.confirmOrderButton {
  margin: 0 auto;
  padding: 16px 26px;
  background: var(--secondary-text-color);
  position: fixed;
  bottom: 4rem;
  left: 0;
  right: 0;
  border-radius: 10px 10px 0 0;
  box-shadow: var(--primary-box-shadow-color) 0 1px 20px;
  max-width: 768px;
  margin: 0 auto;
}

.dateTimeWrapper {
  display: flex;
  flex-direction: column;
}

.dateTimeHeading {
  font-size: $large;
  margin: 1.875rem 0rem;
}
