.dateTimeHeading {
  font-size: $large;
  margin: 1.875rem 0rem;
  display: none;
}

.chooseDateText {
  margin-bottom: 18px;
  font-size: $large;
  line-height: 1.333;
  font-weight: bold;
  font-family: $fontSemibold;
  display: none;
}

.chooseAnotherDateText {
  display: flex;
  margin-bottom: 18px;
  font-size: $medium;
  line-height: 1.333;
  font-weight: bold;
  font-family: $fontSemibold;
}

.chooseTimeTitle {
  font-size: $medium;
  line-height: 1.25;
  font-family: $fontSemibold;
}

.chooseTimeRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.timeBox {
  width: 77px;
  height: 44px;
  border: none;
  font-size: $medium;
  display: flex;
  align-items: center;
  padding: 18px 5px 12px 10px;
  cursor: pointer;
}

.timeBoxArrow {
  width: 11.2px;
  height: 7px;
  transform: translate(3px, -2.5px);
  path {
    fill: var(--primary-theme-color);
  }
}

.chooseAnotherDateArrow {
  margin-left: 12px;
  margin-bottom: 1px;
  transition: all 0.2s;
  width: 11.2px;
  height: 7px;
  cursor: pointer;
  path {
    fill: var(--primary-theme-color);
  }
}

.chooseAnotherDateRow {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex: 1px;
  justify-content: space-between;
  path {
    fill: var(--primary-theme-color);
  }
}
