.orderButtonWrapper {
  padding: 10px 15px 15px 15px;
  position: fixed;
  bottom: 64px;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background: $colorPrimary;
  box-shadow: 0 -6px 8px -2px $shadowColor;
  display: flex;
  flex-direction: row;
  max-width: 768px;
  margin: 0 auto;
  margin-bottom: -5px;
}

.orderContents {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #707070;
  width: 43px;
  height: 43px;
  flex: 0 0 43px;
  margin-right: 32px;
  border-radius: 50%;
  font-size: 0.875rem;
  line-height: 1;
}

.orderButton {
  font-weight: 900;
  height: 44px;
  flex: 1;
  font-size: 14px;
  font-family: $fontBold;
}

.housekeepingWrapper {
  padding: 0 25px;
  padding-bottom: 125px;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: calc(100vh - 376px);
  box-sizing: border-box;
}
