.diningElement {
  display: flex;
  align-items: center;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 20px;
  justify-content: center;
  margin: 0 240px;
  &:first-child {
    margin-top: 10px;
  }
  &:not(:first-child) {
    margin-top: 10px;
  }
  &:not(:last-child) {
    color: #00000029;
    background: linear-gradient(to right, currentColor 0%, currentColor 60%, transparent 10%)
      repeat-x left bottom;
    background-size: 20px 1px;
  }
  cursor: pointer;
}

.diningImage {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-right: 23px;
  object-fit: cover;
}

.diningText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.diningTitle {
  margin-bottom: 4px;
  line-height: 1.15;
  width: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1px;
  display: flex;
  font-size: $medium;
  font-family: var(--primary-font-medium);
  color: var(--tertiary-text-color);
}

.diningTitleTime {
  font-size: $extraSmall;
  text-transform: capitalize;
}

.selected {
  color: var(--tertiary-text-color) !important;
}
