.diningElement {
  &:not(:first-child) {
    margin-top: 83px;
  }

  display: flex;
  align-items: center;
  cursor: pointer;
}

.diningImage {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-right: 23px;
  object-fit: cover;
}

.diningText {
  display: flex;
  flex-direction: column;
}

.diningTitle {
  font-family: 'Bodoni MT Std';
  font-size: 1.25rem;
  margin-bottom: 4px;
  line-height: 1.15;
  width: 200px;
}
