.confirmCheckoutWrapper {
  padding: 67px 40px 21px 40px;
  border-radius: 15px 15px 0 0;
}

.confirmCheckoutTitle {
  font-size: 1.5rem;
  font-family: 'PlayfairDisplay';
  margin-bottom: 46px;
  font-weight: normal;
  color: #000000;
}

.text {
  font-size: 1rem;
  line-height: 1.375;
  max-width: 310px;
  color: #000000;
}

.buttons {
  margin-top: 37px;
  padding: 0 5px;
}

.button {
  width: 134px;
  height: 46px;
  border-radius: 4px;

  &:last-child {
    margin-right: 10px;
  }
}

.confirmCheckoutBackground {
  background: rgba(0, 0, 0, 0.61);
}
