.confirmCheckoutWrapper {
  padding: 50px 37px 39px 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 35px 35px 0 0;
  position: fixed;
  box-sizing: border-box;
  margin: 0 auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 250;
  transition: all 0.2s;
  transform: translateY(100%);
  max-width: 768px;
}

.confirmCheckoutWrapperOpened {
  transform: translateY(0);
}

.confirmCheckoutBackground {
  position: fixed;
  box-sizing: border-box;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(78, 81, 81, 0.75);
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  max-width: 768px;
}

.confirmCheckoutBackgroundOpened {
  opacity: 1;
  visibility: visible;
}

.confirmCheckoutTitle {
  font-family: "Helvetica Medium";
  margin-bottom: 29px;
  text-align: center;
  align-self: center;
  font-size: 1.25rem;
  line-height: 1;
}

.emailId {
  font-family: 'Bodoni MT Std';
  color: $textColorTernary;
  font-size: 1.125rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  width: 100%;
}

.button {
  width: 140px;
  height: 36px;
  font-weight: 900;
  font-family: "Helvetica Bold";
  font-size: $xsmall;
}

.text {
  font-size: 1rem;
  max-width: none;
  line-height: 1.25;
  text-align: center;
  font-family: "Helvetica";
}
