.infoCardStyles {
  padding: 20px 15px;
  border-radius: 3px;
  position: relative;
  margin: 20px 0px;
  background-color: var(--primary-card-background-color);
}

.showMoreBtn {
  position: absolute;
  top: 13px;
  right: 15px;
}

.showMoreBtnOpened {
  & > svg {
    transform: rotate(90deg);
  }
}

.editBtn {
  position: absolute;
  top: 19px;
  right: 49px;
}

.showMoreIcon {
  width: 30px;
  height: auto;
  transition: transform 0.2s;
  & > path {
    fill: var(--primary-theme-color);
  }
}

.editIcon {
  height: 12px;
  width: auto;

  & > path {
    fill: var(--primary-theme-color);
  }
}

.homeCard {
  display: block;
}

.homeCardInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.errorText {
  color: var(--primary-error-text-color);
  font-size: $small;
  text-align: initial;
  padding: 8px 0px;
}

.titleText {
  font-size: $medium;
  font-family: var(--primary-font-news);
  color: var(--quaternary-text-color);
}

.detailsText {
  font-size: $medium;
  text-align: initial;
  padding: 8px 0px;
}

.firstSection {
  display: flex;
}

.homeIcon {
  width: 60px;
  display: flex;
}

.homeCardInfo {
  align-items: flex-start;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
