.okIcon {
  width: 40px;
}

.homeIcon {
  margin-bottom: 5px;
}

.infoCardStyles {
  padding: 10px 15px 10px 15px;
  border-radius: 10px;
  position: relative;
  border: 1px var(--primary-background-color) solid;
  margin: 20px 0px;
  background: var(--primary-background-color);
}

.titeText {
  font-size: $medium;
  font-family: var(--primary-font-medium) !important;
}

.homeCardInner {
  padding: 10px 5px;
}
