.background {
  position: fixed;
  box-sizing: border-box;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.61);
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  max-width: 768px;
}

.backgroundOpened {
  opacity: 1;
  visibility: visible;
}

.wrapper {
  background: #fff;
  border-radius: 35px 35px 0 0;
  padding: 50px 40px 32px 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.2s;
  transform: translateY(100%);
  max-width: 768px;
  z-index: 300;
  overflow: auto;
  margin: 0 auto;

  @media (pointer: coarse) {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.wrapperOpened {
  transform: translateY(0);
}

.title {
  text-align: center;
  font-size: $small;
  margin: 10px auto 10px auto;
  font-family: $fontMedium;
  color: $textColorQuaternary;
}

.tableNo {
  text-align: center;
  font-size: 45px;
  margin: 0 auto 10px auto;
  font-family: $fontRegular;
  color: $colorSecondary;
}

.totalRequests {
  font-size: $xlarge;
  line-height: 1.33;
  margin-bottom: 36px;
  font-weight: bold;
}

.option {
  line-height: 1.3125;
  font-size: $medium;
  font-weight: bold;
}

.line {
  margin: 24px 0;
  height: 1px;
  background: #707070;
}

.optionDescription {
  font-size: $medium;
  line-height: 1.25;
  margin-top: 8px;
}

.button {
  height: 46px;
  font-size: $xsmall;
  font-family: $fontMedium;
}

.guestDataInput {
  width: 100%;

  &:not(:first-child) {
    margin-top: 30px;
  }

  &:first-child {
    margin-top: 8px;
  }
}

.buttonWrapper {
  margin-top: 40px;
}

.formTitle {
  text-align: left;
  font-size: $large;
  margin: 30px auto 0px auto;
  font-family: $fontRegular;
  color: $textColorTernary;
  width: 101%;
}

.checkBoxWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: -20px;
}

.guest {
  font-size: $small;
  font-family: $fontRegular;
  color: $textColorQuaternary;
  margin-left: 6px;
}
