.imageTitle {
  margin-top: 15px;
  font-size: $xlarge;
  font-family: var(--primary-font-regular);
  align-self: start;
}

.container {
  margin-top: 5px;
}

.imageImage {
  transform: none;
}

.imagesBody {
  font-size: $xsmall;
  font-family: var(--primary-font-regular);
  margin-top: 0.5rem;
}

.ctaButton {
  margin-top: 0px;
  font-size: $xsmall;
  font-family: var(--primary-font-bold);
  text-align: start;
  left: 0;
}

.buttonWrapper {
  display: flex;
  align-self: start;
}
