.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.imageTitle {
  margin-top: 25px;
  font-size: 1.6rem;
  margin-bottom: 50px;
  font-family: $fontSemibold;
  text-align: center;
  max-width: 232px;
  line-height: 1.25;
}

.ctaButton {
  margin-top: 15px;
  color: $textColor;
  font-weight: 600;
  text-transform: none;
  font-size: $small;
  border: 1px solid $textColor !important;
  border-radius: 30px;
  width: 162px;
  height: 35px;
  line-height: 35px;
  font-family: $fontSemibold;
}

.imagesBody {
  text-align: center;
}
