.styledInput {
  :global(.MuiFormLabel-filled) {
    color: var(--tertiary-text-color);
  }

  :global(.MuiInputLabel-standard) {
    color: var(--tertiary-text-color);
  }

  :global(.Mui-focused) {
    color: var(--tertiary-text-color) !important;
  }

  :global(.MuiInputBase-input) {
    color: var(--secondary-text-color);
  }

  :global(.MuiInput-root):hover {
    &::before {
      border-bottom: 1px solid var(--tertiary-text-color);
    }
  }

  :global(.MuiInput-root) {
    &::before {
      border-bottom: 1px solid var(--tertiary-text-color);
    }

    &::after {
      border-bottom: 1px solid var(--tertiary-text-color);
    }
  }

  :global(.MuiInputLabel-asterisk),
  :global(.Mui-error) {
    color: var(--primary-error-text-color) !important;
  }

  :global(.Mui-error) {
    &::after {
      border-bottom: 1px solid var(--primary-error-text-color) !important;
    }

    &::before {
      border-bottom: 1px solid var(--primary-error-text-color) !important;
    }
  }
}
