.carouselWrapper {
  user-select: none;
}

.wrapper {
  padding: 0 25px 25px 25px;
  margin: 75px -25px 0 -25px;
}

.wrapperContents {
  margin-top: -50px;
}

.carouselImgMain {
  margin-bottom: 25px;
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.imagesWrapper {
  margin-top: 25px;
  overflow-y: visible;
  display: flex;
}

.viewAll {
  height: 250px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e2e2e2;
  border: 1px solid #ccc;
  position: relative;
}

.viewAllBtn {
  width: auto;
  min-width: 0;
  color: var(--primary-text-color);
  text-transform: none;
  padding: 5px 10px;
}

.carouselTitle {
  margin-top: 25px;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1;
  margin-bottom: 0px;
}

.carouselSlideWrapper {
  position: relative;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
}

.carouselSlideImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.carouselSlideTitle {
  font-size: 1rem;
  margin-top: 15px;
  pointer-events: none;
}

.imgWrapper {
  position: relative;
  height: 250px;
  width: 150px;
}

.imgWrapperClickable {
  cursor: pointer;
}

.ctaButton {
  position: absolute;
  padding: 5px 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
