.indicatorIconContainer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  gap: 5px;
}

.activeIndicatorIcon {
  opacity: 1 !important;
  transform: scale(1.3);
}

.indicatorIcon {
  width: 5px;
  height: 5px;
}

.bannerImage {
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.Carousel {
  position: relative;
}

.activeIndicator {
  background-color: var(--primary-indicator-color);
}

.inactiveIndicator {
  background-color: var(--primary-image-transition-background-color);
}
