.billElement {
  padding: 23px 0 7px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #7b7b7b;
  margin: 0 15px;
}

.infoColumn {
  display: flex;
  flex-direction: column;
}

.time {
  line-height: 1;
  margin-bottom: 10px;
  font-size: 0.75rem;
  text-align: left;
}

.title {
  font-family: 'Bodoni MT Std';
  font-size: 1.125rem;
  color: $textColorTernary;
  line-height: 1;
  text-align: left;
}

.chequeNo {
  margin-right: 7px;
  line-height: 1;
  margin-bottom: 13px;
  font-size: 0.75rem;
}

.price {
  line-height: 1;
  margin-right: 7px;
  line-height: 1;
  margin-bottom: 13px;
  font-size: 0.9375rem;
  text-align: end;
  font-weight: 600;
}
