.billElement {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-border-color);
  margin: 0 15px;
}

.infoColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoColumnWithoutCheque {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.time {
  line-height: 1;
  margin-bottom: 10px;
  font-size: $extraSmall;
  font-family: var(--primary-font-regular);
  text-align: left;
  color: var(--tertiary-text-color);
}

.title {
  font-family: var(--primary-font-heading);
  font-size: $medium;
  color: var(--primary-text-color);
  line-height: 1;
  text-align: left;
}

.chequeNo {
  line-height: 1;
  font-size: $extraSmall;
  font-family: var(--primary-font-regular);
  color: var(--tertiary-text-color);
}

.price {
  line-height: 1;
  text-align: end;
  font-weight: 600;
  font-family: var(--primary-font-heading);
  font-size: $medium;
  color: var(--primary-text-color);
}

.billAmountCurrency {
  font-size: $xsmall;
}
