.billElement {
  border-bottom: 1px solid #313131;
  margin: 0;
  padding: 23px 8px 15px 14px;
  position: relative;
}

.infoColumn {
  flex-direction: column-reverse;
  justify-content: center;
}

.title {
  font-family: $fontMedium;
  font-size: 1.18rem;
  line-height: 1.26;
  margin-bottom: 18px;
}

.time {
  margin-bottom: 0;
  font-size: 0.625rem;
  line-height: 1.8;
  font-weight: bold;
}

.chequeNo {
  margin: 0;
  font-size: 0.625rem;
  line-height: 1.8;
  position: absolute;
  left: 14px;
  top: 47px;
}

.price {
  font-size: $medium;
  font-family: $fontMedium;
}

.currency {
  font-size: 13px;
  font-family: $fontRegular;
}
