.diningCarouselWrapper {
  margin: 1rem 0;
}

.diningCarouselTitle {
  font: $xheader var(--heading-font-regular);
  text-align: center;
  margin: 0.5rem;
}

.diningSecondaryCarouselTitle {
  margin: 0.5rem 0 1.5rem;
}

.diningOptions {
  display: flex;
  align-items: center;
  background: var(--primary-card-background-color);
  height: 50px;
  width: fit-content;
  padding: 0 8px;
  justify-content: center;
  margin: 1rem auto 1.5rem;
  border-radius: var(--primary-button-border-radius);
}

.diningOptionsItem {
  font: $xsmall var(--primary-font-medium);
  text-transform: uppercase;
  height: 38px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
  cursor: pointer;
  position: relative;
  padding-top: 2px;
}

.diningOptionsItem:before {
  content: attr(data-tip);
  position: absolute;
  color: var(--secondary-text-color);
  left: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.25;
  background-color: var(--primary-theme-color);
  // transition: left 0.9s ease;
  transition: opacity 0.5s;
}

.diningOptionsItemActive:before {
  border-radius: var(--primary-button-border-radius);
  left: 0;
  opacity: 1;
}

.diningOptionsItemActive {
  color: var(--secondary-text-color);
}

.carouselWrapper {
  user-select: none;
  overflow: scroll;
  margin-inline-start: 12px;
}

.carouselWrapperSingleImage {
  justify-content: center;
  width: 100% !important;
}

.carouselWrapper::-webkit-scrollbar {
  display: none;
}

.carouselSlideWrapper {
  width: 100%;
  height: 286px;
  cursor: pointer;
}

.carouselSlideImage {
  position: relative;
  z-index: -1;
  height: 182px;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: 100;
  position: absolute;
  border-radius: var(--primary-card-border-radius);
}

.carouselSlideDetailsWrapperRestaurantsAndBars {
  width: 90%;
  height: 140px;
  box-shadow: 0px 3px 6px var(--primary-box-shadow-color);
  text-align: center;
  z-index: 200;
  position: absolute;
  bottom: 5px;
  left: 0px;
  right: 0px;
  margin: auto;
  border-radius: var(--primary-card-border-radius);
  background: var(--primary-card-background-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.carouselSlideDetailsWrapperIrd {
  height: 120px;
  bottom: 15px;
}

.carouselSlideTitle {
  font: $xlarge var(--heading-font-regular);
  padding: 0.5rem 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.carouselSlideTimings {
  font: $xsmall var(--primary-font-regular);
  color: var(--tertiary-text-color);
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carouselSlideViewMore {
  margin: 0.25rem 0;
  font: 9px var(--primary-font-extd-regular);
  color: var(--primary-theme-color);
  text-transform: uppercase;
  gap: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.viewAll {
  height: 180px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e2e2e2;
  border: 1px solid #ccc;
  position: relative;
}

.viewAllBtn {
  width: auto;
  min-width: 0;
  color: var(--primary-text-color);
  text-transform: none;
  padding: 5px 10px;
}

.cuisineRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  text-decoration: none;
  font-family: var(--primary-font-regular);
  margin: 4px 0;
  font-size: $xsmall;
  text-transform: capitalize;
  justify-content: flex-start;

  span {
    font-size: 0.75rem;
    line-height: 1.5;
    text-transform: capitalize;
    color: var(--primary-text-color);
  }
}

.cuisineRowTime {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  text-decoration: none;
  margin: 4px auto;
  font-family: var(--primary-font-regular);
  font-size: $xsmall;
  text-transform: capitalize;

  p {
    font-size: 0.75rem;
    line-height: 1.5;
    text-transform: capitalize;
    color: var(--primary-text-color);
    -webkit-line-clamp: 2;
    width: 100%;
  }
}

.text {
  --webkit-line-clamp: 1;
}

.carouselWrapperSingleImageUl {
  ul {
    width: 100% !important;
  }
}

.button {
  width: auto;
  font-size: $xsmall;
  height: 30px;
}

.buttonWrapper {
  text-align: start;
  margin: 5px auto;
}
