.imageImage {
  height: 250px;
  object-fit: cover;
  width: 100%;
  min-width: 220px;
}

.shadowedImage {
  filter: contrast(0.5);
}

.imageWrapper {
  position: relative;
  margin: 25px 0;
}

.imageImageLink {
  cursor: pointer;
}
