.reservationId {
  display: none;
}

.dateTimeWrapper {
  display: none;
}

.successText {
  font-family: 'PlayfairDisplay';
  font-size: 1.75rem;
  line-height: 1.285;
  color: #595959;
}

.checkIcon {
  margin: 86px auto 20px auto;
}

.centeredText {
  font-size: 0.875rem;
  color: #000000;
  max-width: 250px;
  text-align: center;
}

.pageWrapper {
  align-items: center;
}

.backButton {
  width: 200px;
  background: #000000;
  color: var(--secondary-text-color) !important;
  border: none;
  border-radius: 0;
  border-radius: 2px;
  height: 40px;
  margin-top: 18px;

  &:hover:enabled {
    background: #000000;
    border: none;
  }
}
