.successText {
  font-size: $xlarge;
  font-family: var(--primary-font-regular);
  margin-bottom: 65px;
}

.reservationId {
  font-family: var(--primary-font-regular);
  margin-top: 1rem;
}

.backButton {
  font-size: $small;
  font-family: var(--primary-font-bold);
}

.borderWrapper {
  border: 1px solid var(--primary-border-color);
  margin-bottom: 100px;
}

.dateTimeHeading {
  margin: 20px 0px 0px 0px;
  font-family: var(--primary-font-medium);
}

.dateTimeText {
  margin: 0px 0px 13px 0px;
  font-family: var(--primary-font-regular);
}

.pageWrapper {
  padding: 0px;
}

.carouselWrapper {
  padding: 0 30px;
}
