.irdCheckboxItem {
  padding: 0.75rem 0;
}

.currencyWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $shadowColorSecondary;
}

.currency {
  font-size: $xsmall;
  margin-left: 1rem;
}

.price {
  font-size: $large;
}

.name {
  word-break: break-word;
  white-space: normal;
  line-height: 1;
  overflow-wrap: break-word;
}
