.controlEntitiesWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.controlEntity {
  display: flex;
  align-items: center;
  flex-direction: column;

  & > div {
    background: transparent;
  }

  svg > path {
    fill: var(--secondary-text-color);
  }

  p {
    color: var(--primary-text-color);
  }
}

.controlEntityActive {
  & > div {
    background: var(--secondary-text-color);
  }

  svg > path {
    fill: var(--secondary-text-color);
  }

  p {
    color: var(--secondary-text-color);
  }
}

.controlEntityIconWrapper {
  width: 56px;
  height: 56px;
  border: 1px solid var(--secondary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.controlEntityText {
  color: var(--primary-text-color);
  margin-top: 5px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  font-size: 0.9375rem;
  transition: all 0.2s;
}

.lightsControlEntityIcon {
  width: 24px;
  height: auto;
  & > path {
    fill: var(--secondary-text-color);
    transition: all 0.2s;
  }
}

.tempControlEntityIcon {
  width: auto;
  height: 21px;
  & > path {
    fill: var(--secondary-text-color);
    transition: all 0.2s;
  }
}

.tVControlEntityIcon {
  width: auto;
  height: 18px;
  & > path {
    transition: all 0.2s;
    fill: var(--secondary-text-color);
  }
}
