.wrapper {
  display: flex;
  margin: 22px 4px 0 0px;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--primary-border-color);
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  line-height: 1.208;
  font-family: 'Bodoni MT Std';
  font-weight: bold;
}

.price {
  font-size: 0.937rem;
  text-transform: capitalize;
  font-weight: bold;
}

.description {
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 30px;
  margin-top: 15px;
}

.servingsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.servingsText {
  font-size: 0.9375rem;
  line-height: 1.33;
}

.customisableText {
  font-size: 0.9375rem;
  line-height: 1.33;
}

.image {
  display: none;
}
