.scroll {
  justify-content: center;
  align-items: center;
}

.youMayAlsoLikeText {
  font-family: 'Bodoni MT Std';
  margin-bottom: 21px;
  font-size: 1.5rem;
  line-height: 1;
}

.youMayAlsoLikeWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  @media (pointer: coarse) {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.youMayAlsoLikeItem {
  display: flex;
  flex-direction: column;
  padding-bottom: 21px;
  align-items: center;

  &:not(:last-of-type) {
    margin-right: 10px;
  }
}

.youMayAlsoLikeItemImage {
  width: 165px;
  height: 110px;
  margin-bottom: 10px;
}

.youMayAlsoLikeItemText {
  font-size: $small;
  text-align: center;
  margin-top: 1px;
  line-height: 1;
  text-transform: capitalize;
  font-family: $fontRegular;
  font-size: $xsmall;
  color: $textColorQuaternary;
  width: 75px;
}

.confirmationWrapper {
  justify-content: center;
  align-items: center;
  &:not(:first-child) {
    margin-left: 15px;
  }
}

.upsellButton {
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1px;
}

.counter {
  width: 59px !important;
  height: 22px !important;
}

.priceUpsell {
  font-family: $fontSemibold;
  font-size: $small;
  color: var(--primary-text-color);
}

.totalButton {
  height: 10px;
  width: 24px;
  background-color: var(--primary-theme-color) !important;
  font-family: $fontBold;
  font-size: $xsmall;
}

.counterStyle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 15px;
  top: 10px;
  position: relative;
  z-index: -1;
}
