.styledCheckBox {
  color: var(--primary-theme-color);
  padding: 0;
  background: none !important;

  :global(.MuiTouchRipple-root) {
    display: none;
  }

  :global(.MuiSvgIcon-root) {
    fill: var(--primary-theme-color);
  }
}
