.detailsCard {
  background: var(--primary-background-color);
  border: 0px;
  padding-top: 15px;
  border-radius: 10px;
}

.titeText {
  font-family: $fontOblique;
  font-size: $large;
  border-bottom: 0;
  color: var(--primary-text-color);
}

.infoCardStyles {
  padding: 0px 20px 10px 20px;
  border-radius: 10px;
}
