.infoCardStyles {
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  position: relative;
}

.showMoreBtn {
  position: absolute;
  top: 13px;
  right: 15px;
}

.showMoreBtnOpened {
  & > svg {
    transform: rotate(90deg);
  }
}

.editBtn {
  position: absolute;
  top: 19px;
  right: 49px;
}

.showMoreIcon {
  width: 30px;
  height: auto;
  transition: transform 0.2s;
  & > path {
    fill: var(--primary-theme-color);
  }
}

.editIcon {
  height: 12px;
  width: auto;

  & > path {
    fill: var(--primary-theme-color);
  }
}

.homeCard {
  display: block;
}
.homeCardInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.errorText {
  color: #dc4d40;
  font-size: $small;
  text-align: initial;
}
.titeText {
  font-family: var(--primary-font-bold);
  font-size: $large;
  height: 4vh;
  text-align: left;
  padding-left: 20px;
  line-height: 4vh;
  border-bottom: 1px solid;
}
.detailsText {
  font-size: $small;
  text-align: initial;
}
.firstSection {
  display: flex;
}
.homeIcon {
  padding-right: 4vw;
  margin: auto;
}
.homeCardInfo {
  align-items: flex-start;
}
.detailsCard {
  margin-bottom: 3vh;
  border: 1px var(--primary-theme-color) solid;
  color: var(--primary-text-color);
}
