.infoCardStyles {
  padding: 20px 0px 10px 0px;
  border-radius: 3px;
  position: relative;
}

.showMoreBtn {
  position: absolute;
  top: 13px;
  right: 15px;
}

.showMoreBtnOpened {
  & > svg {
    transform: rotate(90deg);
  }
}

.editBtn {
  position: absolute;
  top: 19px;
  right: 49px;
}

.showMoreIcon {
  width: 30px;
  height: auto;
  transition: transform 0.2s;
  & > path {
    fill: var(--primary-theme-color);
  }
}

.editIcon {
  height: 12px;
  width: auto;

  & > path {
    fill: var(--primary-theme-color);
  }
}

.homeCard {
  display: block;
}
.homeCardInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.errorText {
  color: #dc4d40;
  font-size: $small;
  text-align: initial;
}

.titleText {
  font-family: var(--primary-font-heading);
  font-size: $medium;
  height: 4vh;
  text-align: start;
  line-height: 4vh;
  border-bottom: 1px solid var(--primary-border-color);
  color: var(--primary-text-color);
}

.detailsText {
  font-size: $small;
  text-align: initial;
}
.firstSection {
  display: flex;
}
.homeIcon {
  padding-right: 4vw;
  margin: auto;
}
.homeCardInfo {
  align-items: flex-start;
}
.detailsCard {
  margin-bottom: 2vh;
  padding: 20px 20px 0px 20px;
  background: var(--primary-card-background-color);
}
