.detailsWrapper {
  width: 85%;
  height: auto;
  margin: 8px auto;
  border-radius: var(--primary-card-border-radius);
  background: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.stayDetailsTitle {
  font-family: var(--heading-font-regular);
  font-size: 1.25rem;
  text-align: center;
  align-self: center;
  width: 100%;
  margin: 0.5rem auto;
  text-transform: capitalize;
  color: #121214;
}
.bannerImage {
  width: 100%;
  height: 24vh;
  object-fit: cover;
}
.dateWrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  margin: 1.5rem 0;
  padding-top: 10px;
}
.checkInWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 35px;
  align-items: center;
}
.detailCheckinTitleName {
  font-size: $extraSmall;
  font-family: var(--primary-font-regular);
  color: var(--primary-text-color);
}
.detailCheckinTitleDate {
  font-size: $small;
  font-family: var(--primary-font-medium);
  color: var(--primary-text-color);
  text-transform: capitalize;
}
.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkOutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 35px;
}
.btnWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
  letter-spacing: 0.9px;
  padding-bottom: 1rem;
}
.buttonView {
  font-size: 0.8rem !important;
  font-family: var(--primary-font-medium);
  letter-spacing: 1.5px;
  margin: 0.5rem auto;
  width: fit-content;
  min-width: 109px;
  display: flex;
  border: 1px solid var(--secondary-button-color);
  color: var(--secondary-button-color);
  cursor: pointer;
}
.StayWrapper {
  width: 90%;
  height: auto;
  margin: 8px auto;
  border-radius: var(--primary-card-border-radius);
  background: $secondaryCardColor;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: var(--primary-box-shadow);
}
.StayWrapperTitle {
  font-family: var(--heading-font-regular);
  font-size: $xlarge;
  text-align: center;
  align-self: center;
  width: 100%;
  margin: 1rem 0;
}

.StayWrapperdesc {
  font-family: var(--primary-font-regular);
  font-size: $small;
  text-align: center;
  align-self: center;
  line-height: 1.6;
  width: 63%;
  padding-top: 1rem;
}

.stayDetailBold {
  font-family: var(--primary-font-medium);
}

.StaybuttonWrapper {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.button {
  width: auto;
  font-size: $xsmall;
  height: 43px;
  text-transform: uppercase;
  background-color: transparent;
  margin: 1rem 0;
  // font-family: var(--primary-font-medium);
}
