.imagesTitle {
  margin-top: 25px;
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-family: 'Bodoni MT Std';
  text-align: center;
}

.imagesBody {
  font-size: 1rem;
  margin-bottom: 15px;
  text-align: center;
}

.imageImageWrapper {
  position: relative;
}

.imageImage {
  height: 150px;
  object-fit: cover;
  width: 150px;
}

.shadowedImage {
  filter: contrast(0.5);
}

.imageTitleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
}

.imageTitle {
  font-size: $medium;
  font-family: var(--primary-font-regular);
  color: var(--secpndary-text-color);
  text-align: center;
  color: var(--secpndary-text-color);
}

.ctaButton {
  padding: 5px 25px;
  width: auto;
}

.imageImageWrapperLink {
  cursor: pointer;
}
