.wrapper {
  background: #fff;
  height: calc(100vh - 124px);
  max-height: calc(100vh - 124px);
  border-radius: 35px 35px 0 0;
  margin-top: 6px;
}

.messagesWrapper {
  height: calc(100vh - 237px);
  padding: 0 10px;
}
