.iframeWrapper {
  margin-top: 64px;
  max-width: 768px;
  width: 100%;
  overflow: hidden;
}

.chat {
  width: 100vw;
  height: 100dvh;
  max-width: 768px;
  overflow: hidden;
  border-width: 0px;
  position: absolute;
  top: 0;
  z-index: 11;
}

.header {
  z-index: 12;
}