.menuOptionsWrapper {
  display: flex;
  overflow: scroll;
  padding: 1.9rem 1rem 0.35rem 1rem;
  background-color: var(--primary-background-color);
  width: 93%;
  max-width: 768px;
  margin: auto;
  position: fixed;
  top: 85px;
  left: 0;
  right: 0;
  z-index: 3;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  @media (pointer: coarse) {
  }
}

.diningMenuFilterButtonWrapper {
  // margin: 0 5px;
  // width: 200px;
}

.DiningCategoryOptionActive {
  height: 30px;
  font: $extraSmall var(--primary-font-heading);
  padding: 1px 10px 0 10px;
  text-transform: capitalize;
  border-bottom: 1px solid var(--primary-theme-color) !important;
  width: auto;
  white-space: nowrap;
  color: var(--primary-theme-color);
  font-weight: 900 !important;
  -webkit-text-stroke: 0.5px currentColor !important;

  &:hover:enabled {
    border: none;
  }

  &:after {
    display: none;
  }
}

.DiningCategoryOptionInActive {
  height: 30px;
  line-height: 30px;
  background: transparent;
  font: $extraSmall var(--primary-font-extd-regular);
  padding: 1px 10px 0 10px;
  text-transform: capitalize;
  box-shadow: none;
  width: auto;
  white-space: nowrap;
  color: var(--primary-theme-color);
  border-bottom: 1px solid var(--primary-border-color);
  min-width: 80px;

  &:hover:enabled {
    color: var(--primary-theme-color);
    background: var(--primary-background-color);
    box-shadow: none;
  }

  &:after {
    display: none;
  }
}

.timeDisplayContainer {
  display: flex;
  height: 40px;
  width: min(104%, 748px);
  background-color: var(--primary-theme-color);
  color: var(--secondary-text-color);
  font-family: var(--primary-font-regular);
  font-size: $small;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.catTiming {
  line-height: 1.2;
  font-family: var(--primary-font-extd-regular);
  font-size: $extraSmall;
  text-align: center;
  margin-top: 4px;
  white-space: nowrap;
}
