.image {
  display: flex;
  object-fit: cover;
  min-height: 210px;
  width: 100%;
  height: 100%;
}

.wrapper {
  padding: 0 1.5rem 1.5rem;
}

.titleWrapper {
  position: sticky;
  top: 0;
  width: 100%;
  margin: auto;
  max-width: 768px;
  background-color: var(--primary-background-color);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font: $header var(--heading-font-regular);
  margin: 1.5rem 1rem 1rem;
  text-align: center;
}

.titleWithImage {
  margin: 1rem auto;
}

.tagsWrapper {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  margin: 1rem 0;
}

.tags {
  display: flex;
  height: 23px;
  color: var(--tertiary-text-color);
  font: $small var(--primary-font-regular);
  margin-inline-end: 10px;
  width: auto;
  min-width: 50px;
  padding: 0px 1px 0px 1px;
  justify-content: start;
  align-items: center;
  text-transform: capitalize;
}

.allergens {
  margin-inline-end: 4px;
  margin-bottom: 2px;
}

.description {
  margin: 10px 0;
  font: $small var(--primary-font-regular);
  color: var(--tertiary-text-color);
}

.ingredientsText {
  margin: 15px 0 5px;
  font: $medium var(--primary-font-heading);
}

.ingredientsDescription {
  font: $small var(--primary-font-regular);
  color: var(--tertiary-text-color);
}

.customisationWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 1.5rem 0 0.5rem;
}

.customisationsText {
  font: $medium var(--primary-font-heading);
  color: var(--primary-text-color);
  height: 1.5rem;
  line-height: 1.5rem;
}

.customisations {
  margin: 5px 0 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.radioItemWrapper {
  padding: 4px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.customizationInactive {
  background: var(--primary-backgroumd-color) !important;
  color: var(--primary-theme-color) !important;
  border: 1px solid var(--primary-border-color) !important;
  font-size: $extraSmall;
  height: 30px !important;
  text-transform: capitalize;
  padding: 0 0.5rem;
  box-shadow: none !important;
  margin-inline-end: 10px;
  &:after {
    display: none;
  }
}

.customizationActive {
  background: var(--primary-theme-color) !important;
  color: white !important;
  border: 1px solid var(--primary-theme-color) !important;
  &:after {
    display: none;
  }
}

.irdCheckboxItemWrapper {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0;
}

.addonsRow {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 1.5rem 0 0.5rem;
}

.addonsText {
  font: $medium var(--primary-font-heading);
}

.upsellWrapper {
  margin: 1.5rem 0rem 1rem;
}

.upsell {
  cursor: pointer;
  overflow-x: scroll;
  display: flex;
}

.optionalText {
  font: $xsmall var(--primary-font-regular);
  color: var(--primary-text-color);
  background-color: #f0f0f0;
  width: auto;
  padding: 0 8px;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  border-radius: var(--primary-card-border-radius);
  margin-inline-start: 0.5rem;
  display: flex;
  align-items: center;
}

.optionalTextWarning {
  font: $xsmall var(--primary-font-regular);
  color: var(--primary-error-text-color);
  background-color: #f0f0f0;
  width: auto;
  padding: 0 8px;
  height: 1.5rem;
  line-height: 1.5rem !important;
  text-align: center;
  border-radius: var(--primary-card-border-radius);
  margin-inline-start: 0.5rem;
}

.textInput {
  margin: 0.9rem 0 0.5rem;
}

.customUnderline:before,
.customUnderline:after {
  border-bottom: 0.5px solid;
  border-bottom-color: var(--primary-theme-color);
}

.priceText {
  font: $small var(--primary-font-regular);
  text-transform: uppercase;
  color: var(--tertiary-text-color);
  margin: 1.5rem 0 10px;
}

.totalItemPrice {
  margin-top: 5px;
  font: $xsmall var(--primary-font-medium);
}

.price {
  font: $medium var(--primary-font-medium);
}

.counterContainer {
  background: var(--primary-background-color);
  position: sticky;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  box-shadow: 0px -2px 10px var(--primary-box-shadow-color);
  max-width: 768x;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  border-top-left-radius: var(--primary-card-border-radius);
  border-top-right-radius: var(--primary-card-border-radius);
  z-index: 2;
}

.plusMinusInput {
  margin: 0.5rem 1rem;
}

.addToCart {
  width: 200px;
  height: 44px !important;
  line-height: 44px !important;
  margin: 0.5rem;
  &:after {
    display: none;
  }
}
.horizontalScrollContainer {
  overflow-x: auto;
  padding-bottom: 1rem;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
}

.horizontalScrollContainer::-webkit-scrollbar {
  height: 6px;
}

.horizontalScrollContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.horizontalScrollContent {
  display: flex;
  gap: 1rem;
}

.scrollItem {
  flex-shrink: 0;
}
