.successText {
  font-size: $xlarge;
  font-family: var(--primary-font-regular);
}

.dateText {
  font-size: $small;
  font-family: var(--primary-font-medium);
}

.dateValue {
  font-size: $small;
  font-family: var(--primary-font-regular);
}

.timeText {
  font-size: $small;
  font-family: var(--primary-font-medium);
}

.timeValue {
  font-size: $small;
  font-family: var(--primary-font-regular);
}

.backButtonWrapper {
  padding: 2rem;
  box-shadow: none;
}

.backButton {
  font-family: var(--primary-font-bold);
  font-size: $small;
}
