.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 26px;
  align-items: center;
  min-height: calc(100vh - 97px);
}

.checkMark {
  margin-top: 31px;
  margin-bottom: 14px;
  flex: 0 0 47px;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1;
  margin-bottom: 28px;
  font-family: "Helvetica";
}

.subTitle {
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 20px;
  font-family: "Helvetica";
}

.text {
  font-size: 1rem;
  max-width: 234px;
  text-align: center;
  margin-bottom: 45px;
  line-height: 1.25;
  font-family: "Helvetica";
}

.button {
  font-weight: 900;
  margin-bottom: 45px;
  font-family: "Helvetica Bold";
  font-size: $xsmall;
}

.backButton {
  margin-top: auto;
  font-weight: 900;
  margin-bottom: 50px;
  font-family: "Helvetica Bold";
  font-size: $xsmall;
}
