.backButton {
  display: none;
}

.button {
  margin-bottom: 0;
  width: 135px;
  height: 39px;
  border-radius: 2px;
}

.checkMark {
  flex: 0 0 62px;
  margin-bottom: 20px;
  margin-top: 0;
}

.title {
  margin-bottom: 26px;
  color: #595959;
  font-size: 1.75rem;
  line-height: 1.28;
  font-family: 'PlayfairDisplay';
  font-weight: normal;
}

.subTitle {
  margin-bottom: 18px;
  font-size: 0.875rem;
  line-height: 1.28;
  font-weight: bold;
  color: #000000;
}

.text {
  font-size: 0.875rem;
  line-height: 1.28;
  max-width: 235px;
  color: #000000;
  margin-bottom: 24px;
}

.wrapper {
  justify-content: center;
}
