.youMayAlsoLikeText {
  font-family: var(--primary-font-medium);
  font-size: $medium;
}

.confirmationWrapper {
  position: fixed;
  bottom: 9rem;
  width: 85%;
}

.youMayAlsoLikeItemText {
  font-size: $small;
}

.youMayAlsoLikeItemImage {
  cursor: pointer;
}

.youMayAlsoLikeWrapper {
  height: 150px;
}

.scroll {
  cursor: pointer;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  width: 100%;
}
