.housekeepingQuantityItemWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
  height: 30px;

  &:first-of-type {
    margin-top: 37px;
  }
}

.housekeepingQuantityItemTitle {
  font-size: 16px;
  margin-right: auto;
  font-family: var(--primary-font-regular);
}

.plusMinusWrapper {
  margin-top: 2px;
  margin-right: 8px;
}
