.housekeepingQuantityItemWrapper {
  text-align: center;
}

.housekeepingQuantityItemTitle {
  font-size: $medium;
  margin-right: auto;
  font-family: var(--primary-font-news);
  margin-bottom: 15px;
}

.maxCount {
  font-family: var(--primary-font-regular);
  font-size: $xsmall;
  margin-bottom: 25px;
  color: var(--tertiary-text-color);
}

.plusMinusWrapper {
  margin-top: 2px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button {
  width: 102px;
  height: 35px;
  margin-left: auto;
  margin-top: 2px;
  font-size: $small;
  font-weight: 100;
  text-transform: none;
  font-family: var(--primary-font-bold);
}
