.bottomMenuWrapper {
  border-radius: 50px;
  background: $colorPrimary;
  bottom: 0.5rem;
  left: 1rem;
  right: 1rem;
  // width: 80%;
  justify-content:space-around
}

.bottonMenuContainer {
  max-width: 768px;
  margin: 0 auto;
  position: absolute;
}


.moreButton {
  margin-top: 3px;
  svg {
    height: 20px;
  }
}

.bottomMenuText {
  text-transform: none;
}

.bottomMenuLinkInner {
  text-decoration: none;
}

.bottomMenuLinkInnerActive {
  svg {
    & path {
      fill: $textColorSecondary;
    }
  }

  p {
    color: $textColorSecondary;
  }
}

.moreButtonActive {
  p {
    color: $textColorSecondary;
  }
}

.closeMoreMenuItemsButton {
  margin-bottom: 2rem;
}

.moreMenuItemsContainerDisplayed {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  left: 1rem;
  right: 1rem;
  background: $colorPrimary !important;
  position: fixed;
  bottom: 40px;
  .closeMoreMenuItemsIcon {
    fill: $textColorSecondary !important;
  }
}

.closeMoreMenuItemsButton {
  border-radius: 50%;
  background: none;
}

.closeMoreMenuItemsIcon {
  width: 30px;
  height: 30px;
  fill: transparent !important;
}

.moreMenuItemsContainer {
  background: transparent;
}

