.selectWrapper {
  :global(.MuiInputBase-root) {
    width: 100px;
    height: 44px;
    border-radius: 3px;
  }

  :global(.MuiOutlinedInput-notchedOutline) {
    border-color: #d8d8d8 !important;
  }

  :global(.MuiSelect-select) {
    font-size: 0.9375rem;
  }

  :global(.MuiSelect-icon) {
    width: 10px;
    transform: translate(-8px, 2px);
    path {
      fill: var(--primary-theme-color);
    }
  }
}
