.staySummary {
  margin-top: 55px;
  padding: 0 20px 21px 15px;
  border-bottom: 1px solid $textColor;
  margin-bottom: 10px;
}

.staySummaryInner {
  display: flex;
}

.staySummaryColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:last-of-type {
    align-items: flex-end;
    margin-left: auto;
  }
}

.staySummaryColumnTitle {
  font-size: $xsmall;
  color: $textColor;
  line-height: 1;
  font-weight: 400;
  font-family: $fontRegular;
}

.staySummaryColumnValue {
  font-size: 0.813rem;
  color: $textColorTernary;
  margin-top: 5px;
  font-weight: 600;
  line-height: 1;
  font-family: $fontMedium;
}

.arrow {
  width: 15px;
  height: auto;
  margin: auto 25px auto 14px;
}
