.plusMinusInputWrapper {
  display: flex;
  flex-direction: row;
  width: 90px;
  justify-content: space-between;
  border: 1.5px solid var(--primary-theme-color);
  border-radius: 8px;
  background-color: white;
  align-items: center;
}

.value {
  font-size: $xlarge;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plusMinusButtonIrd {
  border: 1px solid #cccccc !important;
  border-radius: 5px !important;
}

.plusMinusButton {
  height: 30px;
  width: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  &:disabled {
    & > svg > path {
      fill: var(--primary-theme-color) !important;
    }
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.plusIcon {
  width: 20px;
  height: auto;
  border: none;
  path {
    fill: var(--primary-theme-color);
  }
}

.minusIcon {
  width: 20px;
  height: auto;
  path {
    fill: var(--primary-theme-color);
  }
}

.plusMinusInputWrapper {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-between;
}
