.value {
  padding-top: 3px;
  font-size: $large;
  font-family: $fontMedium;
  user-select: none;
}

.plusMinusButton {
  height: 30px;
  width: 30px;
  border: 1px solid var(--primary-text-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:disabled {
    & > svg > path {
      fill: $shadowColor !important;
    }
  }
}

.plusIcon {
  width: 20px;
  height: auto;
  path {
    fill: var(--primary-text-color);
  }
}

.minusIcon {
  width: 20px;
  height: auto;
  path {
    fill: var(--primary-text-color);
  }
}
