.billElement {
  border-bottom: 1px solid #313131;
  margin: 0;
  padding: 23px 14px 15px 14px;
  position: relative;
}

.infoColumn {
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.title {
  height: 22px;
  margin-bottom: 20px;
}

.time {
  margin-bottom: 0;
  height: 16px;
}

.chequeNo {
  margin: 0;
  position: absolute;
  left: 14px;
  top: 47px;
  height: 16px;
}

.price {
  width: 29px;
  height: 61px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0;
}

.currency {
  display: inline-block;
  height: 16px;
  margin-bottom: 14px;
}
