.specialRequestsInput {
  background: transparent;
}

.confirmButtonWrapper {
  position: initial;
  padding: 0;
  margin: 0;
  margin-top: auto;
}

.pageWrapper {
  min-height: calc(100vw - 48px);
  padding-bottom: 0;
}

.confirmButton {
  font-weight: normal;
  margin: 0;
  margin-left: -25px;
  width: 100vw;
}
