.container {
  padding: 0;
  height: 4rem;
  background: none;
  box-shadow: 0 5px 10px $shadow;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--primary-background-color);
  max-width: 768px;
  z-index: 6;
}

.containerTransparent {
  background: transparent;
}

.categoryContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.backButton {
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 1.15rem;
  margin-left: 0px;
}

.backIcon {
  height: 26px;
  width: 27px;

  path {
    fill: var(--primary-theme-color);
  }
}

.backIconIrd {
  height: 26px;
  width: 27px;
  margin-top: 4px;

  path {
    fill: var(--primary-theme-color);
  }
}

.irdMenu {
  display: flex;
  width: min(50vw, 250px);
  margin: auto;
  min-height: 43px;
  border: 1px solid var(--primary-border-color);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 2px 0.5rem;
  border-radius: var(--primary-button-border-radius);
}

.irdMenuTitle {
  font: $small var(--primary-font-medium);
  text-transform: capitalize;
  width: 90%;
  text-align: center;
}

.irdMenuTiming {
  font: $extraSmall var(--primary-font-regular);
  color: var(--tertiary-text-color);
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  margin: 2px 0;
}

.headerLogo {
  cursor: pointer;
  max-height: 3rem;
}

.propertyName {
  position: absolute;
  bottom: 5px;
  font: 9px var(--primary-font-regular);
  text-transform: uppercase;
}

.closeButton {
  cursor: pointer;
  position: absolute;
  top: 63px;
  right: 23px;
}

.closeIcon {
  width: 22px;
  height: auto;
  fill: var(--secondary-text-color);
}

.screenTitle {
  margin: 0;
  text-align: center;
  margin-left: -20px;
  min-height: 24px;
  font-family: var(--primary-font-medium);
  font-size: $medium;
  color: var(--primary-text-color);
  margin: 0.25rem 0;
  position: fixed;
  width: 100%;
  margin-top: 3.5rem;
  font-family: var(--primary-font-regular);
  height: 45px;
  padding-top: 20px;
  background-color: var(--primary-background-color);
  z-index: 4;
  max-width: 768px;
}

.backButtonIrd {
  top: 1rem;
  margin-left: 0px;
}

.logo {
  width: 104px;
  height: 30px;

  path {
    fill: var(--primary-theme-color);
  }
}

.headerContainer {
  background: var(--primary-background-color);
}

.categoryDropdown {
  // margin-left: 8px;
  // margin-bottom: -2px;
  cursor: pointer;
}

.searchIconButton {
  flex: 1px;
  position: absolute;
  right: 15px;
  top: 22px;
}

.searchIcon {
  height: 18px;

  &>path {
    fill: var(--primary-theme-color);
  }
}

.containerLang {
  flex-direction: row;
}

.close {
  position: fixed;
  z-index: 11;
  top: 156px;
  left: 0;
  right: 0;
  margin: auto;
}

.closeSecondary {
  position: fixed;
  z-index: 11;
  top: 240px;
  left: 0;
  right: 0;
  margin: auto;
}

.filterView {
  position: fixed;
  left: 0;
  right: 0;
  top: 50px;
  margin: auto;
  background-color: var(--primary-background-color);
  z-index: 10;
  -webkit-fill-available: 100%;
  max-width: 734px;
  justify-content: center;
}

.filterViewScroll {
  top: 64px;
}

.filterViewOptionContainer {
  max-width: 734px;
  min-height: 60px;
  max-height: 180px;
  margin-bottom: 2rem;
}

.dropDowntext {
  display: flex;
  justify-content: center;
  margin: auto;
  font-family: var(--primary-font-regular);
  font-size: $medium;
  width: 300px;
  font-size: 1rem;
  color: var(--tertiary-text-color);
  background: linear-gradient(to right, #00000029 0%, #00000029 60%, transparent 10%) repeat-x left bottom;

  &:last-child {
    background: none;
  }

  background-size: 15px 1px;
  padding: 12px 0;
}

.selected {
  font-family: var(--primary-font-medium);
  color: var(--tertiary-text-color);
}

.myOrdersIconWrapper {
  position: absolute;
  display: flex;
  top: 85px;
  right: 27px;
  width: 48px;
  height: 48px;
  background-color: var(--primary-background-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 45px;
}

.screenHeader {
  font-size: $small;
  font-family: var(--secondary-title-font-family);
  color: var(--tertiary-text-color);
}