.backButton {
  cursor: pointer;
  position: absolute;
  left: 20px;
  border: 0;
  background: none;
}

.backIcon {
  height: 20px;
}

.closeButton {
  cursor: pointer;
  position: absolute;
  right: 23px;
}

.closeIcon {
  width: 22px;
  height: auto;
  fill: $textColorSecondary;
}

.screenTitle {
  margin: 0;
  font-size: $large;
  text-align: center;
  color: #4a4a4a;
  // font-family: 'Bodoni MT Std', 'Regular';
  font-weight: normal;
  min-height: 24px;
}

.container {
  padding: 15px 0px;
  z-index: 5;
  background: #fcfcfc;
  position: relative;
  box-shadow: 0 5px 6px -6px #222;
}

.containerTransparent {
  background: transparent;
}
