.screenTitle {
  font-family: $fontMedium;
  font-size: $medium;
  color: var(--primary-text-color);
  margin: 0.25rem 0;
}

.backButton {
  top: 1rem;
}

.backIcon {
  height: 20px;
  path {
    fill: var(--primary-theme-color);
  }
}

.closeIcon {
  fill: var(--primary-theme-color);
}

.container {
  padding: 0;
  background: none;
}

.logo {
  width: 104px;
  height: 30px;
  path {
    fill: var(--primary-theme-color);
  }
}

.logoContainer {
  padding: 0.4rem;
}

.headerContainer {
  background: var(--primary-background-color);
  padding: 0.4rem;
}
