.wrapper {
  padding: 1.75rem;
}

.drawerNotch {
  position: absolute;
  left: 0;
  right: 0;
  top: 8px;
  margin: 0 auto;
  width: 50px;
  height: 6px;
  background: var(--primary-drawer-notch-color) 0% 0% no-repeat padding-box;
  border-radius: 3px;
}

.title {
  font: $xlarge var(--heading-font-regular);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.priceContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemTitle {
  margin: 0.6rem 0;
  width: 100%;
  font: $medium var(--primary-font-heading);
}

.currency {
  font-size: $xsmall;
}

.itemPrice {
  margin: 1.25rem 0;
  display: flex;
  flex-direction: column;
  font: $medium var(--primary-font-regular);
  color: var(--primary-text-color);
  font-size: $xsmall;
}

.grayText {
  font-family: var(--primary-font-regular);
  color: var(--tertiary-text-color);
}

.itemDescription {
  font: $xsmall var(--primary-font-regular);
  margin: 4px 0;
  color: var(--tertiary-text-color);
  display: flex;
  flex-direction: column;
  line-height: 1.6 !important;
  white-space: none !important;
}

.itemDescriptionCust {
  font: $xsmall var(--primary-font-regular);
  margin: 4px 0;
  color: var(--tertiary-text-color);
  line-height: 1.6 !important;
  display: flex;
  flex-direction: row;
}

.customisation {
  line-height: 1.6;
}

.item + .item::before {
  line-height: 1.5;
  font: $xsmall var(--primary-font-regular);
  color: var(--tertiary-text-color);
}

.buttonContainer {
  display: flex;
  margin: 2rem auto 0;
  width: 100%;
}

.buttonLeft {
  height: 46px;
  font: $xsmall var(--primary-font-extd-regular);
  padding: 10px;
  margin-inline-end: 3px;
  min-width: fit-content;

  &:after {
    display: none;
  }
}

.buttonRight {
  height: 46px;
  font: $xsmall var(--primary-font-extd-regular);
  padding: 10px;
  min-width: fit-content;
  margin-inline-start: 3px;

  &:after {
    display: none;
  }
}

.currencyItems {
  font-size: $xsmall;
  color: var(--tertiary-text-color);
}

.addonsTitle {
  font-family: var(--primary-font-heading);
  color: var(--primary-text-color);
  margin: 10px 0px 7px 0;
  font-size: $xsmall;
}

.currencyValue {
  font: $medium var(--primary-font-regular);
}
