.wrapper {
  padding: 1.75rem;
}

.drawerNotch {
  position: absolute;
  left: 0;
  right: 0;
  top: 8px;
  margin: 0 auto;
  width: 50px;
  height: 6px;
  background: var(--primary-drawer-notch-color) 0% 0% no-repeat padding-box;
  border-radius: 3px;
}

.title {
  font: $header var(--heading-font-regular);
}

.priceContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itemTitle {
  margin: 1.25rem 0;
  width: 65%;
  font: $medium var(--primary-font-heading);
}

.currency {
  font-size: $xsmall;
}

.itemPrice {
  margin: 1.25rem 0;
  width: 30%;
  text-align: end;
  font: $medium var(--primary-font-heading);
}

.grayText {
  font-family: var(--primary-font-regular);
  color: var(--tertiary-text-color);
}

.itemDescription {
  font: $small var(--primary-font-medium);
  margin: 4px 0;
  color: var(--tertiary-text-color);
}

.customisation {
  line-height: 2;
}

.item + .item::before {
  display: inline-block;
  white-space: pre;
  content: ', ';
  line-height: 1.5;
}

.buttonContainer {
  display: flex;
  margin: 2rem auto 0;
  width: 100%;
}

.buttonLeft {
  height: 46px;
  font: $xsmall var(--primary-font-extd-regular);
  padding: 10px;
  margin-inline-end: 3px;
  min-width: fit-content;
  &:after {
    display: none;
  }
}

.buttonRight {
  height: 46px;
  font: $xsmall var(--primary-font-extd-regular);
  padding: 10px;
  min-width: fit-content;
  margin-inline-start: 3px;
  &:after {
    display: none;
  }
}
