.card {
  display: flex;
  margin: 0.75rem 0 0.75rem;
  padding: 0.8rem;
  text-align: start;
  justify-content: space-between;
  border-radius: var(--primary-card-border-radius);
  box-shadow: 0px 3px 6px var(--primary-card-shadow-color);
  background-color: var(--primary-card-background-color);
  position: relative;
  height: 125px;
}

.chefSpecialCard {
  background-color: #d8d9db;
}

.contentWrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  width: 70%;
}

.title {
  font: $medium var(--primary-card-title-font-family);
  color: var(--primary-text-color);
  margin: 5px 0;
  width: 100%;
  overflow-y: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.chefSpecialTag {
  background-color: var(--primary-card-background-color);
}

.titleWithImage {
  width: 100%;
}

.description {
  font: $small var(--primary-card-desc-font-family);
  margin: 10px 0;
  color: var(--tertiary-text-color);
  width: 140%;
  min-height: 1rem;
  line-height: 1.5;
  max-height: 4rem;
  -webkit-line-clamp: 3;
}

.descriptionWithImage {
  width: 100%;
}

.currency {
  font: $xsmall var(--primary-card-title-font-family);
  margin: 20px 0 5px;
}

.price {
  font-size: $medium;
}

.imageWrapper {
  display: flex;
  width: 120px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 14px;
}

.image {
  width: 120px;
  height: 120px;
  border-radius: var(--primary-card-border-radius);
  top: 15px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}

.customisableText {
  font: $extraSmall var(--primary-card-desc-font-family);
  color: var(--tertiary-text-color);
  margin: 4px 0 0 0;
  padding-right: 15px;
}

.addCta {
  height: 30px;
  width: 90px;
  line-height: 30px;
  text-align: center;
  font: $extraSmall var(--primary-card-cta-font-family);
  display: flex;
  justify-content: center;
  align-items: center;
  &:after {
    display: none;
  }
}

.menuUnavailable {
  background-color: var(--primary-disabled-color);
  color: var(--secondary-text-color);
  pointer-events: none;
}

.disable {
  pointer-events: none;
}

.counterStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-background-color);
  z-index: 0;
  box-shadow: 0px 3px 6px var(--primary-box-shadow-color);
}

.pointer {
  cursor: pointer;
}
