.title {
  font-size: $medium;
  font-family: $fontPlayfair;
  width: 80%;
}

.price {
  font-size: $xsmall;
  .currencyValue {
    font-size: $large;
    font-family: var(--primary-font-medium);
  }
}

.desctiption {
  font-size: 0.8125rem;
  font-family: var(--primary-font-regular);
  border-bottom: 1px solid var(--primary-border-color);
}

.ingredientsText {
  font-size: $small;
  font-family: var(--primary-font-medium);
}

.ingredientsDescription {
  font-size: 0.8125rem;
  font-family: var(--primary-font-regular);
  border-bottom: 1px solid var(--primary-border-color);
}

.servingsText {
  font-size: $small;
  font-family: var(--primary-font-medium);
}

.totalTitle {
  font-size: 0.9375rem;
  font-family: var(--primary-font-medium);
}

.totalValue {
  font-size: $small;
  font-family: var(--primary-font-regular);
  .currencyValue {
    font-size: $large;
    font-family: var(--primary-font-medium);
  }
}

.totalButton {
  font-size: $small;
  font-family: var(--primary-font-bold);
  margin: 0;
}

.totalBlock {
  padding: 15px 0px 78px 0px;
  background: var(--primary-theme-color);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px 10px 0 0;
  box-shadow: var(--primary-box-shadow-color) 0 -6px 8px -2px;
  max-width: 768px;
  margin: 0 auto;
}

.totalRow {
  padding: 0px 25px 0px 25px;
}

.addonsText {
  font-size: $medium;
  font-family: var(--primary-font-medium);
}

.customisationsText {
  font-size: $medium;
  font-family: var(--primary-font-medium);
}

.optionalText {
  font-size: $xsmall;
  font-family: var(--primary-font-regular);
  color: var(--primary-text-color);
  width: 4rem;
  height: 1.5rem;
  text-align: center;
  border-radius: 1.25rem;
  margin-left: 1rem;
  border: 1px solid var(--primary-text-color);
  background-color: var(--primary-theme-color);
}

.requiredText {
  font-size: $xsmall;
  font-family: var(--primary-font-regular);
  color: var(--primary-text-color);
  width: 6rem;
  height: 1.5rem;
  text-align: center;
  border-radius: 1.25rem;
  margin-left: 1rem;
  border: 1px solid var(--primary-text-color);
  background-color: var(--primary-theme-color);
}
