.titleRow {
  display: flex;
  margin-top: 39px;
  align-items: flex-start;
  justify-content: space-between;
}

.title {
  font-size: 1.5rem;
  line-height: 1.208;
  font-family: 'Bodoni MT Std';
}

.price {
  font-size: 0.9375rem;
  line-height: 1.33;
  font-weight: bold;
}

.desctiption {
  margin-top: 19px;
  padding-bottom: 33px;
  border-bottom: 1px solid var(--primary-theme-color);
  line-height: 1.25;
}

.ingredientsRow {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 22px;
}

.ingredientsIcon {
  path {
    fill: var(--primary-theme-color);
  }
  transform: translateY(-5px);
}

.ingredientsText {
  font-size: 0.9375rem;
  line-height: 1.33;
  margin-left: 10px;
}

.ingredientsDescription {
  font-size: 1rem;
  line-height: 1.25;
  margin-top: 11px;
  padding-bottom: 23px;
  border-bottom: 1px solid var(--primary-theme-color);
}

.servingsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.servingsText {
  font-size: 0.9375rem;
  line-height: 1.33;
  font-weight: bold;
}

.addonsRow {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 30px;
}

.addonsText {
  font-size: 0.9375rem;
  line-height: 1.33;
  font-weight: bold;
}

.optionalText {
  font-size: $xsmall;
  font-family: $fontRegular;
  color: var(--primary-text-color);
  background-color: #f0f0f0;
  width: auto;
  height: 1.5rem;
  text-align: center;
  border-radius: 1.25rem;
  margin-left: 0.5rem;
  padding: 0 8px;
}

.optionalTextWarning {
  font-size: $xsmall;
  font-family: $fontRegular;
  color: $errorMsgColor;
  background-color: #f0f0f0;
  width: auto;
  height: 1.5rem;
  text-align: center;
  border-radius: 1.25rem;
  margin-left: 0.5rem;
  padding: 0 8px;
}

.totalBlock {
  padding: 21px 25px 74px 26px;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px 10px 0 0;
  box-shadow: $shadowColor 0 -2px 10px;
  max-width: 768px;
  margin: 0 auto;
}

.totalRow {
  display: flex;
  justify-content: space-between;
}

.totalTitle {
  font-size: 0.9375rem;
  line-height: 1.33;
  font-weight: bold;
}

.totalValue {
  font-size: 0.9375rem;
  line-height: 1.33;
  font-weight: bold;
}

.totalButton {
  margin-top: 10px;
}

.wrapper {
  padding-bottom: 4rem;
}

.image {
  display: none;
}

.irdCheckboxItemWrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  justify-content: space-between;
}

.radioItemWrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.customisationsText {
  font-size: 0.9375rem;
  line-height: 1.33;
  font-weight: bold;
}

.customisations {
  margin-top: 1rem;
}

.requiredText {
  font-size: $xsmall;
  font-family: $fontRegular;
  color: var(--primary-text-color);
  background-color: #f0f0f0;
  width: 6rem;
  height: 1.5rem;
  text-align: center;
  border-radius: 1.25rem;
  margin-left: 1rem;
}

.customisationWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
}
