.titleRow {
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  font-size: $large;
  line-height: 1.208;
  font-family: var(--primary-font-regular);
  color: var(--tertiary-text-color);
  width: 75%;
}

.price {
  font-size: $small;
  padding-top: 1px;
  line-height: 1.5;
  font-family: var(--primary-font-medium);
  color: var(--primary-text-color);
}

.desctiption {
  margin-top: 19px;
  padding-bottom: 20px;
  border-bottom: none;
  line-height: 1.25;
  color: #7b7b7b;
  font-family: var(--primary-font-regular);
  font-size: $small;
}

.ingredientsRow {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-top: 3px;
}

.ingredientsIcon {
  path {
    fill: var(--primary-theme-color);
  }
  transform: translateY(-5px);
}

.ingredientsText {
  font-size: $medium;
  line-height: 1.26;
  margin-left: 0px;
  font-family: var(--primary-font-regular);
  font-size: $large;
  color: var(--tertiary-text-color);
}

.ingredientsDescription {
  font-family: var(--primary-font-regular);
  color: #7b7b7b;
  font-size: $small;
  line-height: 1.25;
  margin-top: 10px;
  padding-bottom: 0px;
  border-bottom: none;
}

.servingsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.servingsText {
  font-size: $small;
  line-height: 1.33;
  font-weight: normal;
  text-transform: uppercase;
  color: #7b7b7b;
  font-family: var(--primary-font-regular);
}

.totalAmount {
  font-size: $large;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--primary-font-regular);
  margin-top: 5px;
}

.addonsRow {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 20px 0 10px;
}

.addonsText {
  font-size: $large;
  font-family: var(--primary-font-regular);
  max-width: 40%;
}

.totalBlock {
  padding: 13px 25px 55px 26px;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  box-shadow: var(--primary-box-shadow-color) 0 -2px 10px;
  max-width: 768px;
  margin: 0 auto;
}

.totalRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: -50px;
  margin-top: -10px;
}

.totalTitle {
  font-size: 0.9375rem;
  line-height: 1.33;
  font-weight: bold;
}

.totalValue {
  font-size: 0.9375rem;
  line-height: 1.33;
  font-weight: bold;
}

.totalButton {
  margin-top: 10px;
  width: 200px;
  height: 44px;
  line-height: 44px;
  padding-top: 14px;
  background-color: var(--primary-theme-color);
  font-family: var(--primary-font-medium);
  font-size: $xsmall;
}

.wrapper {
  padding-bottom: 3rem;
}

.image {
  display: flex;
  object-fit: contain;
}

.irdCheckboxItemWrapper {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0;
}

.customisations {
  margin: 5px 0 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.radioItemWrapper {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-right: 0.5rem;
}

.customisationsText {
  font-size: $large;
  color: var(--tertiary-text-color);
  font-family: var(--primary-font-regular);
}

.requiredText {
  font-size: $medium;
  font-family: var(--primary-font-regular);
  color: var(--primary-box-shadow-color) Secondary;
  background-color: transparent;
  width: 6rem;
  text-align: center;
  border-radius: 1.25rem;
  margin-left: 0;
}

.customisationWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.tagsWrapper {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  margin-top: 20px;
}

.tags {
  border: 1px solid #d0d0d0;
  border-radius: 23px;
  height: 23px;
  color: #7b7b7b;
  background-color: #f4f4f4;
  font-size: $extraSmall;
  font-family: var(--primary-font-regular);
  margin-top: 5px;
  margin-right: 5px;
  width: fit-content;
  min-width: 50px;
  padding: 0 10px;
}

.plusMinusInput {
  border: none !important;
  width: 100px;
  height: 44px;
}

.counter {
  border: none;
  display: flex;
  align-items: flex-end;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.textInput {
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.customUnderline:before,
.customUnderline:after {
  border-bottom: 0.5px solid;
  border-bottom-color: var(--primary-theme-color);
}

.placeHolderInstruction {
  font-size: $medium;
  color: #7b7b7b;
}

.customizeButton {
  width: 43% !important;
  background: var(--primary-theme-color) !important;
  color: white !important;
  border: 1px solid var(--primary-theme-color) !important;
  font-size: $small !important;
  font-family: var(--primary-font-regular) !important;
  height: 30px !important;
  flex: 1px;
  box-shadow: none !important;
  text-transform: capitalize;
  padding: 0 0.5rem;
  .MuiButton-containedPrimary:hover:enabled {
    width: 12% !important;
  }
}

.customStyle {
  width: 43% !important;
  background: white !important;
  color: var(--primary-theme-color) !important;
  border: 1px solid #7b7b7b !important;
  font-size: $small !important;
  font-family: var(--primary-font-regular) !important;
  flex: 1px;
  height: 30px !important;
  text-transform: capitalize;
  padding: 0 0.5rem;
  box-shadow: none !important;
}

.allergens {
  margin-right: 4px;
}

.detailWrapper {
  height: 700px;
  overflow: auto;
}
