.pageWrapper {
  min-height: calc(100vh - 48px);
  padding-bottom: 0 !important;
}

.centeredText {
  font-size: 0.75rem;
  margin-top: 32px;
}

.tripDetailsText {
  font-size: 0.8125rem;
  color: #505050;
  line-height: 1.46;
}

.tripDetailsIcon {
  display: none;
}

.tripDetails {
  border-bottom: 1px solid #707372;
  padding-bottom: 12px;
}

.nameSurname {
  font-family: 'PlayfairDisplay';
  line-height: 1.11;
}

.bookingId {
  margin-bottom: 28px;
  font-size: 0.8125rem;
  color: #505050;
}

.checkDatesText {
  &:first-of-type {
    color: #505050;
    font-size: 0.5625rem;
    line-height: 2;
  }

  &:last-of-type {
    color: #000000;
    font-size: 0.8125rem;
    line-height: 1.23;
  }
}

.detailsColumn {
  &:first-of-type {
    .detailsText {
      color: #505050;
    }
  }

  &:last-of-type {
    .detailsText {
      color: #000000;
    }
  }
}

.detailsText {
  font-size: 0.8125rem;
}

.yourRoom {
  font-size: 0.8125rem;
  color: #505050;
  line-height: 1.46;

  border-bottom: 1px solid #707372;
  padding-bottom: 12px;
}

.nextButton {
  width: 100vw;
  max-width: 768px;
  margin-left: -25px;
  margin-right: 0;
  font-weight: 500;
  font-weight: normal;
  font-size: 0.875rem;
  margin-top: auto;
}

.roomDetailsCardWrapper {
  margin-bottom: 132px;

  & > div {
    background: transparent;
    position: relative;
    padding: 0;
  }

  button {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
}

.roomDetailsTitle {
  line-height: 1.05;
  font-family: 'PlayfairDisplay';
  color: #000000;
}

.roomDetailsText {
  font-size: 0.8125rem;
  line-height: 1.46rem;

  &:last-child {
    font-size: 0.75rem;
    line-height: 1.58;
    color: #505050;
  }
}
