.housekeepingItemTitle {
  font-family: 'PlayfairDisplay';
  font-size: 1.25rem;
  font-weight: normal;
  color: #000000;
  margin-bottom: 8px;
}

.housekeepingItemText {
  font-size: 0.75rem;
  color: #505050;
  line-height: 1.5;
}

.readMore {
  color: #000000;
  font-size: 0.75rem;
  line-height: 1.16;
  font-weight: bold;
}

.housekeepingItemWrapper {
  border-bottom: 1px solid #545554;
}
