.animation {
  overflow: hidden;
  background-color: #dee3ea;
  position: relative;

  opacity: 0.45;
  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #fff 50%, transparent 100%);
    animation: load 2.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}

.outgoingMessage {
  background: var(--primary-theme-color);
  padding: 12px 0 0 13px;
  border-radius: 5px;
  margin-top: 20px;
  max-width: 280px;
  margin-left: auto;
  position: relative;
  margin-right: 15px;
}

.messageBody {
  margin-bottom: 30px;
  margin-right: 69px;
  font-size: 0.9375rem;
  line-height: 1.46;
  color: var(--secpndary-text-color);
  width: 170px;
  height: 22px;
}

.messageTime {
  color: var(--secpndary-text-color);
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 1.46;
  position: absolute;
  bottom: 14px;
  right: 20px;
  width: 48px;
  height: 18px;
}

.triangle {
  width: 0;
  height: 0;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  background: var(--primary-theme-color);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(80%);
}

@keyframes load {
  0% {
    left: -150px;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
