.wrapper {
  background: var(primary-card-background-color);
  color: var(--primary-text-color);
  max-width: 768px;
  width: 96%;
  border-radius: var(--primary-card-border-radius);
  box-shadow: 0px 3px 6px var(--primary-card-shadow-color);
  z-index: 1;
  margin: 1rem auto 0;
  background-color: var(--primary-card-background-color);
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 12px;
  padding: 8px 0;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(0.25turn, $gradientPrimary, $gradientSecondary, $gradientTertiary);
  border-image-slice: 1;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: $small;
  padding-top: 10px;
  font-family: var(--primary-font-medium);
}

.id {
  font-size: $xsmall;
  padding-top: 10px;
  font-family: var(--primary-font-medium);
}

.secondRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 12px;
  padding: 8px 0;
}

.items {
  font: $small var(--primary-font-news);
  text-transform: capitalize;
}

.myOrders {
  font-size: $xsmall;
  width: 120px;
  height: 30px;
  padding-top: 14px;
  padding: 0px 10px;
  min-width: fit-content;
}
