.title {
  font-size: $header;
  text-align: center;
  font-family: var(--heading-font-regular);
}

.wrapper {
  padding: 2rem 2rem;
  text-align: center;
}

.content {
  padding: 0px 15px;
  line-height: 1.5;
  margin-top: 20px;
  font-size: $small;
  color: var(--tertiary-text-color);
  font-family: var(--primary-font-regular);
}

.buttonWrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.buttonNo {
  width: 45%;
}

.buttonYes {
  width: 45%;
  &:after {
    display: none;
  }
}
