.tVControlsWrapper {
  border: none;
  background: #000000;
  padding: 30px 70px 60px 70px;
  border-radius: 4px;
}

.onOffWrapper {
  border: none;
  width: 134px;
}

.onOffButton {
  background: #313131;
  color: #fff;
  font-weight: normal;
  border: none;
  width: 67px;
  height: 59px;
  font-size: 0.875rem;
}

.onOffButtonActive {
  background: #84764e;
  border: none;
}

.buttonCircleInner {
  background: #c7b48d;
}

.buttonCircle {
  background: #313131;
  margin-top: 20px;
  margin-bottom: 35px;
}

.tVBtn {
  &:first-child,
  &:last-child {
    background: #84764e;
  }
  background: #313131;

  &:not(:first-of-type) {
    margin-top: 25px;
  }
}

.verticalButtonWrapper {
  background: #313131;
}

.channelMinusIcon {
  transform: rotate(180deg);
}

.bottomTvControlsWrapper {
  align-items: flex-start;
}
