.wrapper {
  padding: 0 18px 0 18px;
  min-height: calc(100vh - 124px);
  padding-bottom: 76px;
}

.buttonsWrapper {
  background: transparent;
  position: initial;
  padding: 0;
  margin-top: auto;
  margin-left: -18px;
}

.billElements {
  margin-bottom: 40px;
  max-height: calc(100vh - 307px);
}

.buttonWrapper {
  margin: auto;
  max-width: 768px;
  left: 0;
  right: 0;
  bottom: 5rem;
  position: fixed;
}

.button {
  &:first-child {
    width: 100vw;
    width: 90%;
    margin: 0;
    font-size: 0.875rem;
    font-weight: normal;
    background: #000000;
    color: var(--secondary-text-color);
    border: none;
    border-radius: 0;
    border-radius: 2px;
    height: 3rem;

    &:hover:enabled {
      background: #000000;
      border: none;
    }
  }
}
