.imageTitle {
  font-family: var(--primary-font-regular);
  display: flex;
  align-self: start;
}

.imageTitleSmall {
  font-family: var(--primary-font-regular);
  display: flex;
  align-self: start;
}

.imageBody {
  font-size: $small;
  text-align: start;
}

.ctaButton {
  padding: 0px;
  display: flex;
  font-family: var(--primary-font-medium);
}
