.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imagesWrapper {
  overflow-x: auto;
  padding: 25px;
  display: flex;
  justify-content: space-between;

  @media (pointer: coarse) {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.imageImage {
  height: 250px;
  object-fit: cover;
  width: 100%;
  min-width: 220px;
  transform: translateY(-25px);
}

.shadowedImage {
  filter: contrast(0.5);
}

.imageTitle {
  margin: 0 0 50px 0;
  font-size: 1.5rem;
  font-family: 'Bodoni MT Std';
  text-align: center;
}

.imageTitleSmall {
  margin-top: 25px;
  font-size: 1.5rem;
  margin-bottom: 15px;
  font-family: 'Bodoni MT Std';
  text-align: center;
  margin-top: -15px;
}

.imageBody {
  font-size: 1rem;
  text-align: center;
}

.ctaButton {
  margin: 25px 0;
  padding: 5px 25px;
  width: auto;
  font-weight: 900;
  color: $textColor;
}

.imageAndTextWrapper {
  position: relative;
  padding: 0;
}
