.upcomingStayWrapper {
  border-radius: 0;
  height: 192px;
}

.imageOverlay {
  background: #000;
  opacity: 0.75;
}

.upcomingStayTextWrapper {
  padding: 16px 16px 17px 16px;
}

.nightsCount {
  background: #ffffff;
  color: #000000;
  font-size: 0.875rem;
  font-weight: 500;
}

.checkText {
  font-size: 0.5625rem;
  font-weight: normal;
}

.checkDate {
  font-size: 0.8125rem;
  font-weight: normal;
}

.hotelDataText {
  font-size: 0.8125rem;

  &:first-of-type {
    font-size: 1.125rem;
    line-height: 1.11;
    font-family: 'PlayfairDisplay';
  }
}

.precheckedinIcon {
  path {
    fill: var(--primary-theme-color);
  }
}

.precheckedinText {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.8125rem;
  line-height: 1.461;
}

.precheckedinWrapper {
  align-items: flex-start;
}
