.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper {
  width: 171px;
  height: 155px;
  margin: 10px;
  text-align: center;
}

.image {
  width: 171px;
  height: 155px;
}

.title {
  font-size: $header;
  text-align: center;
  font-family: var(--secondary-font-regular);
}

.name {
  font-size: $xlarge;
  color: var(--secondary-text-color);
  font-family: var(--secondary-font-regular);
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 171px;
  height: 155px;
  background: var(--primary-overlay-color);
  z-index: 1;
  position: absolute;
}
