.diningElement {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.diningImage {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-right: 23px;
  object-fit: cover;
}

.diningText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
}

.diningTitle {
  margin: 4px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1px;
  display: flex;
  font-size: $medium;
  font-family: var(--primary-font-news);
  color: var(--tertiary-text-color);
}

.diningTitleTime {
  margin: 2px 0;
  font-size: $extraSmall;
  text-transform: capitalize;
}

.selected {
  color: var(--primary-text-color);
}
