.col_100 {
  width: 100%;
}

.col_45 {
  width: 45%;
}

.guestDataInput {
  width: 100%;
  margin-top: 15px;
}

.name_sec {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
