.menuOptionsWrapper {
  display: flex;
  overflow: scroll;
  margin-top: 1.9rem;
  margin-left: -0.6rem;
  padding: 1rem;
  height: 38px;
  width: min(100%, 740px);
  background-color: $textColorSecondary;
}

.menuOptionsWrapperSecondary {
  display: flex;
  margin-top: 0px;
}

.fixedTop {
  position: fixed;
  width: min(95%, 740px);
  top: 30px;
  left: 0px;
  right: 0px;
  background-color: $textColorSecondary;
  display: flex;
  height: 38px;
  z-index: 3;
  margin: auto;
  margin-top: 2rem;
}

.diningMenuFilterButtonWrapper {
  &:not(:last-of-type) {
    margin-right: 10px;
  }
}

.DiningCategoryOptionActive {
  height: 38px;
  line-height: 38px;
  font-family: $fontRegular;
  font-size: $medium;
  padding: 0 10px;
  text-transform: capitalize;
  color: $textColorSecondary !important;
  background: var(--color-primary) !important;
  width: fit-content;
  white-space: nowrap;
}

.DiningCategoryOptionInActive {
  height: 38px;
  line-height: 38px;
  background: $background;
  font-family: $fontRegular;
  font-size: $medium;
  padding: 0 10px;
  text-transform: capitalize;
  box-shadow: none;
  width: fit-content;
  white-space: nowrap;
  color: $fontColor;

  &:hover:enabled {
    color: $fontColor;
    background: $background;
    box-shadow: none;
  }
}

.timeDisplayContainer {
  display: flex;
  height: 40px;
  width: min(104%, 748px);
  background-color: $colorPrimary;
  color: $textColorSecondary;
  font-family: $fontLight;
  font-size: $small;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
