.menuOptionsWrapper {
  display: flex;
  max-width: 768px;
  overflow: scroll;
  padding: 1.6rem 1rem 1.4rem;
  background-color: var(--primary-background-color);
  transition: all 0.5s ease-in-out;
}

.menuOptionsWrapperSecondary {
  display: flex;
  margin-top: 0px;
}

.fixedTop {
  max-width: 736px;
  margin: auto;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  background-color: var(--primary-background-color);
  z-index: 3;
  margin-top: 2rem;
  transition: all 0.5s ease-in-out;
}

.diningMenuFilterButtonWrapper {
  margin: 0 5px;
}

.DiningCategoryOptionActive {
  height: 30px;
  line-height: 30px;
  font: $extraSmall var(--primary-font-extd-regular);
  padding: 0 10px;
  text-transform: capitalize;
  color: var(--secondary-text-color) !important;
  background: var(--primary-theme-color) !important;
  border: none;
  width: fit-content;
  white-space: nowrap;

  &:hover:enabled {
    border: none;
  }
}

.DiningCategoryOptionInActive {
  height: 30px;
  line-height: 30px;
  background: var(--primary-background-color);
  font: $extraSmall var(--primary-font-extd-regular);
  padding: 0 10px;
  text-transform: capitalize;
  box-shadow: none;
  width: fit-content;
  white-space: nowrap;
  color: var(--primary-theme-color);
  border: 1px solid var(--primary-border-color);

  &:hover:enabled {
    color: var(--primary-theme-color);
    background: var(--primary-background-color);
    box-shadow: none;
  }
}

.timeDisplayContainer {
  display: flex;
  height: 40px;
  width: min(104%, 748px);
  background-color: var(--primary-theme-color);
  color: var(--secpndary-text-color);
  font-family: $fontLight;
  font-size: $small;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
