@font-face {
  font-family: 'ClanOT Medium';
  src: url('/fonts/ClanOT/ClanOT-Medium.otf') format('opentype'),
    url('/fonts/ClanOT/ClanOT-Medium.ttf') format('ttf'),
    url('/fonts/ClanOT/ClanOT-Medium.woff') format('woff'),
    url('/fonts/ClanOT/ClanOT-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'ClanOT News';
  src: url('/fonts/ClanOT/ClanOT-News.otf') format('opentype'),
    url('/fonts/ClanOT/ClanOT-News.ttf') format('ttf'),
    url('/fonts/ClanOT/ClanOT-News.woff') format('woff'),
    url('/fonts/ClanOT/ClanOT-News.woff2') format('woff2');
}

@font-face {
  font-family: 'ClanOT Book';
  src: url('/fonts/ClanOT/ClanOT-Book.otf') format('opentype'),
    url('/fonts/ClanOT/ClanOT-Book.ttf') format('ttf'),
    url('/fonts/ClanOT/ClanOT-Book.woff') format('woff'),
    url('/fonts/ClanOT/ClanOT-Book.woff2') format('woff2');
}

@font-face {
  font-family: 'ClanOT Extended Book';
  src: url('/fonts/ClanOT/ClanOT-ExtdBook.otf') format('opentype'),
    url('/fonts/ClanOT/ClanOT-ExtdBook.ttf') format('ttf'),
    url('/fonts/ClanOT/ClanOT-ExtdBook.woff') format('woff'),
    url('/fonts/ClanOT/ClanOT-ExtdBook.woff2') format('woff2');
}

@font-face {
  font-family: 'ClanOT Extended Medium';
  src: url('/fonts/ClanOT/ClanOT-ExtdMedium.otf') format('opentype'),
    url('/fonts/ClanOT/ClanOT-ExtdMedium.ttf') format('ttf'),
    url('/fonts/ClanOT/ClanOT-ExtdMedium.woff') format('woff'),
    url('/fonts/ClanOT/ClanOT-ExtdMedium.woff2') format('woff2');
}

@font-face {
  font-family: 'Garamond Regular';
  src: url('/fonts/Garamond/Garamond-Regular.otf') format('opentype'),
    url('/fonts/Garamond/Garamond-Regular.ttf') format('ttf'),
    url('/fonts/Garamond/Garamond-Regular.woff') format('woff'),
    url('/fonts/Garamond/Garamond-Regular.woff2') format('woff2');
}

:root {
  // theme colors
  --primary-theme-color: #997300;
  --primary-background-color: #ffffff;
  --primary-icon-color: #ffffff;
  --primary-border-color: #e0e0e0;
  --primary-box-shadow-color: #00000029;
  --primary-error-text-color: #d32f2f;
  --primary-overlay-color: #00000039;

  // text colors
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #4a4a4a;

  // drawer colors
  --primary-drawer-color: #ffffff;
  --primary-drawer-notch-color: #eeeef1;
  --primary-drawer-top-left-border-radius: 0px;
  --primary-drawer-top-right-border-radius: 0px;
  --primary-drawer-height: 70vh;
  --primary-drawer-background-opacity: 0.6;

  // hamburger menu colors
  --hamburgermenu-background-color: #121212;
  --hamburgermenu-text-color: #ffffff;
  --hamburgermenu-icon-color: #ffffff;

  // font-families
  --primary-font-regular: 'ClanOT Book';
  --primary-font-medium: 'ClanOT Medium';
  --primary-font-semibold: '';
  --primary-font-bold: '';
  --primary-font-news: 'ClanOT News';

  --primary-font-extd-regular: 'ClanOT Extended Book';
  --primary-font-extd-medium: 'ClanOT Extended Medium';
  --primary-font-extd-semibold: '';
  --primary-font-extd-bold: '';
  --primary-font-extd-news: '';

  // headings
  --secondary-font-regular: 'Garamond Regular';
  --secondary-font-medium: '';
  --secondary-font-semibold: '';
  --secondary-font-bold: '';

  // banner font-family
  --primary-title-font-family: 'ClanOT Extended Book';
  --secondary-title-font-family: 'ClanOT News';

  //card component configs
  --primary-card-title-font-family: 'ClanOT News';
  --primary-card-desc-font-family: 'ClanOT Book';
  --primary-card-cta-font-family: 'ClanOT Extended Medium';
  --primary-card-background-color: #f8f8f8;
  --primary-card-border-radius: 0px;
  --primary-card-shadow-color: #00000010;

  // button configs
  --primary-button-color: #ffffff;
  --primary-button-background-color: #997300;
  --primary-button-border-radius: 0px;
  --primary-button-font-family: 'ClanOT Extended Book';
  --primary-button-background-color-disabled: #997300ab;

  --secondary-button-color: #997300;
  --secondary-button-background-color: #ffffff;
  --secondary-button-border-radius: 0px;
  --secondary-button-font-family: 'ClanOT Extended Book';
}

body {
  max-width: 768px;
  margin: auto;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-family: var(--primary-font-regular);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  // direction: rtl;
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

p {
  margin: 0;
  color: var(--primary-text-color);
  font-family: var(--primary-font-regular);
  overflow: hidden;
  text-overflow: ellipsis;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--primary-text-color);
  font-family: var(--secondary-font-regular);
}

.loaderWrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

// Material UI overwrites

.MuiButton-containedPrimary {
  color: var(--primary-button-color);
  background: var(--primary-button-background-color);
  border: none;
  border-radius: var(--primary-button-border-radius);
  width: 100%;
  font: $small var(--primary-button-font-family);
  height: 48px;
  line-height: 48px;
  text-align: center;
  &:disabled {
    background: var(--primary-button-background-color-disabled) !important;
    color: var(--primary-button-color);
  }
  &:hover:enabled {
    background: var(--primary-theme-color);
  }
}

.MuiButton-outlinedPrimary {
  color: var(--secondary-button-color);
  background: var(--secondary-button-background-color);
  border: 1px solid var(--secondary-button-color);
  border-radius: var(--primary-button-border-radius);
  width: 100%;
  font: $medium var(--secondary-button-font-family);
  height: 48px;
  line-height: 48px;
  text-align: center;

  &:hover:enabled {
    border: 1px solid var(--primary-theme-color);
  }
}

.MuiInput-root.Mui-disabled::before {
  border-bottom: 1px solid var(--primary-theme-color) !important;
}

.MuiButton-textPrimary {
  background: transparent;
  color: var(--primary-theme-color);
  border: none;
  width: 100%;
  border-radius: 0;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 11px 0;
  border-radius: 5px;
  overflow: hidden;

  &:hover:enabled {
    background: none;
    border: none;
  }
}

.MuiInputLabel-root {
  color: var(--tertiary-text-color);
}

.MuiInputLabel-root.Mui-focused {
  color: var(--tertiary-text-color);
}

.MuiInputBase-root,
.MuiInputBase-input,
.MuiFormLabel-root,
.MuiMenuItem-root {
  font-family: var(--primary-font-regular);
}

.Toastify__toast--error {
  background: #f7dfde;
  border-radius: 8px;
  box-sizing: border-box;
  max-width: 293px;
  margin: 15px auto;
  color: #b65754;
  font-size: 0.875rem;
  text-align: start;
  min-height: auto;
  padding: 0;
}

.Toastify__toast--success {
  background: #e7f7ed;
  border-radius: 8px;
  box-sizing: border-box;
  max-width: 293px;
  margin: 15px auto;

  color: #2daa5c;
  font-size: 0.875rem;
  text-align: start;
  min-height: auto;
  padding: 0;

  .Toastify__toast__close svg path {
    fill: #2daa5c;
  }
}

.Toastify__toast-body {
  margin: 0;
  padding: 15px 0px 15px 37px;
  max-width: 70%;
}

.Toastify__toast__close {
  width: 17px;
  height: 17px;
  position: absolute;
  top: 58%;
  right: 20px;

  transform: translateY(-50%);

  svg {
    width: 17px;
    height: 17px;
  }
}

.Toastify__toast-icon {
  svg {
    width: 15px;
    height: 15px;
  }
}

.MuiMenu-paper {
  max-height: 172px;
}

.MuiMenuItem-root {
  padding-bottom: 0;
  padding-top: 0;
  min-height: 35px;
}

.MuiFormLabel-filled {
  font-size: $small;
  color: var(--primary-text-color);
}

.MuiInputLabel-standard {
  font-size: $small;
  color: var(--tertiary-text-color);
}

.MuiInput-root::after,
.MuiInput-root:hover::before {
  border-bottom: 2px solid var(--primary-theme-color);
}

.MuiFormHelperText-root {
  color: var(--primary-error-text-color);
}

.MuiInputLabel-asterisk {
  color: var(--tertiary-text-color);
}

.Mui-error {
  color: var(--primary-error-text-color);
}

.Mui-error {
  &::after {
    border-bottom: 2px solid var(--primary-error-text-color);
  }
}

// webkit css
*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 3px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--primary-theme-color);
}

.MuiDialog-paper {
  position: absolute !important;
  bottom: 2rem !important;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  height: 100px;
}
