:root {
  // theme colors
  --primary-theme-color: #393939;
  --primary-background-color: #f8f8f8;
  --primary-icon-color: #393939;
  --primary-border-color: #e0e0e0;
  --primary-box-shadow-color: none;
  --primary-error-text-color: #f41313;
  --primary-disabled-color: #e0e0e0;

  // overlays
  --primary-overlay-color: #120e0e79;
  --secondary-overlay-color: #120e0eb1;

  // text colors
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #393939;

  // drawer colors
  --primary-drawer-color: #ffffff;
  --primary-drawer-notch-color: #eeeef1;
  --primary-drawer-top-left-border-radius: 0px;
  --primary-drawer-top-right-border-radius: 0px;
  --primary-drawer-height: 70dvh;
  --primary-drawer-background-opacity: 0.75;
  --primary-drawer-background-color: #000000;

  //image transition background color
  --primary-image-transition-background-color: #a0a1a3;

  // hamburger menu colors
  --hamburgermenu-drawer-color: #333333;
  --hamburgermenu-text-color: #ffffff;
  --hamburgermenu-icon-color: #ffffff;

  // font-families
  --primary-font-regular: 'ITC Franklin Gothic Std Book';
  --primary-font-medium: 'ITC Franklin Gothic Std Medium';
  --primary-font-semibold: '';
  --primary-font-bold: '';
  --primary-font-heading: 'Domaine Display';

  --primary-font-extd-regular: 'ITC Franklin Gothic Std Book';

  // headings
  --heading-font-regular: 'Domaine Display';

  // banner configs
  --primary-title-font-family: 'Domaine Display';
  --secondary-title-font-family: 'ITC Franklin Gothic Std Medium';
  --primary-indicator-color: #ffffff;

  // card component configs
  --primary-card-title-font-family: 'ITC Franklin Gothic Std Medium';
  --primary-card-desc-font-family: 'ITC Franklin Gothic Std Book';
  --primary-card-cta-font-family: 'ITC Franklin Gothic Std Medium';
  --primary-card-background-color: #f8f8f8;
  --primary-card-border-radius: 0px;
  --primary-card-shadow-color: #00000010;

  // button configs
  --primary-button-color: #ffffff;
  --primary-button-background-color: #393939;
  --primary-button-border-radius: 0px;
  --primary-button-font-family: 'ITC Franklin Gothic Std Medium';

  --secondary-button-color: #393939;
  --secondary-button-background-color: #ffffff;
  --secondary-button-border-radius: 0px;
  --secondary-button-font-family: 'ITC Franklin Gothic Std Medium';

  // read more cta configs
  --readmore-text: flex;
  --readmore-arrowwithtext: none;
  --readmore-arrow: none;
  --readmore-arrowhead: none;
  --readmore-underline: 1px solid var(--primary-text-color);

  // Bottom menu arrow configs
  --bottom-menu-arrow-color: #fff;
}

.MuiButton-containedPrimary {
  padding-top: 8px;

  &:disabled {
    background: var(--primary-disabled-color);
  }

  &:after {
    display: none;
  }
}

.MuiButton-outlinedPrimary {
  padding-top: 8px;
}

.globals-menuItemWrapper {
  border-bottom: 1px solid #3e3b3b !important;
}

// details card configs

.globals-carouselSlideWrapper {
  height: 300px !important;
}

.globals-carouselSlideImage {
  position: static !important;
}

.globals-carouselSlideDetailsWrapperRestaurantsAndBars {
  position: static !important;
  width: 100% !important;
  height: 110px !important;
  text-align: start !important;
  align-items: flex-start !important;
}

.globals-content {
  padding-left: 0% !important;
}

.globals-carouselSlideDetailsWrapper {
  position: static !important;
  width: 100% !important;
  height: 100px !important;
  text-align: start !important;
}

.globals-detailPosition {
  width: 100% !important;
}

.globals-carouselSlideTitle {
  padding: 10px 0 19px !important;
}

.globals-carouselSlideWrapperServiceRequest {
  height: 290px !important;
}

.globals-carouselSlideWrapperSpa {
  height: 300px !important;
}

.globals-contentWrapper {
  position: static !important;
  width: 100% !important;
  margin-top: 0 !important;
}

.globals-imageContent {
  padding: 10px 0px !important;
}

.globals-customReadMore {
  margin: 10px 0 !important;
}

.globals-text-align {
  text-align: start !important;
}

.globals-listDurationOffer {
  text-align: left;
}

// dining v2 flow

.globals-irdv2-showCurrencyInCheckbox {
  display: none !important;
}

.globals-irdv2-irdPrice {
  display: none;
}

.global-irdv2-diningConfirmButton {
  position: absolute;
  width: 58% !important;
  left: 0;
  padding-left: 15px;
}

.globals-irdv2-irdFlowShow {
  display: block !important;
}

.globals-irdv2-irdFlow {
  display: none !important;
}

.globals-irdv2-card {
  display: flex;
  margin: 0.75rem 0 0.75rem;
  padding: 0.8rem;
  text-align: start;
  border-radius: var(--primary-card-border-radius);
  box-shadow: 0px 1px 2px var(--primary-card-shadow-color);
  background-color: var(--primary-card-background-color);
  flex-direction: column;
}

.globals-irdv2-title {
  color: var(--primary-text-color);
}

.globals-irdv2-tagTitle {
  font: $xsmall var(--primary-font-regular);
  color: var(--primary-text-color);
  padding: 5px;
  background-color: var(--primary-card-shadow-color);
  line-height: 1.1;
  width: fit-content;
}

.globals-irdv2-currency {
  font: $small var(--primary-card-desc-font-family);
  color: var(--tertiary-text-color);
}

.globals-irdv2-description {
  font: $small var(--primary-card-desc-font-family);
  color: var(--tertiary-text-color);
  width: 140%;
  min-height: 1rem;
  line-height: 1.3;
  max-height: 4rem;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.globals-irdv2-contentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
  width: 284px;
  gap: 10px;
}

.globals-irdv2-detailsWrapperContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: start;
  width: 70%;
}

.globals-irdv2-image {
  width: 120px;
  height: 120px;
  border-radius: var(--primary-card-border-radius);
  position: relative;
  object-fit: cover;
  cursor: pointer;
}

.globals-irdv2-btnWrapper {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

.globals-irdv2-allergensWrapper {
  display: flex;
  flex-direction: row;
}

.globals-irdv2-category-element.globals-irdv2-chef-special {
  background-color: #d8d9db;
}
