@font-face {
  font-family: 'GillSans Medium';
  src: url('/fonts/GillSans/Gill-Sans-Medium.ttf') format('ttf'),
    url('/fonts/GillSans/Gill-Sans-Medium.woff') format('woff'),
    url('/fonts/GillSans/Gill-Sans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'GillSans Regular';
  src: url('/fonts/GillSans/GillSans-01.ttf') format('ttf'),
    url('/fonts/GillSans/GillSans-01.woff') format('woff'),
    url('/fonts/GillSans/GillSans-01.woff2') format('woff2');
}

@font-face {
  font-family: 'GillSans Semibold';
  src: url('/fonts/GillSans/GillSans-SemiBold-05.ttf') format('ttf'),
    url('/fonts/GillSans/GillSans-SemiBold-05.woff') format('woff'),
    url('/fonts/GillSans/GillSans-SemiBold-05.woff2') format('woff2');
}

@font-face {
  font-family: 'GillSans Bold';
  src: url('/fonts/GillSans/GillSans-Bold-02.ttf') format('ttf'),
    url('/fonts/GillSans/GillSans-Bold-02.woff') format('woff'),
    url('/fonts/GillSans/GillSans-Bold-02.woff2') format('woff2');
}

@font-face {
  font-family: 'GillSans Light';
  src: url('/fonts/GillSans/GillSans-Light-08.ttf') format('ttf'),
    url('/fonts/GillSans/GillSans-Light-08.woff') format('woff'),
    url('/fonts/GillSans/GillSans-Light-08.woff2') format('woff2');
}

:root {
  --custom-color: #000000; /* Default color */
  --color-primary: #164194;
}

.styled-element {
  color: var(--custom-color); /* Using the CSS variable */
}

body {
  font-family: $fontMedium;
  font-size: $medium;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

// Material UI overwrites

.MuiButton-outlinedPrimary {
  background: transparent;
  color: $colorPrimary;
  border: 1px solid $colorPrimary;
  width: 100%;
  border-radius: 0px;
  font-size: $medium;
  font-family: $fontMedium !important;
  text-align: center;
  height: 46px;
  line-height: 46px;

  &:hover:enabled {
    border-radius: 6px;
    background: none;
    border: 1px solid $colorPrimary;
  }
}

.MuiButton-containedPrimary {
  background: $colorPrimary;
  color: $textColorSecondary;
  border: none;
  width: 100%;
  border-radius: 0px;
  font-size: $medium;
  font-family: $fontMedium !important;
  height: 44px;
  line-height: 44px;
  text-align: center;
  &:hover:enabled {
    background: $colorPrimary;
  }
}

.MuiInput-root.Mui-disabled::before {
  border-bottom: 1px solid $colorPrimary !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $textColor;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 3px;
  background-color: transparent;
}

.MuiInputLabel-root {
  color: #828282 !important;
}

.MuiInputBase-root,
.MuiInputBase-input,
.MuiFormLabel-root,
.MuiButtonBase-root,
.MuiMenuItem-root {
  font-family: $fontRegular !important;
}
