:root {
  // theme colors
  --primary-theme-color: #282828;
  --primary-background-color: #f2ede7;
  --primary-icon-color: #ffffff;
  --primary-border-color: #201e1e;
  --primary-box-shadow-color: none;
  --primary-error-text-color: #f41313;
  --primary-disabled-color: #bab9b9;

  // overlays
  --primary-overlay-color: #120e0e79;
  --secondary-overlay-color: #120e0eb1;

  // text colors
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #393939;

  // drawer colors
  --primary-drawer-color: #f2ede7;
  --primary-drawer-notch-color: #d3cbc0;
  --primary-drawer-top-left-border-radius: 0px;
  --primary-drawer-top-right-border-radius: 0px;
  --primary-drawer-height: 70dvh;
  --primary-drawer-background-opacity: 0.75;
  --primary-drawer-background-color: #000000;

  //image transition background color
  --primary-image-transition-background-color: #a0a1a3;

  // hamburger menu colors
  --hamburgermenu-drawer-color: #f2ede7;
  --hamburgermenu-text-color: #201e1e;
  --hamburgermenu-icon-color: #201e1e;

  // font-families
  --primary-font-regular: 'GT Walsheim Regular';
  --primary-font-medium: 'GT Walsheim Regular';
  --primary-font-semibold: '';
  --primary-font-bold: '';
  --primary-font-heading: 'GT Sectra Fine';

  --primary-font-extd-regular: 'GT Walsheim Regular';

  // headings
  --heading-font-regular: 'GT Sectra Fine';

  // banner configs
  --primary-title-font-family: 'GT Sectra Fine';
  --secondary-title-font-family: 'GT Walsheim Regular';
  --primary-indicator-color: #ffffff;

  // card component configs
  --primary-card-title-font-family: 'GT Walsheim Medium';
  --primary-card-desc-font-family: 'GT Walsheim Regular';
  --primary-card-cta-font-family: 'GT Walsheim Regular';
  --primary-card-background-color: #e2dace;
  --primary-card-border-radius: 0px;
  --primary-card-shadow-color: #00000010;

  // button configs
  --primary-button-color: #ffffff;
  --primary-button-background-color: #201e1e;
  --primary-button-border-radius: 0px;
  --primary-button-font-family: 'GT Walsheim Regular';

  --secondary-button-color: #000000;
  --secondary-button-background-color: #e2dace;
  --secondary-button-border-radius: 0px;
  --secondary-button-font-family: 'GT Walsheim Medium';

  // read more cta configs
  --readmore-text: flex;
  --readmore-arrowwithtext: none;
  --readmore-arrow: none;
  --readmore-arrowhead: none;
  --readmore-underline: 1px solid var(--primary-text-color);

  // Bottom menu arrow configs
  --bottom-menu-arrow-color: #fff;
}

.MuiButton-containedPrimary {
  &:disabled {
    background: var(--primary-disabled-color);
  }

  &:after {
    display: none;
  }
}

.globals-contentWrapper {
  position: static !important;
  width: 100% !important;
  margin-top: 0 !important;
}

.globals-text-align {
  text-align: start !important;
}

.globals-imageContent {
  padding: 10px 0px !important;
}

.globals-customReadMore {
  margin: 10px 0 !important;
}

.globals-carouselSlideWrapperServiceRequest {
  height: 295px !important;
}

.globals-carouselSlideTitle {
  padding: 10px 0 19px !important;
}

.globals-carouselSlideImage {
  position: static !important;
}

.globals-carouselSlideDetailsWrapper {
  position: static !important;
  width: 100% !important;
  text-align: start !important;
  height: 100px !important;
  background: var(--primary-background-color) !important;
}

.globals-carouselSlideWrapper {
  height: 348px !important;
}

.globals-carouselSlideDetailsWrapperRestaurantsAndBars {
  position: static !important;
  width: 100% !important;
  text-align: start !important;
  align-items: flex-start !important;
  background: var(--primary-background-color) !important;
}

.globals-content {
  padding-left: 0% !important;
}

.globals-buttonWrapper {
  margin: 5px 0 !important;
}

.globals-spaTimings {
  margin: 0 !important;
}

.globals-carouselSlideWrapperSpa {
  height: 310px !important;
}

.globals-cardWrapper {
  background-color: var(--primary-background-color) !important;
}

.globals-checkContainer {
  background-color: #e2dace !important;
}

.globals-carouselCard {
  background: #f2ede7 !important;
}

.globals-contentWrapper {
  background: #f2ede7 !important;
}