:root {
  // theme colors
  --primary-theme-color: #595959;
  --primary-background-color: #e2dedc;
  --primary-icon-color: #595959;
  --primary-border-color: #bcbcbc;
  --primary-box-shadow-color: none;
  --primary-error-text-color: #f41313;
  --primary-disabled-color: #cdcaca;

  // overlays
  --primary-overlay-color: #120e0e79;
  --secondary-overlay-color: #120e0eb1;

  // text colors
  --primary-text-color: #303030;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #303030;

  // drawer colors
  --primary-drawer-color: #e2dedc;
  --primary-drawer-notch-color: #bcbcbc;
  --primary-drawer-top-left-border-radius: 24px;
  --primary-drawer-top-right-border-radius: 24px;
  --primary-drawer-height: 70dvh;
  --primary-drawer-background-opacity: 0.75;
  --primary-drawer-background-color: #000000;

  //image transition background color
  --primary-image-transition-background-color: #a0a1a3;

  // hamburger menu colors
  --hamburgermenu-drawer-color: #e2dedc;
  --hamburgermenu-text-color: #303030;
  --hamburgermenu-icon-color: #303030;

  // font-families
  --primary-font-regular: 'Brown Std';
  --primary-font-medium: 'Brown Std';
  --primary-font-semibold: '';
  --primary-font-bold: '';
  --primary-font-heading: 'Brown Std Alternate';

  --primary-font-extd-regular: 'Brown Std';

  // headings
  --heading-font-regular: 'Brown Std Alternate';

  // banner configs
  --primary-title-font-family: 'Brown Std Alternate';
  --secondary-title-font-family: 'Brown Std';
  --primary-indicator-color: #ffffff;

  // card component configs
  --primary-card-title-font-family: 'Brown Std';
  --primary-card-desc-font-family: 'Brown Std';
  --primary-card-cta-font-family: 'Brown Std';
  --primary-card-background-color: #e2dedc;
  --primary-card-border-radius: 0px;
  --primary-card-shadow-color: #00000010;

  // button configs
  --primary-button-color: #303030;
  --primary-button-background-color: #e2dedc;
  --primary-button-border-radius: 0px;
  --primary-button-font-family: 'Brown Std';

  --secondary-button-color: #303030;
  --secondary-button-background-color: #e2dedc;
  --secondary-button-border-radius: 0px;
  --secondary-button-font-family: 'Brown Std';

  // read more cta configs
  --readmore-text: flex;
  --readmore-arrowwithtext: none;
  --readmore-arrow: none;
  --readmore-arrowhead: none;
  --readmore-underline: 1px solid var(--primary-text-color);

  // Bottom menu arrow configs
  --bottom-menu-arrow-color: #546758;
}

.MuiButton-containedPrimary {
  border: none;
  border-bottom: 1px solid var(--primary-button-color);

  &:after {
    display: none;
  }

  &:disabled {
    background: var(--primary-disabled-color);
    color: #989797;
  }
}

.MuiButton-outlinedPrimary {
  border-bottom: 1px solid var(--secondary-button-color);

  &:hover:enabled {
    border-bottom: 1px solid var(--primary-button-color);
  }
}

// dining carousel tab configs

.globals-diningOptionsItem {
  font-size: $medium !important;
  font-family: var(--primary-font-medium) !important;
  text-transform: uppercase !important;
  height: 20px !important;
  padding: 0 !important;
  margin: 0 8px;
}

.globals-diningOptionsItem:before {
  background-color: transparent !important;
  color: var(--primary-text-color) !important;
}

.globals-diningOptions {
  background: none !important;
}

.globals-diningOptionsItemActive {
  border-bottom: 1px solid var(--primary-theme-color);
}

// details card configs

.globals-carouselSlideWrapper {
  height: 348px !important;
}

.globals-carouselSlideImage {
  position: static !important;
}

.globals-carouselSlideDetailsWrapperRestaurantsAndBars {
  position: static !important;
  width: 100% !important;
  text-align: start !important;
  align-items: flex-start !important;
}

.globals-content {
  padding-left: 0% !important;
}

.globals-carouselSlideDetailsWrapper {
  position: static !important;
  width: 100% !important;
  text-align: start !important;
  height: 100px !important;
}

.globals-detailPosition {
  width: 100% !important;
}

.globals-carouselSlideTitle {
  padding: 10px 0 19px !important;
}

.globals-carouselSlideWrapperServiceRequest {
  height: 290px !important;
}

.globals-carouselSlideWrapperSpa {
  height: 310px !important;
}

.globals-spaTimings {
  margin: 0 !important;
}

.globals-contentWrapper {
  position: static !important;
  width: 100% !important;
  margin-top: 0 !important;
}

.globals-text-align {
  text-align: start !important;
}

.globals-imageContent {
  padding: 10px 0px !important;
}

.globals-listDurationOffer {
  text-align: left;
}

.globals-buttonWrapper {
  margin: 5px 0 !important;
}

.globals-customReadMore {
  margin: 10px 0 !important;
}

.globals-actionCtaWrapper {
  background: var(--primary-button-color) !important;
  color: var(--primary-button-background-color) !important;
}