:root {
  // theme colors
  --primary-theme-color: #91723b;
  --primary-background-color: #f8f8f8;
  --primary-icon-color: #ffffff;
  --primary-border-color: #d9d9d9;
  --primary-box-shadow-color: #0000001a;
  --primary-error-text-color: #f41313;
  --primary-disabled-color: #dbdbdb;

  // overlays
  --primary-overlay-color: #120e0e79;
  --secondary-overlay-color: #120e0eb1;

  // text colors
  --primary-text-color: #393939;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #4a4a4a;

  // drawer colors
  --primary-drawer-color: #ffffff;
  --primary-drawer-notch-color: #9b9b9b;
  --primary-drawer-top-left-border-radius: 30px;
  --primary-drawer-top-right-border-radius: 30px;
  --primary-drawer-height: 70dvh;
  --primary-drawer-background-opacity: 0.75;
  --primary-drawer-background-color: #000000;

  //image transition background color
  --primary-image-transition-background-color: #a0a1a3;

  // hamburger menu colors
  --hamburgermenu-drawer-color: #ffffff;
  --hamburgermenu-text-color: #91723b;
  --hamburgermenu-icon-color: #91723b;

  // font-families
  --primary-font-regular: 'League Spartan';
  --primary-font-medium: 'League Spartan Medium';
  --primary-font-semibold: '';
  --primary-font-bold: '';
  --primary-font-heading: 'League Spartan Medium';

  --primary-font-extd-regular: 'League Spartan';

  // headings
  --heading-font-regular: 'Cinzel';

  // banner configs
  --primary-title-font-family: 'Cinzel';
  --secondary-title-font-family: 'League Spartan Medium';
  --primary-indicator-color: #ffffff;

  // card component configs
  --primary-card-title-font-family: 'League Spartan Medium';
  --primary-card-desc-font-family: 'League Spartan';
  --primary-card-cta-font-family: 'League Spartan Medium';
  --primary-card-background-color: #ffffff;
  --primary-card-border-radius: 15px;
  --primary-card-shadow-color: #00000010;

  // button configs
  --primary-button-color: #ffffff;
  --primary-button-background-color: #91723b;
  --primary-button-border-radius: 0px;
  --primary-button-font-family: 'League Spartan Medium';

  --secondary-button-color: #91723b;
  --secondary-button-background-color: #ffffff;
  --secondary-button-border-radius: 0px;
  --secondary-button-font-family: 'League Spartan Medium';

  // read more cta configs
  --readmore-text: flex;
  --readmore-arrowwithtext: none;
  --readmore-arrow: none;
  --readmore-arrowhead: none;
  --readmore-underline: 1px solid var(--primary-theme-color);
  // Bottom menu arrow configs
  --bottom-menu-arrow-color: #fff;
}

.MuiButton-containedPrimary {
  &:disabled {
    background: var(--primary-disabled-color);
  }

  &:after {
    display: none;
  }
}

// read more config
.globals-customReadMore {
  text-transform: Capitalize;
  color: var(--primary-theme-color) !important;
}
