:root {
  // theme colors
  --primary-theme-color: #d0a968;
  --primary-background-color: #f7f7f7;
  --primary-icon-color: #ffffff;
  --primary-border-color: #e0e0e0;
  --primary-box-shadow-color: #0000001a;
  --primary-error-text-color: #f41313;
  --primary-disabled-color: #e0e0e0;

  // overlays
  --primary-overlay-color: #120e0e79;
  --secondary-overlay-color: #120e0eb1;

  // text colors
  --primary-text-color: #4a4a4a;
  --secondary-text-color: #ffffff;
  --tertiary-text-color: #868686;

  // drawer colors
  --primary-drawer-color: #ffffff;
  --primary-drawer-notch-color: #eeeef1;
  --primary-drawer-top-left-border-radius: 20px;
  --primary-drawer-top-right-border-radius: 20px;
  --primary-drawer-height: 70vh;
  --primary-drawer-background-opacity: 0.75;
  --primary-drawer-background-color: #000000;

  //image transition background color
  --primary-image-transition-background-color: #a0a1a3;

  // hamburger menu colors
  --hamburgermenu-background-color: #333333;
  --hamburgermenu-text-color: #ffffff;
  --hamburgermenu-icon-color: #ffffff;

  // font-families
  --primary-font-regular: 'Arial';
  --primary-font-medium: 'Arial Bold';
  --primary-font-semibold: '';
  --primary-font-bold: '';
  --primary-font-heading: 'ITC Modern No 216';

  --primary-font-extd-regular: 'Arial';

  // headings
  --heading-font-regular: 'Trajan Pro Bold';

  // banner configs
  --primary-title-font-family: 'Trajan Pro Bold';
  --secondary-title-font-family: 'Arial Bold';
  --primary-indicator-color: #ffffff;

  // card component configs
  --primary-card-title-font-family: 'ITC Modern No 216';
  --primary-card-desc-font-family: 'Arial';
  --primary-card-cta-font-family: 'Arial';
  --primary-card-background-color: #ffffff;
  --primary-card-border-radius: 6px;
  --primary-card-shadow-color: #00000010;

  // button configs
  --primary-button-color: #ffffff;
  --primary-button-background-color: #d0a968;
  --primary-button-border-radius: 48px;
  --primary-button-font-family: 'Arial Bold';

  --secondary-button-color: #d0a968;
  --secondary-button-background-color: #ffffff;
  --secondary-button-border-radius: 48px;
  --secondary-button-font-family: 'Arial Bold';
}

.MuiButton-containedPrimary {
  &:disabled {
    background: var(--primary-disabled-color);
  }
  &:after {
    display: none;
  }
}
