$colorPrimary: #77406f;
$colorSecondary: #d4b87e;

$shadowColor: #00000033;

$textColor: #3d3c3c;
$textColorSecondary: #fff;
$textColorTernary: #545554;

//text sizes
$xsmall: 0.75rem; //12px
$small: 0.875rem; //14px
$medium: 1rem; //16px
$large: 1.125rem; //18px
$xlarge: 1.25rem; //20px
