// my orders gradient
$gradientPrimary: #7b301a;
$gradientSecondary: #d08d21;
$gradientTertiary: #ccf7b1;
$shadow: #00000029;
$divider: #00000023;
$secondaryCardColor: #efefef;

//text sizes
$extraSmall: 0.625rem; //10px
$xsmall: 0.75rem; //12px
$small: 0.875rem; //14px
$medium: 1rem; //16px
$large: 1.125rem; //18px
$xlarge: 1.25rem; //20px

$header: 1.5rem; //24px
$xheader: 1.75rem; //28px