.ServiceRequestCarouselWrapper {
  margin: 1rem 0;
}

.servicesCarouselTitle {
  font: $xheader var(--heading-font-regular);
  text-align: center;
  margin: 16px 0 8px;
}

.carouselWrapper {
  -webkit-user-select: none;
  user-select: none;
  overflow: scroll;
  margin-left: 12px;
  min-height: 245px;
}

.carouselWrapper::-webkit-scrollbar {
  display: none;
}

.carouselSlideWrapper {
  width: 100%;
  height: 245px;
  cursor: pointer;
}

.carouselSlideImage {
  margin-top: 10px;
  height: 182px;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: 200;
  position: absolute;
}

.carouselSlideDetailsWrapper {
  width: 251px;
  height: 110px;
  background: var(--primary-background-color);
  box-shadow: 0px 3px 6px var(--primary-box-shadow-color);
  text-align: center;
  position: absolute;
  z-index: 300;
  bottom: 5px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.carouselSlideTitle {
  font: $header var(--heading-font-regular);
  padding: 29px 1rem 19px;
  height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.carouselSlideViewMore {
  height: 12px;
  font: 9px var(--primary-font-extd-regular);
  color: var(--primary-theme-color);
  text-transform: uppercase;
  gap: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.carouselWrapperSingleImage {
  ul {
    width: 100% !important;
  }
}

.detailPosition {
  width: 95% !important;
}
