.houseKeepingCarouselImage {
  height: 312px;
  width: 100%;
  object-fit: cover;
}

.carouselWrapper {
  overflow-x: auto;
  position: relative;
  height: 312px;
  width: 100%;
  object-fit: cover;
  margin-top: 0rem;

  @media (pointer: coarse) {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.carouselText {
  font-size: 20px;
  color: $textColorSecondary;
  position: absolute;
  left: 26px;
  bottom: 51px;
  max-width: 243px;
  z-index: 20;
  font-family: $fontRegular;
}

.indicatorIcon {
  width: 6px;
  height: 6px;
  background: $textColorSecondary;

  &:not(:last-child) {
    margin-right: 6px;
  }
}
