.bannerWrapper {
  position: relative;
  width: 100%;
}

.pageTitle {
  position: absolute;
  left: 26px;
  bottom: 51px;

  h2 {
    font-size: 1.5rem;
    color: var(--secpndary-text-color);

    max-width: 315px;
    z-index: 20;
  }
}

.bannerImage {
  height: 312px;
  width: 100%;
  object-fit: cover;
}

.indicatorIcon {
  width: 6px;
  height: 6px;
  background: var(--secondary-text-color);

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.carouselWrapper {
  margin-top: -97px;
}

.activeIndicatorIcon {
  opacity: 1;
  transform: scale(1.3);
  margin: 0 1px;
}

.indicatorIconContainer {
  position: absolute;
  bottom: 16px;
  z-index: 5;
}
