.checkDates {
  border-top: 1px solid var(--primary-border-color);
  padding-top: 1rem;
}

.personalizationData {
  margin-bottom: 6px;
}

.checkDatesDetails {
  margin-bottom: 15px;
  color: var(--primary-text-color);
  font-family: var(--primary-font-medium);
  font-size: $medium;
}

.checkDatesText {
  font-family: var(--primary-font-regular);
  color: var(--primary-text-color);
  font-size: $xsmall;
}

.checkDates {
  display: flex;
  justify-content: space-between;
}

.description {
  font-size: $medium;
}

.border {
  border-top: 1px solid var(--primary-border-color);
  padding-bottom: 20px;
}

.cardWrapper {
  margin-top: 0px;
}

.personalizationText {
  color: var(--primary-text-color);
  font-size: $medium;
  width: 75%;
  text-align: start;
}

.step {
  border-bottom: 0px;
}

.personalizationQuantity {
  font-size: $small;
  color: var(--primary-text-color);
}

.agrementText {
  font-size: $small;
  max-width: none;
  margin-top: 10px;
  margin-left: 20px;
  a {
    color: var(--primary-theme-color);
    white-space: nowrap;
  }
}

.guestSignature {
  font-size: $medium;
  font-family: var(--primary-font-regular);
}

.clearBtn {
  color: var(--primary-theme-color);
  font-size: $small;
  font-family: var(--primary-font-medium);
}

.right {
  text-align: right;
}

.checkInButton {
  font-family: var(--primary-font-bold);
  font-size: $small;
}
