.checkDates {
  border-top: 1px solid var(--secondary-text-color);
  padding-top: 1rem;
}

.step {
  border-bottom: 0px;
}

.checkDatesDetails {
  margin-bottom: 15px;
  color: var(--primary-text-color);
  font-family: var(--primary-font-medium);
  font-size: $medium;
}

.checkDatesText {
  text-transform: uppercase;
  font-family: var(--primary-font-regular);
  color: var(--primary-text-color);
  font-size: $extraSmall;
}

.checkDates {
  display: flex;
  justify-content: space-between;
}

.description {
  font-size: $small;
}

.border {
  border-top: 1px solid var(--secondary-text-color);
  padding-bottom: 20px;
}

.cardWrapper {
  margin-top: 0px;
}

.personalizationText {
  color: var(--primary-text-color);
  font-size: $medium;
}

.agrementText {
  font-size: $small;
  max-width: none;
  margin-top: 10px;
  margin-left: 20px;
  a {
    color: var(--secondary-text-color);
    text-decoration: none;
    white-space: nowrap;
  }
}

.guestSignature {
  font-size: $xlarge;
  font-family: var(--primary-font-regular);
}

.clearBtn {
  color: var(--primary-text-color);
  font-family: var(--primary-font-regular);
}

.right {
  text-align: right;
}
