.personalizationQuantity {
  font-family: var(--primary-font-regular);
  font-size: $xsmall;
}

.price {
  font-size: $small;
  font-family: var(--primary-font-medium);
}

.personalzizationWrapper {
  padding: 0px;
  line-height: 1.5;
}

.personalizationTitle {
  font-size: $medium;
  font-weight: 900;
  margin-bottom: 5px;
}

.specialRequestsTitle {
  font-size: $medium;
  line-height: 1.25;
  margin-top: 11px;
}

.specialRequestsText {
  font-size: $medium;
  line-height: 1.25;
  margin-top: 5px;
}

.personalizationData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.personalizationText {
  font-size: $small;
  font-family: var(--primary-font-regular);
}

.agrementWrapper {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

.agrementText {
  text-align: start;
  font-size: $small;
  margin-inline-start: 15px;
  flex: 1;
  line-height: 1.4;
  color: var(--tertiary-text-color);

  a {
    color: var(--primary-theme-color);
    text-decoration: underline;
  }
}

.guestSignatureWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 10px 0;
}

.guestSignature {
  font-size: $medium;
  font-family: var(--primary-font-heading);
}

.clearBtn {
  color: var(--primary-theme-color);
  font-size: $medium;
  text-transform: none;
  width: fit-content;
  font-family: var(--primary-font-medium);
  cursor: pointer;
}

.agrementSignatureWrapper {
  canvas {
    background: #0f1b2a19;
  }

  margin: auto;
  margin-bottom: 100px;
  border-radius: 3px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.settlementWrapper {
  padding: 7px 16px 0 8px;
}

.settlementTitle {
  font-size: $medium;
  font-weight: 900;
  margin-bottom: 5px;
}

.settlementSubtitle {
  font-size: $medium;
  line-height: 1.25;
  margin-top: 12px;
}

.checkDates {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
  border-bottom: 1px solid var(--primary-border-color);
}

.checkDatesText {
  font-size: $extraSmall;
  text-align: start;
  color: var(--tertiary-text-color);
  padding-bottom: 5px;
  text-transform: uppercase;
}

.checkDatesDetails {
  font-family: var(--primary-font-heading);
  font-size: $small;
  margin-bottom: 20px;
  line-height: 1.25;
}

.description {
  float: left;
  font-size: $small;
  margin-bottom: 10px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font-heading);
  font-size: $small;
  color: var(--tertiary-text-color);

  div {
    text-align: start;
    font-family: var(--primary-font-heading);
    font-size: $small;
    color: var(--tertiary-text-color);
  }
}

.infoText {
  font-size: $small;
  padding: 25px 10px;
  line-height: 1.5;
  text-align: center;
  color: var(--tertiary-text-color);
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-bottom: 2rem;
}

.title {
  font-size: $large;
  font-family: var(--heading-font-regular);
  text-align: center;
  margin: auto;
}

.canvas {
  max-width: 768px;
}

.titleDescription {
  font-size: $xsmall;
  color: var(--tertiary-text-color);
  text-align: center;
  width: 90%;
  line-height: 1.25;
  margin: 4px auto;
}

.pageWrapper {
  padding: 0px 20px;
  padding-top: 64px;
}

.right {
  text-align: end;
}

.left {
  text-align: start;
}

.textTransform {
  text-transform: uppercase;
}

.bottomButton {
  width: 90%;
  max-width: 768px;
}

.checkInButton {
  width: 100%;
  margin: auto 10px;
  height: 44px;
}

.btnWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  max-width: 768px;
  height: 64px;
  margin: auto;
  border-top-left-radius: var(--primary-card-border-radius);
  border-top-right-radius: var(--primary-card-border-radius);
  box-shadow: 0px -2px 8px var(--primary-box-shadow-color);
  background: var(--primary-background-color);
  z-index: 1;
  animation: fadeIn 0.5s;
}

.stayInformation {
  display: flex;
  flex-wrap: wrap;
}

.guestInformation {
  display: flex;
  flex-direction: column;
}

.itemsColumn {
  width: 50%;
}

.shrinkedCard {
  display: flex;
  flex-direction: column;
}

.shrinkedText {
  font-size: 13px;
  line-height: 1.4;
}
