.centeredText {
  font-size: 0.75rem;
  line-height: 1.5;
  margin-top: 32px;
  margin-bottom: 32px;
}

.nextButton {
  width: 100vw;
  max-width: 768px;
  margin-left: -25px;
  margin-right: 0;
  font-weight: 500;
  font-size: 0.875rem;
  margin-top: auto;
  font-weight: normal;
}

.pageWrapper {
  min-height: calc(100vh - 48px);
  padding-bottom: 0;
}
