.centeredText {
  text-align: center;
  font-size: 1rem;
  margin: 50px 0 37px 0;
  line-height: 1.25;
}

.guestsList {
  & > div:not(:first-of-type) {
    margin-top: 30px;
  }
}

.addGuestButton {
  margin-top: 27px;
  text-transform: uppercase;
}

.nextButton {
  margin-top: 80px;
}
