.annotation {
  padding: 2px 8px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.5);
  background-color: var(--primary-background-color);
  font-family: sans-serif;
  color: var(---primary-text-color);
}
