.timeWrapperContent {
  width: 93%;
  display: flex;
  flex-direction: column;
}

.icon {
  align-self: center;
}

.timeRowShow {
  flex-direction: column;
  display: flex;
}

.timeRowOpen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
